Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2018-07, with the labels that each got.

#825 Custom deserializer helpers and improvements
  example/src/test/java/org/wordpress/android/fluxc/utils/JsonObjectExtensionsTests.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/reader/ReaderRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/reader/ReaderSearchSitesDeserializer.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/reader/ReaderSearchSitesDeserializer.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/reader/ReaderSearchSitesResponse.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/reader/ReaderSearchSitesResponse.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stockmedia/SearchStockMediaResponse.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stockmedia/SearchStockMediaResponse.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stockmedia/StockMediaRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/utils/JsonObjectExtensions.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/wporg/plugin/PluginWPOrgClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/wporg/plugin/WPOrgPluginResponse.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/wporg/plugin/WPOrgPluginResponse.kt
Labels: [Store] Plugin, [Store] Stock Media

#835 WooCommerce: Stats: Update supported granularities
  example/src/main/java/org/wordpress/android/fluxc/example/WooCommerceFragment.kt
  example/src/main/res/layout/fragment_woocommerce.xml
  example/src/test/java/org/wordpress/android/fluxc/wc/stats/WCStatsStoreTest.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/orderstats/OrderStatsRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCStatsStore.kt
Labels: [Store] Woo: Stats

#836 Use correct year format for week stats requests
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCStatsStore.kt
Labels: [Store] Woo: Stats

#846 Support retrying Jetpack tunnel GET requests on timeout
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_JetpackTunnelTest.kt
  example/src/androidTest/resources/jetpack-tunnel-timeout-error.json
  example/src/test/java/org/wordpress/android/fluxc/jetpacktunnel/JetpackTunnelGsonRequestTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/jetpacktunnel/JetpackTimeoutRequestHandler.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/jetpacktunnel/JetpackTunnelGsonRequest.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
Labels: Core, Error Management

#848 Adds ListModel and PostListModel and DB queries for them
  example/src/test/java/org/wordpress/android/fluxc/utils/ListSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/utils/PostListSqlUtilsTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/ListModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/PostListModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/ListSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/PostListSqlUtils.kt
Labels: [Store] Post

#847 Support for numeric-only tags
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_PostTestWPCom.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/post/PostRestClient.java
Labels: [Store] Post

#850 Fetch/pull orders filtered by a single order status
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCOrderTest.kt
  example/src/main/java/org/wordpress/android/fluxc/example/WooCommerceFragment.kt
  example/src/main/res/layout/fragment_woocommerce.xml
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCOrderStore.kt
Labels: [Store] Woo: Order

#852 Introduced API to fetch domain contact information for a User.
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_AccountTest.java
  fluxc/src/main/java/org/wordpress/android/fluxc/action/AccountAction.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/DomainContactModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/account/AccountRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/account/DomainContactResponse.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/AccountStore.java
  fluxc/src/main/tools/wp-com-endpoints.txt
Labels: [Store] Account
