Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2018-06, with the labels that each got.

#826 Fix broken build by re-arranging repository order
  build.gradle
Labels: Core

#822 Issue/821 reader site search
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_AppComponent.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_ReaderTest.java
  fluxc/src/main/java/org/wordpress/android/fluxc/action/ReaderAction.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/ReaderSiteModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/module/ReleaseNetworkModule.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/reader/ReaderRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/reader/ReaderSearchSitesDeserializer.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/reader/ReaderSearchSitesResponse.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ReaderStore.java
  fluxc/src/main/tools/wp-com-endpoints.txt
Labels: [Store] Reader

#828 Remove offset property from ReaderSearchSitesResponse
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/reader/ReaderSearchSitesDeserializer.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/reader/ReaderSearchSitesResponse.java
Labels: [Store] Reader

#824 Add change username and update plugin mocked tests
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedNetworkAppComponent.java
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_AccountTest.java
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_PluginTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/module/MockedNetworkModule.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_PluginTestJetpack.java
  example/src/androidTest/resources/change-username-success.json
  example/src/androidTest/resources/update-plugin-success-response.json
Labels: [Store] Account, [Store] Plugin

#818 Feature/quick start store
  example/src/test/java/org/wordpress/android/fluxc/utils/QuickStartSqlUtilsTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/QuickStartModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/QuickStartSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/QuickStartStore.kt
Labels: [Store] Quick Start

#830 WooCommerce: Add caching to order stats
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedNetworkAppComponent.java
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_CacheTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCStatsTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/module/ResponseMockingInterceptor.kt
  example/src/main/java/org/wordpress/android/fluxc/example/WooCommerceFragment.kt
  example/src/main/res/layout/fragment_woocommerce.xml
  example/src/test/java/org/wordpress/android/fluxc/wc/stats/WCStatsStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/BaseRequest.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/GsonRequest.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/BaseWPComRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/BaseXMLRPCClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/XMLRPCRequest.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/orderstats/OrderStatsRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCStatsStore.kt
Labels: Core, [Store] Woo: Stats

#829 Travis: Speed tweaks, parallel jobs, and mocked connected tests
  .travis.yml
Labels: Core, Tests

#831 Delete scheduled posts in connected tests
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_PostTestWPCom.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_PostTestXMLRPC.java
Labels: Tests

#833 Move OAuth token storage location
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WPComBase.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/auth/AccessToken.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
Labels: Core, [PR] Not Ready For Merge, [Store] Account

#832 Delete Activity Log data only when new data is succesfully fetched
  example/src/test/java/org/wordpress/android/fluxc/store/ActivityLogStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ActivityLogStore.kt
Labels: [Store] Activity Log
