Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2018-10, with the labels that each got.

#900 Use a sealed class for cause of change for OnPostChanged
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_PostTestWPCom.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_PostTestXMLRPC.java
  example/src/main/java/org/wordpress/android/fluxc/example/PostsFragment.kt
  example/src/test/java/org/wordpress/android/fluxc/page/PageStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/CauseOfOnPostChanged.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PageStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PostStore.java
  instaflux/src/main/java/org/wordpress/android/fluxc/instaflux/PostActivity.java
Labels: [Store] Page, [Store] Post

#918 Revert OkHttp to last working version for self-signed SSL site support
  fluxc/build.gradle
Labels: Core

#921 Add additional error info to jetpack remote install
  example/src/test/java/org/wordpress/android/fluxc/store/JetpackStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/jetpacktunnel/JetpackRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/JetpackStore.kt
Labels: Jetpack Remote Install

#922 ListStore changes for more customizability, local items support and more
  example/src/test/java/org/wordpress/android/fluxc/list/ListItemSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/list/ListManagerTest.kt
  example/src/test/java/org/wordpress/android/fluxc/list/ListModelTest.kt
  example/src/test/java/org/wordpress/android/fluxc/list/ListSqlUtilsTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/action/ListAction.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/ListDescriptor.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/ListFilter.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/ListItemDataSource.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/ListItemModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/ListManager.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/ListModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/ListOrder.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/ListType.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/PostListDescriptor.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/ListSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ListStore.kt
Labels: [Store] List

#920 Remove error when posts empty
  fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/post/PostXMLRPCClient.java
Labels: [Type] bug

#926 Add stats endpoints caching
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_InsightsTestJetpack.kt
  example/src/test/java/org/wordpress/android/fluxc/persistance/InsightsSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/InsightsFixtures.kt
  example/src/test/java/org/wordpress/android/fluxc/store/InsightsStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/InsightsMostPopularModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/InsightsSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/StatsSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/InsightsStore.kt
Labels: Stats Refresh

#934 Woocommerce: Fetch single order API access
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCOrdersTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCOrderTest.kt
  example/src/androidTest/resources/wc-fetch-order-response-success.json
  example/src/main/java/org/wordpress/android/fluxc/example/WooCommerceFragment.kt
  example/src/main/res/layout/fragment_woocommerce.xml
  plugins/woocommerce/src/main/java/org/wordpress/android/fluxc/action/WCOrderAction.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCOrderStore.kt
Labels: [Store] Woo: Order

#927 ListStore integration in PostStore
  example/src/androidTest/java/org/wordpress/android/fluxc/release/PostListConnectedTestHelper.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_AppComponent.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_PostListTestWpCom.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_PostListTestXMLRPC.kt
  example/src/test/java/org/wordpress/android/fluxc/list/ListManagerTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/action/PostAction.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/ListItemDataSource.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/ListManager.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/PostListDescriptor.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/post/PostRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/post/PostXMLRPCClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/PostSqlUtils.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ListStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PostStore.java
Labels: [Store] List, [Store] Post

#935 Add daily views to the latest post summary data
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/InsightsRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/persistance/InsightsSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/InsightsFixtures.kt
  example/src/test/java/org/wordpress/android/fluxc/store/InsightsStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/InsightsLatestPostModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/InsightsRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/InsightsSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/StatsSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/InsightsStore.kt
Labels: Stats Refresh

#937 Add the missing field value to the Crashylics error exception log
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCStatsStore.kt
Labels: [Store] Woo: Stats

#929 Fix page parent parameter
  fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/post/PostXMLRPCClient.java
Labels: [Store] Page

#942 Improvements for ListStore and its integration for post list
  example/src/androidTest/java/org/wordpress/android/fluxc/release/PostListConnectedTestHelper.kt
  example/src/test/java/org/wordpress/android/fluxc/list/ListManagerTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/ListItemDataSource.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/ListManager.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/PostListDescriptor.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/post/PostRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ListStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PostStore.java
Labels: [Store] List, [Store] Post

#947 Adds support for status list to PostListDescriptorForXmlRpcSite
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_PostListTestWpCom.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_PostListTestXMLRPC.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/PostListDescriptor.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/post/PostXMLRPCClient.java
Labels: [Store] List, [Store] Post

#948 Remove list actions for ListStore
  example/src/test/java/org/wordpress/android/fluxc/list/ListSqlUtilsTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/action/ListAction.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/ListDescriptor.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/ListSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ListStore.kt
Labels: [Store] List

#950 Adds ListStore and PostStore integration for it (Master PR)
  example/src/androidTest/java/org/wordpress/android/fluxc/release/PostListConnectedTestHelper.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_AppComponent.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_PostListTestWpCom.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_PostListTestXMLRPC.kt
  example/src/test/java/org/wordpress/android/fluxc/list/ListItemSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/list/ListManagerTest.kt
  example/src/test/java/org/wordpress/android/fluxc/list/ListModelTest.kt
  example/src/test/java/org/wordpress/android/fluxc/list/ListSqlUtilsTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/action/ListAction.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/action/PostAction.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/PostModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/ListDescriptor.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/ListItemDataSource.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/ListItemModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/ListManager.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/ListModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/ListOrder.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/ListState.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/PostListDescriptor.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/post/PostRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/post/PostXMLRPCClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/ListItemSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/ListSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/PostSqlUtils.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ListStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PostStore.java
Labels: [Store] List, [Store] Post

#951 Adds getRemoteItemId to ListManager
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/ListManager.kt
Labels: [Store] List
