Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2018-11, with the labels that each got.

#964 Format xml-rpc post list's modified date with ISO 8601
  fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/post/PostXMLRPCClient.java
Labels: [Store] List, [Store] Post

#966 Use correct property for last modified date of xml-rpc posts
  example/src/androidTest/java/org/wordpress/android/fluxc/release/PostListConnectedTestHelper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/post/PostXMLRPCClient.java
Labels: [Store] List, [Store] Post

#943 Show XMLRPC error when it's broken
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_DiscoveryTest.java
  example/tests.properties-example
  fluxc/src/main/java/org/wordpress/android/fluxc/network/discovery/SelfHostedEndpointFinder.java
Labels: [Type] bug

#963 VerticalStore foundations
  fluxc/src/main/java/org/wordpress/android/fluxc/action/VerticalAction.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/vertical/VerticalModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/vertical/VerticalSegmentModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/module/ReleaseNetworkModule.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/vertical/VerticalRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/VerticalStore.kt
Labels: [Store] Vertical

#971 Add stats today endpoint
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_InsightsTestJetpack.kt
  example/src/test/java/org/wordpress/android/fluxc/model/stats/InsightsMapperTest.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/InsightsRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/InsightsFixtures.kt
  example/src/test/java/org/wordpress/android/fluxc/store/InsightsStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/InsightsMapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/VisitsModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/WPComGsonRequest.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/InsightsRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/utils/DateStatsUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/InsightsSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/StatsSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/InsightsStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/utils/CurrentTimeProvider.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/utils/SiteUtils.java
Labels: Stats Refresh

#973 Add stats followers endpoint
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_InsightsTestJetpack.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/InsightsRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/persistance/InsightsSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/InsightsFixtures.kt
  example/src/test/java/org/wordpress/android/fluxc/store/InsightsStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/FollowersModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/InsightsMapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/GsonRequest.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/BaseWPComRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/WPComGsonRequestBuilder.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/InsightsRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/BaseXMLRPCClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/InsightsSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/StatsSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/InsightsStore.kt
Labels: Stats Refresh

#977 Rework how ListStore is consumed
  build.gradle
  example/build.gradle
  example/src/androidTest/java/org/wordpress/android/fluxc/release/PostListConnectedTestHelper.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_AppComponent.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_PostListTestWpCom.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_PostListTestXMLRPC.kt
  example/src/test/java/org/wordpress/android/fluxc/list/ListManagerTest.kt
  fluxc/build.gradle
  fluxc/src/main/java/org/wordpress/android/fluxc/action/ListAction.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/ListConfig.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/ListDescriptor.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/ListItemDataSource.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/ListManager.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/PagedListFactory.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/PagedListItemType.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/PagedListWrapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/PostListDescriptor.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/datastore/ListDataStoreInterface.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/datastore/PostListDataStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/post/PostRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/post/PostXMLRPCClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ListStore.kt
Labels: [Store] List

#980 Post the initial isEmpty value for PagedListWrapper
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/PagedListFactory.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/PagedListItemType.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/PagedListWrapper.kt
Labels: [Store] List

#978 Issue/add settings errors
  fluxc/src/main/java/org/wordpress/android/fluxc/store/AccountStore.java
Labels: [Store] Account

#982 Prevent duplicate fetch post requests in PostListDataStore
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/datastore/PostListDataStore.kt
Labels: [Store] List, [Store] Post

#975 Add stats comments endpoint
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_InsightsTestJetpack.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/InsightsRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/persistance/InsightsSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/InsightsFixtures.kt
  example/src/test/java/org/wordpress/android/fluxc/store/InsightsStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/CommentsModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/InsightsMapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/GsonRequest.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/InsightsRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/InsightsSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/StatsSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/InsightsStore.kt
Labels: Stats Refresh

#979 Add stats tags and categories endpoint
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_InsightsTestJetpack.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/InsightsRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/persistance/InsightsSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/InsightsFixtures.kt
  example/src/test/java/org/wordpress/android/fluxc/store/InsightsStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/InsightsMapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/TagsModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/InsightsRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/InsightsSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/StatsSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/InsightsStore.kt
Labels: Stats Refresh

#986 Add PageSize parameter to the store calls that need a page size
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_InsightsTestJetpack.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/InsightsRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/InsightsStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/CommentsModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/FollowersModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/InsightsMapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/TagsModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/InsightsRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/InsightsStore.kt
Labels: Stats Refresh

#990 Woo: Add action for fetching the max supported WooCommerce version
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedNetworkAppComponent.java
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCBaseStoreTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/module/MockedWCNetworkModule.kt
  example/src/main/java/org/wordpress/android/fluxc/example/WooCommerceFragment.kt
  example/src/main/res/layout/fragment_woocommerce.xml
  example/src/test/java/org/wordpress/android/fluxc/wc/WooCommerceStoreTest.kt
  plugins/woocommerce/src/main/java/org/wordpress/android/fluxc/action/WCCoreAction.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/module/ReleaseWCNetworkModule.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/WooCommerceRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WooCommerceStore.kt
Labels: [Store] WooCommerce

#993 Woo: Migrate to V3 API
  example/src/test/java/org/wordpress/android/fluxc/endpoints/WCWPAPIEndpointTest.kt
  fluxc-annotations/src/main/java/org/wordpress/android/fluxc/annotations/endpoint/WCWPAPIEndpoint.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
Labels: [Store] Woo: Order

#995 Woo: Differentiate system-generated order notes
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCOrdersTest.kt
  example/src/androidTest/resources/wc-order-notes-response-success.json
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCOrderNoteModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderNoteApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
Labels: [Store] Woo: Order

#989 Add publicize block to stats
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_InsightsTestJetpack.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/InsightsRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/persistance/InsightsSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/InsightsFixtures.kt
  example/src/test/java/org/wordpress/android/fluxc/store/InsightsStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/InsightsMapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/PublicizeModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/InsightsRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/InsightsSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/StatsSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/InsightsStore.kt
Labels: Stats Refresh

#987 Make fields in Stats nullable to avoid API errors
  example/src/test/java/org/wordpress/android/fluxc/model/stats/InsightsMapperTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/FollowersModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/InsightsMapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/InsightsRestClient.kt
Labels: Stats Refresh

#1005 Add missing migration of refreshed stats
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/time/TimeStatsMapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
Labels: Stats Refresh, [Type] bug

#1006 Feature/997 woo order search take2
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCOrdersTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCOrderTest.kt
  example/src/main/java/org/wordpress/android/fluxc/example/WooCommerceFragment.kt
  example/src/main/res/layout/fragment_woocommerce.xml
  plugins/woocommerce/src/main/java/org/wordpress/android/fluxc/action/WCOrderAction.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCOrderStore.kt
Labels: [Store] Woo: Order

#1009 Issue/updating quick start model for v2
  example/src/test/java/org/wordpress/android/fluxc/quickstart/QuickStartStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/utils/QuickStartSqlUtilsTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/QuickStartTaskModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/QuickStartSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/QuickStartStore.kt
Labels: [Store] Quick Start
