Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2018-09, with the labels that each got.

#890 ListStore Part 1: ListModel, ListDescriptor, ListType, ListFilter, ListOrder, ListState
  example/src/test/java/org/wordpress/android/fluxc/list/ListItemSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/list/ListModelTest.kt
  example/src/test/java/org/wordpress/android/fluxc/list/ListSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/utils/ListItemSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/utils/ListSqlUtilsTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/ListModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/ListDescriptor.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/ListFilter.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/ListItemDataSource.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/ListItemModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/ListModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/ListOrder.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/ListState.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/ListType.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/ListItemSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/ListSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
Labels: [Store] List

#893 Remove unused search post/page action from PostStore
  example/src/main/java/org/wordpress/android/fluxc/example/PostsFragment.kt
  example/src/main/res/layout/fragment_posts.xml
  fluxc/src/main/java/org/wordpress/android/fluxc/action/PostAction.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/post/PostRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PostStore.java
Labels: [Store] Post

#891 ListStore Part 2: ListStore & ListManager
  example/src/test/java/org/wordpress/android/fluxc/list/ListManagerTest.kt
  example/src/test/java/org/wordpress/android/fluxc/list/ListModelTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/action/ListAction.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/ListManager.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/ListModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/ListState.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ListStore.kt
Labels: [Store] List

#894 Page updating
  example/src/test/java/org/wordpress/android/fluxc/page/PageStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PageStore.kt
Labels: [Store] Page

#898 Lower the number of orders returned per fetch from 50 to 25
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCOrderStore.kt
Labels: [Store] Woo: Order

#896 Replace runBlocking in unit tests with a new function called test
  example/src/test/java/org/wordpress/android/fluxc/CoroutinesTestUtils.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/activity/ActivityLogRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/jetpacktunnel/JetpackRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/page/PageStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/ActivityLogStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/JetpackStoreTest.kt
Labels: Tests

#899 Fixes FetchPostsPayload constructor and a minor issue in PageStoreTest
  example/src/test/java/org/wordpress/android/fluxc/page/PageStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PostStore.java
Labels: [Store] Page, [Store] Post

#889 Feature/formattable content
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_ActivityLogTestJetpack.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/activity/ActivityFixtures.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/activity/ActivityLogRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/tools/FormattableContentMapperTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/activity/ActivityLogModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/module/ReleaseNetworkModule.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/activity/ActivityLogRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/ActivityLogSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
  fluxc/src/main/java/org/wordpress/android/fluxc/tools/FormattableContentMapper.kt
Labels: Extract Notifications

#906 Drop the correct table for AL migration
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
Labels: [Store] Activity Log, [Type] bug

#901 Add fixed list of stats
  fluxc/src/main/java/org/wordpress/android/fluxc/store/StatsStore.kt
Labels: Stats Refresh

#909 Bump KtLint version to 0.28.0 and fix all the failures
  build.gradle
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_CacheTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCOrdersTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCStatsTest.kt
  example/src/main/java/org/wordpress/android/fluxc/example/WooCommerceFragment.kt
  example/src/test/java/org/wordpress/android/fluxc/utils/SiteUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/order/WCOrderStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/stats/WCStatsStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/PlanModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/jetpacktunnel/JetpackTimeoutRequestHandler.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/reader/ReaderSearchSitesResponse.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/PlansResponse.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stockmedia/SearchStockMediaResponse.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/wporg/plugin/WPOrgPluginResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCOrderModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCStatsStore.kt
Labels: Core

#866 NotificationStore with device registration/unregistration
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedNetworkAppComponent.java
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_NotificationTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/module/MockedNetworkModule.java
  example/src/androidTest/java/org/wordpress/android/fluxc/module/ResponseMockingInterceptor.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/action/NotificationAction.java
  fluxc/src/main/java/org/wordpress/android/fluxc/module/ReleaseNetworkModule.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/auth/AccessToken.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/notifications/NotificationRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/notifications/RegisterDeviceRestResponse.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/NotificationStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/utils/PreferenceUtils.kt
  fluxc/src/main/tools/wp-com-endpoints.txt
Labels: [Store] Notification

#908 Bump Kotlin and Coroutine version
  build.gradle
  example/build.gradle
  example/src/test/java/org/wordpress/android/fluxc/page/PageStoreTest.kt
  fluxc/build.gradle
  fluxc/src/main/java/org/wordpress/android/fluxc/module/ReleaseNetworkModule.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ActivityLogStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/JetpackStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PageStore.kt
Labels: Core

#907 Issue/904 woo visitor stats
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCStatsTest.kt
  example/src/androidTest/resources/wc-visitor-stats-response-success.json
  example/src/main/java/org/wordpress/android/fluxc/example/WooCommerceFragment.kt
  example/src/main/res/layout/fragment_woocommerce.xml
  fluxc/src/main/tools/wp-com-endpoints.txt
  plugins/woocommerce/src/main/java/org/wordpress/android/fluxc/action/WCStatsAction.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/orderstats/OrderStatsRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/orderstats/VisitorStatsApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCStatsStore.kt
Labels: [Store] Woo: Stats

#913 Locally-changed pages
  fluxc/src/main/java/org/wordpress/android/fluxc/model/page/PageModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PageStore.kt
Labels: [Store] Page

#911 Add first Insights endpoint - All Time, Most Popular and Latest post
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_AppComponent.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_InsightsTestJetpack.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/activity/ActivityLogRestClientTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/InsightsAllTimeModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/InsightsLatestPostModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/InsightsMostPopularModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/module/ReleaseNetworkModule.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/WPComGsonRequestBuilder.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/InsightsRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/InsightsStore.kt
  fluxc/src/main/tools/wp-com-endpoints.txt
Labels: Stats Refresh

#915 Add Insight endpoints tests
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/InsightsRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/InsightsStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/InsightsStore.kt
Labels: Stats Refresh

#917 Redo reverted change to fix migration to version 40
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
Labels: [Type] bug

#916 Bump deprecated libraries - gson, kotlin, volley
  build.gradle
  example/build.gradle
  fluxc/build.gradle
Labels: Tech debt
