Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2018-03, with the labels that each got.

#721 Replace InstrumentationTestCase by JUnit tests and use the test orchestrator
  build.gradle
  example/build.gradle
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_AccountTest.java
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_Base.java
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_SiteTest.java
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_UploadStoreTest.java
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_UploadTest.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_AccountAvailabilityTest.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_AccountTest.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_Base.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_CommentTestWPCom.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_CommentTestXMLRPC.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_DiscoveryTest.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_FluxCImageLoaderTest.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_MediaTestJetpack.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_MediaTestWPCom.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_MediaTestXMLRPC.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_PluginTestJetpack.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_PostTestWPCom.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_PostTestXMLRPC.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_SiteTestJetpack.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_SiteTestWPCom.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_SiteTestXMLRPC.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_TaxonomyTestWPCom.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_TaxonomyTestXMLRPC.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_ThemeTestJetpack.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_ThemeTestWPCom.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_UploadTest.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WPComBase.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WPOrgPluginTest.java
  fluxc/build.gradle
  fluxc/src/main/java/org/wordpress/android/fluxc/network/UserAgent.java
  instaflux/build.gradle
Labels: Core

#733 Save plugin search results in DB
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WPOrgPluginTest.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PluginStore.java
Labels: [Store] Plugin

#741 Plugin Improvements
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_PluginTestJetpack.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WPOrgPluginTest.java
  example/src/test/java/org/wordpress/android/fluxc/WPComEndpointTest.java
  example/src/test/java/org/wordpress/android/fluxc/WPComV2EndpointTest.java
  example/src/test/java/org/wordpress/android/fluxc/plugin/PluginDirectorySqlUtilsTest.java
  example/src/test/java/org/wordpress/android/fluxc/plugin/SitePluginSqlUtilsTest.java
  example/src/test/java/org/wordpress/android/fluxc/plugin/WPOrgPluginSqlUtilsTest.java
  fluxc/src/main/java/org/wordpress/android/fluxc/action/PluginAction.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/plugin/ImmutablePluginModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/plugin/PluginDirectoryType.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/plugin/SitePluginModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/plugin/WPOrgPluginModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/plugin/PluginRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/wporg/plugin/PluginWPOrgClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/PluginSqlUtils.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PluginStore.java
  fluxc/src/main/tools/wp-com-endpoints.txt
  fluxc/src/main/tools/wp-com-v2-endpoints.txt
Labels: [Store] Plugin

#739 Add gradle fetchstyle plugin
  build.gradle
Labels: Core

#738 Implement retrieve of Space Quota information and store in on the model.
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_SiteTestWPCom.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/SiteModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteWPComRestResponse.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
Labels: [Store] Site, [Type] enhancement

#703 AccountStore connected test tweaks
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_AccountTest.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_AccountTest.java
Labels: [Store] Account

#746 Add checks for disk space quota before media uploads.
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_MediaTestJetpack.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/SiteModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/media/MediaRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/MediaStore.java
Labels: [Store] Media, [Store] Upload, [Type] enhancement

#744 Drop redundant constructor @Inject annotations
  fluxc/src/main/java/org/wordpress/android/fluxc/network/discovery/DiscoveryWPAPIRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/discovery/DiscoveryXMLRPCClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/discovery/SelfHostedEndpointFinder.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/account/AccountRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/auth/AccessToken.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/auth/Authenticator.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/comment/CommentRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/plugin/PluginRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/post/PostRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/taxonomy/TaxonomyRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/theme/ThemeRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/wporg/plugin/PluginWPOrgClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/comment/CommentXMLRPCClient.java
Labels: Core

#752 Reset the site object for each WP.com connected test class
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WPComBase.java
Labels: Core

#750 Set `locale` in body too for the /users/new/ call
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/BaseWPComRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/account/AccountRestClient.java
Labels: [Store] Account

#753 Limit theme activation tests to _Twenty ..._ themes
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_ThemeTestWPCom.java
Labels: [Store] Theme

#754 Add WooCommerce plugin and basic store
  .idea/inspectionProfiles/Project_Default.xml
  example/build.gradle
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedNetworkAppComponent.java
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_JetpackTunnelTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/module/MockedNetworkModule.java
  example/src/androidTest/java/org/wordpress/android/fluxc/module/ResponseMockingInterceptor.java
  example/src/androidTest/resources/jetpack-tunnel-root-response-failure.json
  example/src/androidTest/resources/jetpack-tunnel-root-response-success.json
  example/src/androidTest/resources/jetpack-tunnel-wp-v2-settings-response-success.json
  example/src/main/java/org/wordpress/android/fluxc/example/ExampleApp.kt
  example/src/main/java/org/wordpress/android/fluxc/example/MainFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/WooCommerceFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/di/FragmentsModule.kt
  example/src/main/res/layout/fragment_main.xml
  example/src/main/res/layout/fragment_woocommerce.xml
  example/src/test/java/org/wordpress/android/fluxc/jetpacktunnel/JetpackTunnelGsonRequestTest.kt
  fluxc-processor/src/main/java/org/wordpress/android/fluxc/processor/EndpointProcessor.java
  fluxc/build.gradle
  fluxc/src/main/java/org/wordpress/android/fluxc/model/SiteModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/jetpacktunnel/JetpackTunnelGsonRequest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/jetpacktunnel/JetpackTunnelResponse.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteWPComRestResponse.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
  fluxc/src/main/tools/wp-com-endpoints.txt
  plugins/woocommerce/build.gradle
  plugins/woocommerce/src/main/AndroidManifest.xml
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/action/WooCommerceAction.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCOrderModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WooCommerceStore.kt
  settings.gradle
Labels: [Store] WooCommerce

#748 Added search filters to support additional media filters
  example/src/test/java/org/wordpress/android/fluxc/media/MediaStoreTest.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/MediaSqlUtils.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/MediaStore.java
Labels: [Store] Media, [Type] enhancement

#760 Use UploadStockMediaError rather than StockMediaError in the MediaStore
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/media/MediaRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/MediaStore.java
Labels: [Store] Stock Media

#761 Feature/stock photos master
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_AppComponent.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_MediaTestWPCom.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_StockMediaTest.java
  fluxc/src/main/java/org/wordpress/android/fluxc/action/MediaAction.java
  fluxc/src/main/java/org/wordpress/android/fluxc/action/StockMediaAction.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/StockMediaModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/module/ReleaseNetworkModule.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/media/MediaRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stockmedia/SearchStockMediaResponse.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stockmedia/StockMediaRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/MediaStore.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/StockMediaStore.java
  fluxc/src/main/tools/wp-com-endpoints.txt
Labels: [Store] Stock Media

#767 issue/766-increase_stock_media_fetch_count
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stockmedia/StockMediaRestClient.java
Labels: [Store] Stock Media

#757 Activity Log store - part 2 - Cleanup and test ActivityRestClient
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_ActivityLogTestJetpack.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/activity/ActivityFixtures.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/activity/ActivityLogRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/ActivityLogStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/module/ReleaseNetworkModule.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/WPComGsonRequestBuilder.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/activity/ActivityLogRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ActivityLogStore.kt
Labels: Activity Log

#769 Update Gradle plugin to 3.1.0, sdk to 27
  .gitignore
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .travis.yml
  build.gradle
  example/build.gradle
  fluxc/build.gradle
  gradle/wrapper/gradle-wrapper.properties
  instaflux/build.gradle
  plugins/woocommerce/build.gradle
Labels: Core

#758 Activity Log store - Part 3 - SQL Utils + tests
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_ActivityLogTestJetpack.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/activity/ActivityLogRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/ActivityLogStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/activity/ActivityLogModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/activity/ActivityLogRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/ActivityLogSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ActivityLogStore.kt
Labels: Activity Log

#713 WooCommerce: Add support for fetching orders
  example/src/debug/java/org/wordpress/android/fluxc/example/di/AppComponentDebug.kt
  example/src/main/java/org/wordpress/android/fluxc/example/WooCommerceFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/di/AppComponent.kt
  example/src/main/res/layout/fragment_woocommerce.xml
  example/src/test/java/org/wordpress/android/fluxc/SingleStoreWellSqlConfigForTests.java
  example/src/test/java/org/wordpress/android/fluxc/endpoints/EndpointNodeTest.java
  example/src/test/java/org/wordpress/android/fluxc/endpoints/WCWPAPIEndpointTest.kt
  example/src/test/java/org/wordpress/android/fluxc/endpoints/WPAPIEndpointTest.java
  example/src/test/java/org/wordpress/android/fluxc/endpoints/WPComEndpointTest.java
  example/src/test/java/org/wordpress/android/fluxc/endpoints/WPComV2EndpointTest.java
  example/src/test/java/org/wordpress/android/fluxc/endpoints/WPOrgAPIEndpointTest.java
  example/src/test/java/org/wordpress/android/fluxc/wc/WooCommerceStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/order/OrderTestUtils.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/order/WCOrderStoreTest.kt
  fluxc-annotations/src/main/java/org/wordpress/android/fluxc/annotations/endpoint/WCWPAPIEndpoint.java
  fluxc-processor/src/main/java/org/wordpress/android/fluxc/processor/EndpointProcessor.java
  plugins/woocommerce/build.gradle
  plugins/woocommerce/src/main/java/org/wordpress/android/fluxc/action/WCOrderAction.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/action/WooCommerceAction.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCOrderModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/module/ReleaseWCNetworkModule.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderStatus.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/OrderSqlUtils.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCOrderStore.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WooCommerceStore.kt
  plugins/woocommerce/src/main/tools/wc-wp-api-endpoints.txt
Labels: [Store] Woo: Order, [Store] WooCommerce
