Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2018-04, with the labels that each got.

#771 Bump minSdk to 15 and fix connected tests
  .travis.yml
  example/build.gradle
  fluxc/build.gradle
  plugins/woocommerce/build.gradle
Labels: Core

#776 WooCommerce: Store order details
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedNetworkAppComponent.java
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_Base.java
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCOrdersTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/module/MockedWCNetworkModule.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/module/ResponseMockingInterceptor.java
  example/src/androidTest/resources/wc-orders-response-success.json
  example/src/test/java/org/wordpress/android/fluxc/TestUtils.java
  example/src/test/java/org/wordpress/android/fluxc/UnitTestUtils.java
  example/src/test/java/org/wordpress/android/fluxc/site/SiteXMLRPCClientTest.java
  example/src/test/java/org/wordpress/android/fluxc/wc/order/OrderTestUtils.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/order/WCOrderModelTest.kt
  example/src/test/resources/wc/lineitems.json
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCOrderModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/order/OrderAddress.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
Labels: [Store] WooCommerce

#779 WooCommerce: Add customer_note mapping to WCOrderModel
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCOrdersTest.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCOrderModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
Labels: [Store] Woo: Order

#773 Issue/crash account client
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/account/AccountRestClient.java
Labels: [Store] Account

#774 Issue/add notification subscriptions
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/account/AccountRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/AccountStore.java
Labels: [Store] Account

#747 Update to ktlint 0.21.0
  .idea/codeStyleSettings.xml
  build.gradle
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_JetpackTunnelTest.kt
  example/src/main/java/org/wordpress/android/fluxc/example/MainFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ThreeEditTextDialog.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/jetpacktunnel/JetpackTunnelGsonRequest.kt
Labels: Core

#778 GDPR - Add Tracks Opt Out field to Account Settings
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_AccountTest.java
  example/src/test/java/org/wordpress/android/fluxc/account/AccountModelTest.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/AccountModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/account/AccountRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/account/AccountSettingsResponse.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
Labels: [Store] Account

#755 Checkstyle rule enforcing fully qualified imports for Store nested classes
  .idea/codeStyles/Project.xml
  config/checkstyle.xml
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_FluxCImageLoaderTest.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_MediaTestWPCom.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_StockMediaTest.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_ThemeTestJetpack.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_ThemeTestWPCom.java
  example/src/main/java/org/wordpress/android/fluxc/example/ThemeFragment.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stockmedia/StockMediaRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/StockMediaStore.java
  instaflux/src/main/java/org/wordpress/android/fluxc/instaflux/PostActivity.java
Labels: Core

#781 WooCommerce: Update order status
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_JetpackTunnelTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCOrdersTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/module/ResponseMockingInterceptor.java
  example/src/androidTest/resources/wc-order-update-response-failure-invalid-id.json
  example/src/androidTest/resources/wc-order-update-response-success.json
  example/src/main/java/org/wordpress/android/fluxc/example/WooCommerceFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/utils/AlertDialogUtils.kt
  example/src/main/res/layout/fragment_woocommerce.xml
  example/src/test/java/org/wordpress/android/fluxc/wc/order/WCOrderStoreTest.kt
  plugins/woocommerce/src/main/java/org/wordpress/android/fluxc/action/WCOrderAction.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCOrderStore.kt
  plugins/woocommerce/src/main/tools/wc-wp-api-endpoints.txt
Labels: [Store] Woo: Order

#783 Issue/jetpack connect signup
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_AccountTest.java
  example/src/main/java/org/wordpress/android/fluxc/example/SignedOutActionsFragment.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/auth/Authenticator.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/AccountStore.java
Labels: [Store] Account

#787 Update Gradle plugin to 3.1.1
  build.gradle
Labels: Core

#762 Activity Log store - part 4 - Add SQL methods and tests for RewindStatus
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_ActivityLogTestJetpack.kt
  example/src/test/java/org/wordpress/android/fluxc/store/ActivityLogStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/activity/ActivityLogModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/activity/RewindStatusModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/WPComGsonRequestBuilder.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/activity/ActivityLogRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/ActivityLogSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ActivityLogStore.kt
Labels: [Store] Activity Log

#786 Issue/785 changed posts count
  example/src/test/java/org/wordpress/android/fluxc/post/PostStoreUnitTest.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/PostSqlUtils.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PostStore.java
Labels: [Store] Post

#770 Activity Log Store - Part 5 - Rewind
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_ActivityLogTestJetpack.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/activity/ActivityLogRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/ActivityLogStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/action/ActivityLogAction.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/WPComGsonRequestBuilder.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/activity/ActivityLogRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/ActivityLogSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ActivityLogStore.kt
  fluxc/src/main/tools/wp-com-endpoints.txt
  fluxc/src/main/tools/wp-com-v2-endpoints.txt
Labels: [Store] Activity Log

#780 Activity store - part 6 - move pagination to store
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_ActivityLogTestJetpack.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/activity/ActivityFixtures.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/activity/ActivityLogRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/ActivityLogStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/activity/ActivityLogModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/activity/ActivityLogRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/ActivityLogSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ActivityLogStore.kt
Labels: [Store] Activity Log

#791 Activity log - store, rest client and sql utils
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_ActivityLogTestJetpack.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_AppComponent.java
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/activity/ActivityFixtures.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/activity/ActivityLogRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/ActivityLogStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/action/ActivityLogAction.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/activity/ActivityLogModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/activity/RewindStatusModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/module/ReleaseNetworkModule.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/WPComGsonRequestBuilder.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/activity/ActivityLogRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/ActivityLogSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ActivityLogStore.kt
  fluxc/src/main/tools/wp-com-endpoints.txt
  fluxc/src/main/tools/wp-com-v2-endpoints.txt
Labels: [Store] Activity Log

#792 Feature/notification subscriptions
  fluxc/src/main/java/org/wordpress/android/fluxc/action/AccountAction.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/SubscriptionModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/SubscriptionsModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/account/AccountRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/account/SubscriptionResponse.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/account/SubscriptionRestResponse.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/AccountSqlUtils.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/AccountStore.java
  fluxc/src/main/tools/wp-com-endpoints.txt
  fluxc/src/main/tools/wp-com-v2-endpoints.txt
Labels: [Store] Account

#790 Account for WP V2 API error code naming
  example/src/test/java/org/wordpress/android/fluxc/network/WPComGsonRequestTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/WPComGsonRequest.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/account/AccountRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/AccountStore.java
Labels: Core, [Store] Account

#788 Force testWPComFetch() to use the primary test account
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_AccountTest.java
Labels: Tests, [Store] Account

#777 Control ResponseMockingInterceptor from inside tests
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_JetpackTunnelTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_SiteTest.java
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_UploadStoreTest.java
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_UploadTest.java
  example/src/androidTest/java/org/wordpress/android/fluxc/module/MockedNetworkModule.java
  example/src/androidTest/java/org/wordpress/android/fluxc/module/ResponseMockingInterceptor.java
  example/src/androidTest/java/org/wordpress/android/fluxc/module/ResponseMockingInterceptor.kt
  example/src/androidTest/resources/media-upload-response-failure.json
Labels: Tests
