Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2018-12, with the labels that each got.

#991 Woo: Remove label property from CoreOrderStatus
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/CoreOrderStatus.kt
Labels: [Store] Woo: Order

#994 Fetch Notifications and Mark Seen
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_NotificationTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_AppComponent.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_NotificationTest.kt
  example/src/androidTest/resources/fetch-notifications-response-success.json
  example/src/androidTest/resources/mark-notification-seen-response-success.json
  example/src/test/java/org/wordpress/android/fluxc/notifications/NotificationSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/notifications/NotificationTestUtils.kt
  example/src/test/java/org/wordpress/android/fluxc/tools/FormattableContentMapperTest.kt
  example/src/test/resources/notifications/formattable-content-array.json
  example/src/test/resources/notifications/notifications-api-response.json
  example/src/test/resources/notifications/store-order-notification.json
  example/src/test/resources/notifications/store-review-notification.json
  fluxc/src/main/java/org/wordpress/android/fluxc/action/NotificationAction.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/NotificationModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/notifications/NotificationApiResponse.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/notifications/NotificationRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/notifications/NotificationSeenApiResponse.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/notifications/NotificationsApiResponse.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/NotificationSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/NotificationStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/tools/FormattableContentMapper.kt
  fluxc/src/main/tools/wp-com-endpoints.txt
Labels: [Store] Notification, [Store] Woo: Notifications

#1017 Properly translate remoteSiteId to localSiteId before storing notific…
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_NotificationTest.kt
  example/src/test/java/org/wordpress/android/fluxc/notifications/NotificationSqlUtilsTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/NotificationModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/notifications/NotificationApiResponse.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/notifications/NotificationRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/NotificationSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/NotificationStore.kt
Labels: [Store] Woo: Notifications

#1015 Woo: Merge V3 API migration branch into develop
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCOrdersTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCOrderTest.kt
  example/src/androidTest/resources/wc-order-notes-response-success.json
  example/src/main/java/org/wordpress/android/fluxc/example/WooCommerceFragment.kt
  example/src/main/res/layout/fragment_woocommerce.xml
  example/src/test/java/org/wordpress/android/fluxc/endpoints/WCWPAPIEndpointTest.kt
  fluxc-annotations/src/main/java/org/wordpress/android/fluxc/annotations/endpoint/WCWPAPIEndpoint.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
  plugins/woocommerce/src/main/java/org/wordpress/android/fluxc/action/WCOrderAction.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCOrderNoteModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderNoteApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCOrderStore.kt
Labels: [Store] Woo: Order, [Store] WooCommerce

#1019 VerticalStore: Minor fixes and Additions
  fluxc/src/main/java/org/wordpress/android/fluxc/action/VerticalAction.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/vertical/SegmentPromptModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/vertical/VerticalModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/vertical/VerticalSegmentModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/vertical/VerticalRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/VerticalStore.kt
Labels: [Store] Vertical

#1010 Fix Posts and Pages endpoint for stats
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_TimeStatsTestJetpack.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/time/PostAndPageViewsRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/time/TimeStatsFixtures.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/time/PostAndPageViewsModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/time/TimeStatsMapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/time/PostAndPageViewsRestClient.kt
Labels: Stats Refresh

#1021 Issue/1020 woo order search paging
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCOrdersTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCOrderTest.kt
  example/src/main/java/org/wordpress/android/fluxc/example/WooCommerceFragment.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCOrderStore.kt
Labels: [Store] Woo: Order

#1022 Create clicks endpoint for Stats
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_TimeStatsTestJetpack.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/time/ClicksRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/persistance/stats/time/ClicksSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/time/ClicksStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/time/TimeStatsFixtures.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/time/ClicksModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/time/TimeStatsMapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/time/ClicksRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/StatsSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/TimeStatsSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/time/ClicksStore.kt
Labels: Stats Refresh

#1023 Add date to stats endpoints
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_TimeStatsTestJetpack.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/time/ClicksRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/time/PostAndPageViewsRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/time/ReferrersRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/time/StatsUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/persistance/stats/time/ClicksSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/persistance/stats/time/PostAndPageViewsSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/persistance/stats/time/ReferrersSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/time/ClicksStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/time/PostAndPageViewsStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/time/ReferrersStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/time/ClicksRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/time/PostAndPageViewsRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/time/ReferrersRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/time/StatsUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/StatsSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/TimeStatsSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/time/ClicksStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/time/PostAndPageViewsStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/time/ReferrersStore.kt
Labels: Stats Refresh

#1025 Amanda/note actions
  example/src/test/java/org/wordpress/android/fluxc/notifications/NotificationSqlUtilsTest.kt
  example/src/test/resources/notifications/notifications-api-response.json
  fluxc/src/main/java/org/wordpress/android/fluxc/model/notification/NoteIdSet.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/notification/NotificationModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/notifications/NotificationApiResponse.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/NotificationSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/NotificationStore.kt
Labels: [Store] Woo: Notifications

#1031 Woo: create OrderIdentifier from remoteOrderId and localSiteId
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/order/OrderIdentifier.kt
Labels: [Store] Woo: Notifications, [Store] Woo: Order

#1029 Add method to get notification by remote id from the local database
  example/src/test/java/org/wordpress/android/fluxc/notifications/NotificationSqlUtilsTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/NotificationSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/NotificationStore.kt
Labels: [Store] Woo: Notifications

#1034 Create countries endpoint in Stats
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_TimeStatsTestJetpack.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/time/CountryViewsRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/persistance/stats/time/CountryViewsSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/time/CountryViewsStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/time/TimeStatsFixtures.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/time/CountryViewsModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/time/TimeStatsMapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/time/CountryViewsRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/StatsSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/TimeStatsSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/time/CountryViewsStore.kt
Labels: Stats Refresh

#1041 Woo Notification: Fetch and save a single notification
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_NotificationTest.kt
  example/src/androidTest/resources/fetch-notification-response-success.json
  example/src/androidTest/resources/mark-notification-read-response-success.json
  fluxc/src/main/java/org/wordpress/android/fluxc/action/NotificationAction.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/notification/NotificationModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/notifications/NotificationApiResponse.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/notifications/NotificationRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/NotificationStore.kt
  fluxc/src/main/tools/wp-com-endpoints.txt
Labels: [Store] Woo: Notifications

#1033 Create authors endpoint for Stats
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_TimeStatsTestJetpack.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/time/AuthorsRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/persistance/stats/time/AuthorsSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/time/AuthorsStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/time/TimeStatsFixtures.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/time/AuthorsModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/time/TimeStatsMapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/time/AuthorsRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/StatsSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/TimeStatsSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/time/AuthorsStore.kt
Labels: Stats Refresh

#1035 Create search terms endpoint in Stats
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_TimeStatsTestJetpack.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/time/SearchTermsRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/persistance/stats/time/SearchTermsSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/time/SearchTermsStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/time/TimeStatsFixtures.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/time/SearchTermsModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/time/TimeStatsMapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/time/SearchTermsRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/StatsSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/TimeStatsSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/time/SearchTermsStore.kt
Labels: Stats Refresh

#1036 Create video plays endpoint in Stats
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_TimeStatsTestJetpack.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/time/VideoPlaysRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/persistance/stats/time/VideoPlaysSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/time/TimeStatsFixtures.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/time/VideoPlaysStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/time/TimeStatsMapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/time/VideoPlaysModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/time/VideoPlaysRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/StatsSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/TimeStatsSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/time/VideoPlaysStore.kt
Labels: Stats Refresh

#1044 Fix a crash caused by empty lists
  example/src/test/java/org/wordpress/android/fluxc/list/ListItemSqlUtilsTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/ListItemSqlUtils.kt
Labels: [Store] List, [Type] bug

#1042 Add support for vendor parameter
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_SiteTestWPCom.java
  example/src/main/java/org/wordpress/android/fluxc/example/SignedOutActionsFragment.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/SiteStore.java
Labels: Site Creation

#1046 Add cause of change in event response to fetch a single notification
  fluxc/src/main/java/org/wordpress/android/fluxc/store/NotificationStore.kt
Labels: [Store] Woo: Notifications

#1047 Add Date stats type to refreshed stats
  fluxc/src/main/java/org/wordpress/android/fluxc/store/StatsStore.kt
Labels: Stats Refresh

#1038 Add support for marking a notification as read
  example/build.gradle
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_NotificationTest.kt
  example/src/main/java/org/wordpress/android/fluxc/example/MainFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/NotificationTypeSubtypeDialog.kt
  example/src/main/java/org/wordpress/android/fluxc/example/NotificationsFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/di/FragmentsModule.kt
  example/src/main/res/layout/dialog_notification_type_subtype.xml
  example/src/main/res/layout/fragment_main.xml
  example/src/main/res/layout/fragment_notifications.xml
  fluxc/src/main/java/org/wordpress/android/fluxc/action/NotificationAction.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/notification/NotificationModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/GsonRequest.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/WPComGsonRequest.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/notifications/NotificationReadApiResponse.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/notifications/NotificationRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/NotificationSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/NotificationStore.kt
Labels: [Store] Woo: Notifications

#1049 VerticalStore: Replaces mocked endpoints for actual calls
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_AppComponent.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_VerticalTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/vertical/SegmentPromptModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/vertical/VerticalModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/vertical/VerticalSegmentModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/vertical/VerticalRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/VerticalStore.kt
  fluxc/src/main/tools/wp-com-v2-endpoints.txt
Labels: Site Creation, [Store] Vertical

#1048 Empty domain suggestions should be handled as successful response
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_SiteTestWPCom.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/SiteStore.java
Labels: Site Creation, [Store] Site

#1051 Introduces VerticalStore
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_AppComponent.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_VerticalTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/action/VerticalAction.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/vertical/SegmentPromptModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/vertical/VerticalModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/vertical/VerticalSegmentModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/module/ReleaseNetworkModule.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/vertical/VerticalRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/VerticalStore.kt
  fluxc/src/main/tools/wp-com-v2-endpoints.txt
Labels: [Store] Vertical

#1053 WC Notifications: Add mark all read
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_NotificationTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_NotificationTest.kt
  example/src/main/java/org/wordpress/android/fluxc/example/FragmentExt.kt
  example/src/main/java/org/wordpress/android/fluxc/example/NotificationsFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/SiteSelectorDialog.kt
  example/src/main/java/org/wordpress/android/fluxc/example/di/FragmentsModule.kt
  example/src/main/res/layout/fragment_notifications.xml
  fluxc/src/main/java/org/wordpress/android/fluxc/action/NotificationAction.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/notifications/NotificationRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/NotificationStore.kt
Labels: [Store] Notification, [Store] Woo: Notifications

#1055 Amanda/wc notifs sync update
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_NotificationTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_NotificationTest.kt
  example/src/androidTest/resources/fetch-notification-hashes-response-success.json
  example/src/main/java/org/wordpress/android/fluxc/example/NotificationsFragment.kt
  example/src/main/res/layout/fragment_notifications.xml
  example/src/test/java/org/wordpress/android/fluxc/notifications/NotificationSqlUtilsTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/action/NotificationAction.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/notification/NotificationModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/notifications/NotificationHashApiResponse.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/notifications/NotificationHashesApiResponse.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/notifications/NotificationRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/NotificationSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/NotificationStore.kt
Labels: [Store] Notification, [Store] Woo: Notifications
