Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2019-11, with the labels that each got.

#1413 Retry connected tests on CircleCI once
  .circleci/config.yml
Labels: Core

#1320 Convert flaky fetch sites + logout test to mocked network
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_SiteTest.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_SiteTestWPCom.java
  example/src/androidTest/resources/sites-fetch-response-success.json
Labels: Tests

#1416 Wc/cache order shipping methods
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCOrderModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
Labels: [Store] Woo: Order

#1419 Add a new `hasCachedOrdersForSite()` method to WCOrderStore
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCOrderStore.kt
Labels: [Store] Woo: Order

#1421 Added method to parse attributes field in WCProductVariationModel
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductVariationModel.kt
Labels: [Store] Woo: Product

#1423 Issue/1422 product variations image null fix
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCProductsTest.kt
  example/src/androidTest/resources/wc-fetch-product-variations-response-success.json
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
Labels: [Store] Woo: Product

#1428 Stop using unclosed cursors
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/CommentSqlUtils.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/MediaSqlUtils.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/PostSqlUtils.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/MediaStore.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/SiteStore.java
Labels: [Type] bug

#1430 Issue/1429 rename v4 stats endpoint
  example/src/test/java/org/wordpress/android/fluxc/endpoints/WCWPAPIEndpointTest.kt
  fluxc-annotations/src/main/java/org/wordpress/android/fluxc/annotations/endpoint/WCWPAPIEndpoint.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/orderstats/OrderStatsRestClient.kt
Labels: [Store] Woo: Stats

#1417 Extract immutable PostModel interface
  example/src/main/java/org/wordpress/android/fluxc/example/PostsFragment.kt
  example/src/test/java/org/wordpress/android/fluxc/page/PageStoreLocalChangesTest.kt
  example/src/test/java/org/wordpress/android/fluxc/page/PageStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/persistence/PostSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/post/PostLocationTest.java
  example/src/test/java/org/wordpress/android/fluxc/post/PostStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/PostImmutableModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/PostModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/page/PageStatus.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/post/PostLocation.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/post/PostLocation.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/post/PostStatus.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/post/PostXMLRPCClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/MediaStore.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PageStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/TaxonomyStore.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/UploadStore.java
Labels: Tech debt, [Store] Post

#1432 Woo: add methods to update a product
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCProductsTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCProductTest.kt
  example/src/androidTest/resources/wc-fetch-product-response-success.json
  example/src/main/java/org/wordpress/android/fluxc/example/di/FragmentsModule.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooProductsFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooUpdateProductFragment.kt
  example/src/main/res/layout/fragment_woo_products.xml
  example/src/main/res/layout/fragment_woo_update_product.xml
  plugins/woocommerce/src/main/java/org/wordpress/android/fluxc/action/WCProductAction.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
Labels: [Store] Woo: Product

#1434 Fix crash in PageStore - continuation already resumed
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PageStore.kt
Labels: [Store] Page, [Type] bug
