Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2019-07, with the labels that each got.

#1299 Add remote autosave support for scheduled posts
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_PostTestWPCom.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/post/PostRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
Labels: [Store] Post

#1300 Update target SDK of FluxC to 28
  fluxc/build.gradle
Labels: Tech debt

#1304 Add support for tlds filter when requesting domain suggestions
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_SiteTestWPCom.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/SiteStore.java
Labels: [Store] Site

#1305 Feature/setting mobile editor preference for a site
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_SiteTestWPCom.java
  example/src/main/java/org/wordpress/android/fluxc/example/SitesFragment.java
  example/src/main/res/layout/fragment_sites.xml
  fluxc/src/main/java/org/wordpress/android/fluxc/action/SiteAction.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/SiteModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteEditorsResponse.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/SiteStore.java
  fluxc/src/main/tools/wp-com-v2-endpoints.txt
Labels: [Pri] High, [Store] Site

#1302 Woo: Add v4 revenue stats api support
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCStatsTest.kt
  example/src/androidTest/resources/wc-revenue-stats-response-success.json
  example/src/main/java/org/wordpress/android/fluxc/example/di/FragmentsModule.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/WooCommerceFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/stats/WooRevenueStatsFragment.kt
  example/src/main/res/layout/fragment_woo_revenue_stats.xml
  example/src/main/res/layout/fragment_woocommerce.xml
  example/src/test/java/org/wordpress/android/fluxc/endpoints/WCWPAPIEndpointTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/stats/WCStatsSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/stats/WCStatsStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/stats/WCStatsTestUtils.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/utils/DateUtilsTest.kt
  example/src/test/resources/wc/revenue-stats-data.json
  fluxc-annotations/src/main/java/org/wordpress/android/fluxc/annotations/endpoint/WCWPAPIEndpoint.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
  plugins/woocommerce/src/main/java/org/wordpress/android/fluxc/action/WCStatsAction.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCRevenueStatsModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/orderstats/OrderStatsRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/orderstats/RevenueStatsApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/WCStatsSqlUtils.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCStatsStore.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/utils/DateUtils.kt
  plugins/woocommerce/src/main/tools/wc-wp-api-endpoints.txt
Labels: [Store] Woo: Stats

#1313 Fix featured image upload on self-hosted sites
  fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/media/MediaXMLRPCClient.java
Labels: [Store] Media

#1309 Post scheduling reminder store
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_AppComponent.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_PostSchedulingTestJetpack.kt
  example/src/test/java/org/wordpress/android/fluxc/store/PostSchedulingNotificationStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/PostSchedulingNotificationSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PostSchedulingNotificationStore.kt
Labels: [Store] Post

#1303 Add methods for getting locally changed Posts and Pages
  example/src/test/java/org/wordpress/android/fluxc/page/PageStoreLocalChangesTest.kt
  example/src/test/java/org/wordpress/android/fluxc/page/PageStoreLocalDraftTest.kt
  example/src/test/java/org/wordpress/android/fluxc/post/PostStoreDbIntegrationTest.java
  example/src/test/java/org/wordpress/android/fluxc/post/PostTestUtils.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/PostSqlUtils.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PageStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PostStore.java
Labels: [Type] enhancement

#1317 Add author into PostModel
  fluxc/src/main/java/org/wordpress/android/fluxc/model/PostModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/post/PostRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/post/PostWPComRestResponse.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
Labels: [Store] Post

#1321 Fix ReleaseStack_SiteTestWPCom#testFetchSiteEditors
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_SiteTestWPCom.java
Labels: Tests

#1322 Fix for returning correct editor details when fetching site details
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/SiteStore.java
Labels: [Store] Site

#1325 Woo Stats: Added option to check v4 revenue stats api availability
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCStatsTest.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/stats/WooRevenueStatsFragment.kt
  example/src/main/res/layout/fragment_woo_revenue_stats.xml
  plugins/woocommerce/src/main/java/org/wordpress/android/fluxc/action/WCStatsAction.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/orderstats/OrderStatsRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCStatsStore.kt
Labels: [Store] Woo: Stats

#1311 Woo Stats: Store visitor stats in local cache
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCStatsTest.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/stats/WooStatsFragment.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/stats/WCStatsStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/stats/WCStatsTestUtils.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/stats/WCVisitorStatsSqlUtilsTest.kt
  example/src/test/resources/wc/visitor-stats-data.json
  example/src/test/resources/wc/visitor-stats-fields.json
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCVisitorStatsModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/orderstats/OrderStatsRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/WCVisitorStatsSqlUtils.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCStatsStore.kt
Labels: [Store] Woo: Stats

#1327 Fix PostModel.dateLocallyChanged and Comment.datePublished timezone
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_PostTestWPCom.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_PostTestXMLRPC.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/CommentStore.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PostStore.java
Labels: [PR] Not Ready For Merge, [Type] bug
