Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2019-06, with the labels that each got.

#1237 Woo: 2 of 3 - Sectioned order list and status filtering
  example/build.gradle
  example/src/main/java/org/wordpress/android/fluxc/example/OrderListAdapter.kt
  example/src/main/java/org/wordpress/android/fluxc/example/WCOrderFetcher.kt
  example/src/main/java/org/wordpress/android/fluxc/example/WCOrderListActivity.kt
  example/src/main/res/layout/activity_wc_order_list.xml
  example/src/main/res/layout/list_item_section_header.xml
  example/src/test/java/org/wordpress/android/fluxc/list/ListDescriptorUnitTestCase.kt
  example/src/test/java/org/wordpress/android/fluxc/list/post/PostListDescriptorTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/order/WCOrderListDescriptorTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
  plugins/woocommerce/build.gradle
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCOrderListDescriptor.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCOrderSummaryModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderSummaryApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/OrderSqlUtils.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCOrderStore.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCStatsStore.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/utils/DateUtils.kt
Labels: [Store] Woo: Order

#1248 Add transaction to prevent other threads to overriding current account
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/AccountSqlUtils.java
Labels: [Store] Account

#1281 Fix intermittent Jetpack plugin test failures
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_PluginTestJetpack.java
Labels: Tests, [Store] Plugin

#1238 Woo: 3 of 3 - Add updating capabilities to order list management
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCOrderModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCOrderSummaryModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderSummaryApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCOrderStore.kt
Labels: [Store] Woo: Order

#1282 Woo: Delete WCOrderSummaryModels for site in db when fetchFirstPage() is called
  example/src/test/java/org/wordpress/android/fluxc/wc/order/OrderSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/order/OrderTestUtils.kt
  example/src/test/resources/wc/order-summaries.json
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/OrderSqlUtils.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCOrderStore.kt
Labels: [Store] Woo: Order

#1283 Distinguish 2FA auth errors when fetching account settings
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/account/AccountRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/AccountStore.java
Labels: [Store] Account

#1285 Add foreign key relationship between SiteModel and NotificationModel
  example/src/main/java/org/wordpress/android/fluxc/example/SitesFragment.java
  example/src/main/res/layout/fragment_sites.xml
  example/src/test/java/org/wordpress/android/fluxc/notifications/NotificationSqlUtilsTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/NotificationSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
Labels: [Store] Woo: Notifications

#1274 Woo: Order list management using ListStore
  example/build.gradle
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_AppComponent.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCOrderListTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/utils/TestWCOrderListDataSource.kt
  example/src/debug/java/org/wordpress/android/fluxc/example/di/AppComponentDebug.kt
  example/src/main/AndroidManifest.xml
  example/src/main/java/org/wordpress/android/fluxc/example/OrderListAdapter.kt
  example/src/main/java/org/wordpress/android/fluxc/example/WCOrderFetcher.kt
  example/src/main/java/org/wordpress/android/fluxc/example/WCOrderListActivity.kt
  example/src/main/java/org/wordpress/android/fluxc/example/di/AppComponent.kt
  example/src/main/java/org/wordpress/android/fluxc/example/di/WCOrderListActivityModule.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/orders/WooOrdersFragment.kt
  example/src/main/res/drawable/ic_check.xml
  example/src/main/res/drawable/ic_clear.xml
  example/src/main/res/layout/activity_wc_order_list.xml
  example/src/main/res/layout/fragment_woo_orders.xml
  example/src/main/res/layout/list_item_section_header.xml
  example/src/main/res/layout/list_item_skeleton.xml
  example/src/main/res/layout/list_item_woo_order.xml
  example/src/test/java/org/wordpress/android/fluxc/list/ListDescriptorUnitTestCase.kt
  example/src/test/java/org/wordpress/android/fluxc/list/post/PostListDescriptorTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/order/OrderSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/order/OrderTestUtils.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/order/WCOrderListDescriptorTest.kt
  example/src/test/resources/wc/order-summaries.json
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
  plugins/woocommerce/build.gradle
  plugins/woocommerce/src/main/java/org/wordpress/android/fluxc/action/WCOrderAction.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCOrderListDescriptor.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCOrderModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCOrderSummaryModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderSummaryApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/OrderSqlUtils.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCOrderStore.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCStatsStore.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/utils/DateUtils.kt
Labels: [Store] Woo: Order

#1287 Woo: provided option to get a list of products for an order from local db
  example/src/test/java/org/wordpress/android/fluxc/wc/product/ProductSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/product/ProductTestUtils.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/product/WCProductStoreTest.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/ProductSqlUtils.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
Labels: [Store] Woo: Product

#1292 Wc/1291 revert notifs constraint
  example/src/test/java/org/wordpress/android/fluxc/notifications/NotificationSqlUtilsTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/NotificationSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
Labels: [Store] Woo: Notifications

#1289 Add new field into MediaModel
  example/src/test/java/org/wordpress/android/fluxc/media/MediaSqlUtilsTest.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/MediaModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/media/MediaRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
Labels: [Store] Upload

#1294 Notifications: Remove localSiteId and replace with remoteSiteId
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_NotificationTest.kt
  example/src/test/java/org/wordpress/android/fluxc/notifications/NotificationSqlUtilsTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/notification/NoteIdSet.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/notification/NotificationModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/notifications/NotificationApiResponse.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/notifications/NotificationRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/NotificationSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/NotificationStore.kt
Labels: [Store] Woo: Notifications
