Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2019-02, with the labels that each got.

#1097 Remove date block from the stats
  fluxc/src/main/java/org/wordpress/android/fluxc/store/StatsStore.kt
Labels: Stats Refresh

#1116 Return null when order status not found
  example/src/test/java/org/wordpress/android/fluxc/wc/order/OrderSqlUtilsTest.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/OrderSqlUtils.kt
Labels: [Store] Woo: Order

#1120 PagedListWrapper unit tests
  build.gradle
  example/build.gradle
  example/src/test/java/org/wordpress/android/fluxc/list/PagedListWrapperTest.kt
Labels: [Store] List

#1119 Update Gradle to 4.10.3 and Android Gradle Plugin to 3.3.1
  .travis.yml
  build.gradle
  example/build.gradle
  fluxc/build.gradle
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ActivityLogStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/CommentStore.java
  gradle/wrapper/gradle-wrapper.properties
  instaflux/build.gradle
  jitpack.yml
  plugins/woocommerce/build.gradle
Labels: Core

#1121 Fetch and compare post status while fetching the post list
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/post/PostRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/post/PostXMLRPCClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PostStore.java
Labels: [Store] List, [Store] Post, [Type] bug

#1122 PostListDescriptor unit tests
  example/src/test/java/org/wordpress/android/fluxc/list/PagedListWrapperTest.kt
  example/src/test/java/org/wordpress/android/fluxc/list/post/ListDescriptorTestHelper.kt
  example/src/test/java/org/wordpress/android/fluxc/list/post/PostListDescriptorForRestSiteTest.kt
  example/src/test/java/org/wordpress/android/fluxc/list/post/PostListDescriptorForXmlRpcSiteTest.kt
Labels: [Store] List, [Store] Post

#1103 WooCommerce : Add support for fetching custom order stats
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCStatsTest.kt
  example/src/main/java/org/wordpress/android/fluxc/example/CustomStatsDialog.kt
  example/src/main/java/org/wordpress/android/fluxc/example/WooCommerceFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/utils/SharedPrefsUtils.kt
  example/src/main/res/layout/dialog_custom_stats.xml
  example/src/main/res/layout/fragment_woocommerce.xml
  example/src/test/java/org/wordpress/android/fluxc/utils/SiteUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/stats/WCStatsStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/stats/WCStatsTestUtils.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/utils/DateUtilsTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
  fluxc/src/main/java/org/wordpress/android/fluxc/utils/SiteUtils.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCOrderStatsModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/orderstats/OrderStatsRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/WCStatsSqlUtils.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCStatsStore.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/utils/DateUtils.kt
Labels: [PR] Not Ready For Merge, [Store] Woo: Stats

#1123 Use parametrized tests for PostListDescriptor
  example/src/test/java/org/wordpress/android/fluxc/list/post/ListDescriptorTestHelper.kt
  example/src/test/java/org/wordpress/android/fluxc/list/post/PostListDescriptorForRestSiteTest.kt
  example/src/test/java/org/wordpress/android/fluxc/list/post/PostListDescriptorForXmlRpcSiteTest.kt
  example/src/test/java/org/wordpress/android/fluxc/list/post/PostListDescriptorTest.kt
Labels: Tests, [Store] List, [Store] Post

#1125 Add explicit get list items count query to ListItemSqlUtils
  example/src/test/java/org/wordpress/android/fluxc/list/ListItemSqlUtilsTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/datastore/ListDataStoreInterface.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/datastore/PostListDataStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/post/PostRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/post/PostXMLRPCClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/ListItemSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ListStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PostStore.java
Labels: [Store] List, [Store] Post

#1113 Separate insights stores
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_InsightsTestJetpack.kt
  example/src/test/java/org/wordpress/android/fluxc/model/stats/InsightsMapperTest.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/InsightsRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/persistance/stats/InsightsSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/InsightsFixtures.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/InsightsStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/InsightsMapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/module/ReleaseNetworkModule.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/InsightsRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/insights/AllTimeInsightsRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/insights/CommentsRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/insights/FollowersRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/insights/LatestPostInsightsRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/insights/MostPopularRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/insights/PublicizeRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/insights/TagsRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/insights/TodayInsightsRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/InsightsSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/InsightsStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/insights/AllTimeInsightsStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/insights/CommentsStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/insights/FollowersStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/insights/LatestPostInsightsStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/insights/MostPopularInsightsStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/insights/PublicizeStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/insights/TagsStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/insights/TodayInsightsStore.kt
Labels: Stats Refresh

#1129 Reverted logic to pass extra parameters to visitor stats event
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCStatsTest.kt
  example/src/main/java/org/wordpress/android/fluxc/example/CustomStatsDialog.kt
  example/src/main/java/org/wordpress/android/fluxc/example/WooCommerceFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/utils/SharedPrefsUtils.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/orderstats/OrderStatsRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCStatsStore.kt
Labels: [Store] Woo: Stats

#1128 Anitaa/support custom order stats
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCStatsTest.kt
  example/src/main/java/org/wordpress/android/fluxc/example/CustomStatsDialog.kt
  example/src/main/java/org/wordpress/android/fluxc/example/WooCommerceFragment.kt
  example/src/main/res/layout/dialog_custom_stats.xml
  example/src/main/res/layout/fragment_woocommerce.xml
  example/src/test/java/org/wordpress/android/fluxc/utils/SiteUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/stats/WCStatsStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/stats/WCStatsTestUtils.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/utils/DateUtilsTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
  fluxc/src/main/java/org/wordpress/android/fluxc/utils/SiteUtils.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCOrderStatsModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/orderstats/OrderStatsRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/WCStatsSqlUtils.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCStatsStore.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/utils/DateUtils.kt
Labels: [PR] Not Ready For Merge, [Store] Woo: Stats

#1098 Add paging when loading the followers
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_InsightsTestJetpack.kt
  example/src/test/java/org/wordpress/android/fluxc/model/stats/InsightsMapperTest.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/InsightsRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/persistance/stats/InsightsSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/persistance/stats/time/AuthorsSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/persistance/stats/time/ClicksSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/persistance/stats/time/CountryViewsSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/persistance/stats/time/PostAndPageViewsSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/persistance/stats/time/ReferrersSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/persistance/stats/time/SearchTermsSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/persistance/stats/time/VideoPlaysSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/persistance/stats/time/VisitAndViewsSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/InsightsFixtures.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/InsightsStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/InsightsMapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/LoadMode.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/InsightsRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/InsightsSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/StatsSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/TimeStatsSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/InsightsStore.kt
Labels: Stats Refresh

#1102 Comments View all screen changes
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_InsightsTestJetpack.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/InsightsRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/InsightsStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/InsightsMapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/InsightsRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/InsightsStore.kt
Labels: Stats Refresh, [PR] Not Ready For Merge

#1112 Changes for View all tags & categories
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_InsightsTestJetpack.kt
  example/src/test/java/org/wordpress/android/fluxc/model/stats/InsightsMapperTest.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/InsightsRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/persistance/stats/InsightsSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/InsightsFixtures.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/InsightsStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/InsightsMapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/module/ReleaseNetworkModule.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/InsightsRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/insights/AllTimeInsightsRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/insights/CommentsRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/insights/FollowersRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/insights/LatestPostInsightsRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/insights/MostPopularRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/insights/PublicizeRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/insights/TagsRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/insights/TodayInsightsRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/InsightsSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/InsightsStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/insights/AllTimeInsightsStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/insights/CommentsStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/insights/FollowersStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/insights/LatestPostInsightsStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/insights/MostPopularInsightsStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/insights/PublicizeStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/insights/TagsStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/insights/TodayInsightsStore.kt
Labels: Stats Refresh

#1133 Update test dependencies and a possible fix to mocked tests
  example/build.gradle
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_AccountTest.java
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCStatsTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/module/MockedNetworkModule.java
  example/src/androidTest/resources/authentication-error-response.json
  example/src/androidTest/resources/authentication-success-response.json
Labels: Tests

#1132 Post list connected tests
  example/build.gradle
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_AppComponent.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_PostListTestWpCom.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_PostListTestXMLRPC.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/utils/ListStoreConnectedTestHelper.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/utils/ListStoreConnectedTestMode.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/utils/LiveDataTextExtensions.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/utils/PagedListWrapperTestExtensions.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/utils/SimpleTestLifecycle.kt
Labels: Tests, [Store] List, [Store] Post

#1134 Fix ExifInterface warning when stripping location data
  fluxc/src/main/java/org/wordpress/android/fluxc/utils/MediaUtils.java
Labels: [Store] Media

#1124 View all posts and pages screen changes
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_InsightsTestJetpack.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_TimeStatsTestJetpack.kt
  example/src/test/java/org/wordpress/android/fluxc/model/stats/InsightsMapperTest.kt
  example/src/test/java/org/wordpress/android/fluxc/model/stats/TimeStatsMapperTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/InsightsStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/time/PostAndPageViewsStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/InsightsMapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/LoadMode.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/time/TimeStatsMapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/insights/CommentsStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/insights/FollowersStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/insights/TagsStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/time/PostAndPageViewsStore.kt
Labels: Stats Refresh

#1139 Remove caching from stats
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/InsightsRestClientTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/insights/CommentsRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/insights/TagsRestClient.kt
Labels: Stats Refresh

#1137 issue/1136-woo-api-version-check-fields
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/WooCommerceRestClient.kt
Labels: [Store] WooCommerce

#1117 Issue/1114 woo product store
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedNetworkAppComponent.java
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCProductsTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/module/MockedWCNetworkModule.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_AppComponent.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCProductTest.kt
  example/src/androidTest/resources/wc-fetch-product-response-success.json
  example/src/main/java/org/wordpress/android/fluxc/example/WooCommerceFragment.kt
  example/src/main/res/layout/fragment_woocommerce.xml
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
  plugins/woocommerce/src/main/java/org/wordpress/android/fluxc/action/WCProductAction.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/module/ReleaseWCNetworkModule.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/ProductSqlUtils.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
  plugins/woocommerce/src/main/tools/wc-wp-api-endpoints.txt
Labels: [Store] Woo: Product

#1141 Add an underscore to match the WellSql auto-generated columns
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
Labels: [Store] Woo: Stats
