Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2019-10, with the labels that each got.

#1381 Refunds endpoint implementation
  build.gradle
  example/src/main/java/org/wordpress/android/fluxc/example/di/FragmentsModule.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/WooCommerceFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/refunds/WooRefundsFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/utils/AlertDialogUtils.kt
  example/src/main/res/layout/fragment_woo_refunds.xml
  example/src/main/res/layout/fragment_woocommerce.xml
  example/src/test/java/org/wordpress/android/fluxc/wc/refunds/RefundsFixtures.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/refunds/RefundsStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/refunds/WCRefundsSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/utils/DateUtilsTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/BaseWPComRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/jetpacktunnel/JetpackTunnelGsonRequestBuilder.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
  plugins/woocommerce/build.gradle
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/refunds/RefundsMapper.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/refunds/WCRefundModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/module/ReleaseWCNetworkModule.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/refunds/RefundsRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/WCRefundsSqlUtils.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCRefundsStore.kt
  plugins/woocommerce/src/main/tools/wc-wp-api-endpoints.txt
Labels: [Store] Woo: Refunds

#1396 Handle list fetched in a DB transaction
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ListStore.kt
Labels: [Store] List

#1395 Convert the WellSqlConfig migrations to Kotlin
  example/src/test/java/org/wordpress/android/fluxc/SingleStoreWellSqlConfigForTests.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
Labels: Core

#1403 Woo: Issue/1402 cache jetpack user email to SiteModel
  fluxc/src/main/java/org/wordpress/android/fluxc/model/SiteModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/site/SiteXMLRPCClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
Labels: [Store] WooCommerce

#1406 Add signup_flow_name parameter to /auth/send-signup-email
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/auth/Authenticator.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/AccountStore.java
Labels: [Store] Account

#1408 Clean up after testAutoSaveScheduledPost
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_PostTestWPCom.java
Labels: Tests

#1401 Issue/1400 assign product image
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCProductsTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCProductTest.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooProductsFragment.kt
  example/src/main/res/layout/fragment_woo_products.xml
  plugins/woocommerce/src/main/java/org/wordpress/android/fluxc/action/WCProductAction.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductImageModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
Labels: [Store] Woo: Product

#1410 Woo: support for hiding future-dated orders
  .idea/codeStyles/Project.xml
  example/src/main/java/org/wordpress/android/fluxc/example/OrderListAdapter.kt
  example/src/main/java/org/wordpress/android/fluxc/example/WCOrderListActivity.kt
  example/src/main/res/layout/activity_wc_order_list.xml
  example/src/main/res/layout/list_item_woo_order.xml
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCOrderListDescriptor.kt
Labels: [Store] Woo: Order

#1412 Wc/fetch order list error
  example/src/main/java/org/wordpress/android/fluxc/example/WCOrderFetcher.kt
  example/src/main/res/layout/activity_wc_order_list.xml
  example/src/main/res/layout/list_item_woo_order.xml
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/ListConfig.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCOrderStore.kt
Labels: [Store] Woo: Order
