Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2019-09, with the labels that each got.

#1375 issue/1373-woo-stats-timezone-fix
  example/src/test/java/org/wordpress/android/fluxc/wc/utils/DateUtilsTest.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCStatsStore.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/utils/DateUtils.kt
Labels: [Store] Woo: Stats

#1380 Do not filter out non-standard post types in Posts and Pages
  example/src/test/java/org/wordpress/android/fluxc/model/stats/TimeStatsMapperTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/time/TimeStatsFixtures.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/time/PostAndPageViewsModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/time/TimeStatsMapper.kt
Labels: Stats Refresh

#1382 Update Flux link
  README.md
Labels: [Type] bug

#1384 Woo: Simplify process to update Product Review status
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCProductsTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCProductTest.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/ProductSqlUtils.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
Labels: [Store] Woo: Product

#1385 Fix retry media upload action on self-hosted sites
  fluxc/src/main/java/org/wordpress/android/fluxc/store/UploadStore.java
Labels: [Store] Upload

#1379 Request only the required fields in fetchPostList request
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/post/PostRestClient.java
Labels: Offline Support, Tech debt, [Store] Post

#1389 Issue/1388 update order status
  example/src/test/java/org/wordpress/android/fluxc/wc/order/WCOrderStoreTest.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCOrderStore.kt
Labels: [Store] Woo: Order

#1390 Fix issue with duplicate posts in PostModel table
  example/src/test/java/org/wordpress/android/fluxc/persistence/PostSqlUtilsTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/PostSqlUtils.java
Labels: [Store] Post, [Type] bug

#1391 Merge Auto Save and Remote Preview into develop
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_UploadTest.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_PostTestWPCom.java
  example/src/test/java/org/wordpress/android/fluxc/persistence/PostSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/post/PostStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/upload/UploadStoreUnitTest.java
  example/src/test/java/org/wordpress/android/fluxc/utils/ObjectsUtilsTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/action/PostAction.java
  fluxc/src/main/java/org/wordpress/android/fluxc/action/UploadAction.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/CauseOfOnPostChanged.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/PostModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/PostUploadModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/post/PostRemoteAutoSaveModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/post/PostRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/post/PostWPComRestResponse.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/XMLRPCRequest.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/post/PostXMLRPCClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/PostSqlUtils.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PostStore.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/UploadStore.java
  fluxc/src/main/java/org/wordpress/android/fluxc/utils/ObjectsUtils.java
  fluxc/src/main/tools/wp-com-endpoints.txt
Labels: Offline Support
