Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2019-12, with the labels that each got.

#1436 Refund by items updates
  example/src/main/java/org/wordpress/android/fluxc/example/ui/refunds/WooRefundsFragment.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/refunds/RefundMapper.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/refunds/WCRefundModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/refunds/RefundRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCRefundStore.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/utils/BigDecimalExt.kt
Labels: [Store] Woo: Refunds

#1439 issue/1438-woo-product-sorting
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
Labels: [Store] Woo: Product

#1441 WCOrderSummaryModel records should match WCOrderModel
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCOrderSummaryModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCOrderStore.kt
Labels: [Store] Woo: Order

#1445 Issue/1437 deleted products remain take2
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
Labels: [Store] Woo: Product

#1443 Woo: Update product fields
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCProductsTest.kt
  example/src/androidTest/resources/wc-fetch-product-response-success.json
  example/src/main/java/org/wordpress/android/fluxc/example/ui/FloatingLabelEditText.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/ListSelectorDialog.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooUpdateProductFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/utils/EditTextExt.kt
  example/src/main/res/layout/fragment_woo_update_product.xml
  example/src/main/res/layout/view_floating_edittext.xml
  example/src/main/res/values/attrs.xml
  example/src/test/java/org/wordpress/android/fluxc/wc/product/WCProductStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/CoreProductBackOrders.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/CoreProductStockStatus.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/CoreProductTaxStatus.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
Labels: [Store] Woo: Product

#1446 Woo v4 Stats: Change gross_revenue to total_sales to match changes to wc-admin
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCStatsTest.kt
  example/src/androidTest/resources/wc-revenue-stats-response-success.json
  example/src/main/java/org/wordpress/android/fluxc/example/ui/stats/WooRevenueStatsFragment.kt
  example/src/test/resources/wc/revenue-stats-data.json
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCRevenueStatsModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCStatsStore.kt
Labels: [Store] Woo: Stats

#1449 Added missing fields to ReleaseStack_WCProductTest when updating product
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCProductTest.kt
Labels: [Store] Woo: Product

#1453 delete product variations from local db before updating incoming variants
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
Labels: [Store] Woo: Product

#1451 Issue/1450 product variants sorting
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCProductsTest.kt
  example/src/androidTest/resources/wc-fetch-product-variations-response-success.json
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooProductsFragment.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductVariationModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductVariationApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/ProductSqlUtils.kt
Labels: [Store] Woo: Product

#1455 Issue/1454 product variants pagination
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooProductsFragment.kt
  example/src/main/res/layout/fragment_woo_products.xml
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
Labels: [Store] Woo: Product

#1456 Woo/fetch product shipping class
  .idea/codeStyles/Project.xml
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCProductsTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCProductTest.kt
  example/src/androidTest/resources/wc-fetch-product-shipping-classes-response-success.json
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooProductsFragment.kt
  example/src/main/res/layout/fragment_woo_products.xml
  example/src/test/java/org/wordpress/android/fluxc/wc/product/ProductSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/product/ProductTestUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  plugins/woocommerce/src/main/java/org/wordpress/android/fluxc/action/WCProductAction.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductShippingClassModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductShippingClassApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/ProductSqlUtils.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
  plugins/woocommerce/src/main/tools/wc-wp-api-endpoints.txt
Labels: [Store] Woo: Product

#1458 Woo/fetch product tax class
  example/src/main/java/org/wordpress/android/fluxc/example/di/FragmentsModule.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/WooCommerceFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/taxes/WooTaxFragment.kt
  example/src/main/res/layout/fragment_woo_taxes.xml
  example/src/main/res/layout/fragment_woocommerce.xml
  example/src/test/java/org/wordpress/android/fluxc/wc/taxes/TaxTestUtils.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/taxes/WCTaxSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/taxes/WCTaxStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/taxes/WCTaxClassMapper.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/taxes/WCTaxClassModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/module/ReleaseWCNetworkModule.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/taxes/WCTaxRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/WCTaxSqlUtils.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCTaxStore.kt
  plugins/woocommerce/src/main/tools/wc-wp-api-endpoints.txt
Labels: [Store] Woo: Product

#1347 Add generated serialVersionUID to all serializable classes
  fluxc/src/main/java/org/wordpress/android/fluxc/model/CommentModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/MediaModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/MediaUploadModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/PostModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/PostUploadModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/RoleModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/SiteModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/SubscriptionModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/TaxonomyModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/TermModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/ThemeModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/plugin/SitePluginModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/plugin/WPOrgPluginModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/post/PostLocation.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/discovery/SelfHostedEndpointFinder.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/SiteSqlUtils.java
Labels: Tech debt
