Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2019-08, with the labels that each got.

#1318 Add clean operations to stats sql utils
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_InsightsTestJetpack.kt
  example/src/test/java/org/wordpress/android/fluxc/store/StatsStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/StatsSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/StatsStore.kt
Labels: Stats Refresh

#1328 Feautre/introduce new fields into post model v2
  example/src/test/java/org/wordpress/android/fluxc/post/PostStoreDbIntegrationTest.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/PostModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
Labels: [Store] Post

#1333 issue/1331-shipping-provider-illegal-state
  .idea/codeStyles/Project.xml
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCOrdersTest.kt
  example/src/androidTest/resources/wc-order-shipment-providers-failed.json
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCOrderStore.kt
Labels: [Store] Woo: Order

#1337 Add per_page to the params to ensure all id's requested are fetched
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
Labels: [Store] Woo: Order

#1332 Add the ability to set the mobile editor preference on all sites with one call
  fluxc/src/main/java/org/wordpress/android/fluxc/action/SiteAction.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/SiteStore.java
  fluxc/src/main/tools/wp-com-v2-endpoints.txt
Labels: [PR] Not Ready For Merge, [Store] Site

#1338 Hotfix - Do not override server values on bulk migration of mobile editor preferences
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClient.java
Labels: [Store] Site

#1336 Issue/1335 v4 visitor stats changes
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCStatsTest.kt
  example/src/main/java/org/wordpress/android/fluxc/example/di/FragmentsModule.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/StoreSelectorDialog.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/stats/WooRevenueStatsFragment.kt
  example/src/main/res/layout/fragment_woo_revenue_stats.xml
  example/src/test/java/org/wordpress/android/fluxc/wc/stats/WCStatsStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/stats/WCStatsTestUtils.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/stats/WCVisitorStatsSqlUtilsTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
  plugins/woocommerce/src/main/java/org/wordpress/android/fluxc/action/WCStatsAction.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCNewVisitorStatsModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/orderstats/OrderStatsRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/WCVisitorStatsSqlUtils.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCStatsStore.kt
Labels: [Store] Woo: Stats

#1340 Hotfix - 1.1.2 Copy old values of editor settings when site lists is refreshed
  fluxc/src/main/java/org/wordpress/android/fluxc/store/SiteStore.java
Labels: [Store] Site

#1329 Fix remote auto save issues
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_PostTestWPCom.java
  fluxc/src/main/java/org/wordpress/android/fluxc/action/UploadAction.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/PostModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/post/PostRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PostStore.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/UploadStore.java
Labels: [PR] Not Ready For Merge, [PR] Not Ready for Review, [Store] Post

#1344 Fix migration issue
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
Labels: [Store] Post, [Type] bug

#1343 Woo: Add support for product reviews
  .circleci/tests.properties.enc
  .idea/codeStyles/Project.xml
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCProductsTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_Base.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCProductTest.kt
  example/src/androidTest/resources/wc-fetch-product-review-response-success.json
  example/src/androidTest/resources/wc-fetch-product-reviews-response-success.json
  example/src/androidTest/resources/wc-product-review-response-failure-invalid-id.json
  example/src/androidTest/resources/wc-response-failure-invalid-param.json
  example/src/androidTest/resources/wc-update-product-review-response-success.json
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooProductsFragment.kt
  example/src/main/res/layout/fragment_woo_products.xml
  example/src/test/java/org/wordpress/android/fluxc/wc/product/ProductSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/product/ProductTestUtils.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/product/WCProductReviewModelTest.kt
  example/src/test/resources/wc/product-reviews.json
  example/tests.properties-example
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
  plugins/woocommerce/src/main/java/org/wordpress/android/fluxc/action/WCProductAction.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductReviewModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductReviewApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/ProductSqlUtils.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
  plugins/woocommerce/src/main/tools/wc-wp-api-endpoints.txt
Labels: [Store] Woo: Product

#1345 Add 'paid date' parameter to order model
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCOrdersTest.kt
  example/src/androidTest/resources/wc-orders-response-success.json
  example/src/test/java/org/wordpress/android/fluxc/wc/order/OrderTestUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCOrderModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
Labels: [Store] Woo: Order

#1355 Issue/1353 woo product list
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCProductsTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCProductTest.kt
  example/src/androidTest/resources/wc-fetch-products-response-success.json
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooProductsFragment.kt
  example/src/main/res/layout/fragment_woo_products.xml
  example/src/test/java/org/wordpress/android/fluxc/wc/product/ProductSqlUtilsTest.kt
  plugins/woocommerce/src/main/java/org/wordpress/android/fluxc/action/WCProductAction.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/ProductSqlUtils.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
  plugins/woocommerce/src/main/tools/wc-wp-api-endpoints.txt
Labels: [Store] Woo: Product

#1350 Issue/1348 json null get as string
  example/src/test/java/org/wordpress/android/fluxc/utils/JsonObjectExtensionsTests.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/utils/JsonObjectExtensions.kt
Labels: [Type] bug

#1323 Use site timezone in stats
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_TimeStatsTestJetpack.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/InsightsRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/time/AuthorsRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/time/ClicksRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/time/CountryViewsRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/time/PostAndPageViewsRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/time/ReferrersRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/time/SearchTermsRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/time/StatsUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/time/VideoPlaysRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/time/VisitAndViewsRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/persistance/stats/time/AuthorsSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/persistance/stats/time/ClicksSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/persistance/stats/time/CountryViewsSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/persistance/stats/time/PostAndPageViewsSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/persistance/stats/time/ReferrersSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/persistance/stats/time/SearchTermsSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/persistance/stats/time/VideoPlaysSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/persistance/stats/time/VisitAndViewsSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/InsightsStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/time/AuthorsStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/time/ClicksStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/time/CountryViewsStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/time/PostAndPageViewsStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/time/ReferrersStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/time/SearchTermsStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/time/VideoPlaysStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/time/VisitsAndViewsStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/utils/SiteUtilsTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/insights/TodayInsightsRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/time/StatsUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/time/VisitAndViewsRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/TimeStatsSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/insights/TodayInsightsStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/time/VisitsAndViewsStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/utils/SiteUtils.java
Labels: Stats Refresh

#1358 Add the "date_paid_gmt" to requested fields for orders
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
Labels: [Store] WooCommerce

#1360 Issue/1359 woo product sort order
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/ProductSqlUtils.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
Labels: [Store] Woo: Product

#1361 Woo: Removed unnecessary product_id dependency for product reviews
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCProductTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/product/ProductSqlUtilsTest.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/ProductSqlUtils.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
Labels: [Store] Woo: Product

#1357 Add new autosave fields to the PostModel
  example/src/test/java/org/wordpress/android/fluxc/post/PostStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/PostModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/post/PostRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/post/PostWPComRestResponse.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/post/PostXMLRPCClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PostStore.java
Labels: [Type] enhancement

#1352 Stats - File downloads endpoint
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_TimeStatsTestJetpack.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/time/FileDownloadsRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/StatsStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/time/FileDownloadsStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/time/TimeStatsFixtures.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/time/FileDownloadsModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/time/TimeStatsMapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/time/FileDownloadsRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/StatsSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/TimeStatsSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/StatsStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/time/FileDownloadsStore.kt
  fluxc/src/main/tools/wp-com-endpoints.txt
Labels: Stats Refresh

#1363 Issue/1362 woo product variation count
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCProductsTest.kt
  example/src/androidTest/resources/wc-fetch-product-response-success.json
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooProductsFragment.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductModel.kt
Labels: [Store] Woo: Product

#1365 Move failing test to WPCom from Jetpack
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_AppComponent.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_TimeStatsTestJetpack.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_TimeStatsTestWPCom.kt
Labels: Stats Refresh

#1368 issue/1367-woo-product-page-size
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
Labels: [Store] Woo: Product

#1369 Woo: Product Reviews misc bug fixes
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCProductsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/product/ProductTestUtils.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/product/WCProductReviewModelTest.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductReviewModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductReviewApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/ProductSqlUtils.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
Labels: [Store] Woo: Product

#1371 Issue/1370 woo product search
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCProductsTest.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooProductsFragment.kt
  example/src/main/res/layout/fragment_woo_products.xml
  plugins/woocommerce/src/main/java/org/wordpress/android/fluxc/action/WCProductAction.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
Labels: [Store] Woo: Product

#1374 Woo: Fetch Reviews and Products in batch
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCProductTest.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
Labels: [Store] Woo: Product

#1376 Issue/1372 add order status count
  example/src/main/java/org/wordpress/android/fluxc/example/ui/orders/WooOrdersFragment.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/order/OrderSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/order/OrderTestUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCOrderStatusModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
Labels: [Store] Woo: Order
