Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2019-04, with the labels that each got.

#1197 Add support for filtering suggested domains by site creation segmentId
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/SiteStore.java
Labels: Site Creation, [Store] Site

#1193 ListStore Grand Refactor
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_PostListTestWpCom.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_PostListTestXMLRPC.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/utils/ListStoreConnectedTestHelper.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/utils/TestPostListDataStore.kt
  example/src/test/java/org/wordpress/android/fluxc/list/InternalPagedListDataStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/list/PagedListFactoryTest.kt
  example/src/test/java/org/wordpress/android/fluxc/list/PagedListWrapperTest.kt
  example/src/test/java/org/wordpress/android/fluxc/list/TestListDescriptor.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/LocalOrRemoteId.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/PagedListFactory.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/PagedListItemType.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/PagedListWrapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/datastore/InternalPagedListDataStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/datastore/ListDataStoreInterface.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/datastore/ListItemDataStoreInterface.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/datastore/PostListDataStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/PostSqlUtils.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ListStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PostStore.java
Labels: [Store] List

#1198 ListStore Cleanup: Post list DB query improvements
  example/src/test/java/org/wordpress/android/fluxc/post/PostStoreUnitTest.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/PostSqlUtils.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PostStore.java
Labels: [Store] Post

#1200 Rename InternalPagedListDataStore and ListItemDataStoreInterface to use DataSource suffix
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_PostListTestWpCom.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_PostListTestXMLRPC.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/utils/ListStoreConnectedTestHelper.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/utils/TestPostListDataSource.kt
  example/src/test/java/org/wordpress/android/fluxc/list/InternalPagedListDataSourceTest.kt
  example/src/test/java/org/wordpress/android/fluxc/list/PagedListFactoryTest.kt
  example/src/test/java/org/wordpress/android/fluxc/list/TestListDescriptor.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/PagedListFactory.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/datasource/InternalPagedListDataSource.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/datasource/ListItemDataSourceInterface.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ListStore.kt
Labels: [Store] List

#1191 tests.properties-example tweaks
  example/gradle.properties-example
  example/tests.properties-example
Labels: Tests

#1203 ListStore actions should be completed in the bg thread
  example/src/test/java/org/wordpress/android/fluxc/CoroutinesTestUtils.kt
  example/src/test/java/org/wordpress/android/fluxc/list/PagedListWrapperTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/PagedListWrapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ListStore.kt
Labels: [Store] List

#1202 Fixes a range check in InternalPagedListDataSource and adds unit tests for it
  example/src/test/java/org/wordpress/android/fluxc/list/InternalPagedListDataSourceRangeTest.kt
  example/src/test/java/org/wordpress/android/fluxc/list/InternalPagedListDataSourceTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/datasource/InternalPagedListDataSource.kt
Labels: [Store] List

#1205 Remove bad password test property
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_AccountTest.java
  example/tests.properties-example
Labels: Tests

#1206 Don't delete trashed posts from DB
  example/src/main/java/org/wordpress/android/fluxc/example/PostsFragment.kt
  example/src/test/java/org/wordpress/android/fluxc/list/PagedListWrapperTest.kt
  example/src/test/java/org/wordpress/android/fluxc/page/PageStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/action/ListAction.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/action/PostAction.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/CauseOfOnPostChanged.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/PagedListWrapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/post/PostRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/post/PostXMLRPCClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ListStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PageStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PostStore.java
Labels: [Store] List, [Store] Page, [Store] Post

#1211 Add support for email_login_not_allowed
  example/src/main/java/org/wordpress/android/fluxc/example/MainFragment.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/AccountStore.java
Labels: Error Management

#1213 Update CircleCI test properties
  .circleci/tests.properties-extra.enc
  .circleci/tests.properties.enc
Labels: Core, Tests

#1212 Bind PagedListWrapper.isEmpty to its data
  example/src/test/java/org/wordpress/android/fluxc/list/PagedListWrapperTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/PagedListWrapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ListStore.kt
Labels: [Store] List

#1215 Implements invalidate list ListStore action
  example/src/test/java/org/wordpress/android/fluxc/list/PagedListWrapperTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/action/ListAction.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/PagedListWrapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ListStore.kt
Labels: [Store] List

#1218 Woo: order tracking shipment providers
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCOrdersTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCOrderExtTest.kt
  example/src/androidTest/resources/wc-order-shipment-providers-success.json
  example/src/main/java/org/wordpress/android/fluxc/example/WooCommerceFragment.kt
  example/src/main/res/layout/fragment_woocommerce.xml
  example/src/test/java/org/wordpress/android/fluxc/wc/order/OrderSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/order/OrderTestUtils.kt
  example/src/test/resources/wc/order-shipment-providers.json
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
  plugins/woocommerce/src/main/java/org/wordpress/android/fluxc/action/WCOrderAction.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCOrderShipmentProviderModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/OrderSqlUtils.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCOrderStore.kt
  plugins/woocommerce/src/main/tools/wc-wp-api-endpoints.txt
Labels: [Store] Woo: Order

#1217 issue/wcproductstore-singleton
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
Labels: [Store] Woo: Product

#1209 Add an endpoint for Annual stats
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/InsightsRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/insights/MostPopularRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/InsightsFixtures.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/InsightsStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/insights/MostPopularInsightsStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/InsightsMapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/YearsInsightsModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/module/ReleaseNetworkModule.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/insights/MostPopularRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/StatsStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/insights/MostPopularInsightsStore.kt
Labels: Stats Refresh

#1222 Add Kotlin support to Singleton checkstyle rules
  config/checkstyle.xml
Labels: Core

#1219 Follower totals
  fluxc/src/main/java/org/wordpress/android/fluxc/store/StatsStore.kt
Labels: Stats Refresh

#1224 issue/1223-wc-manage-stock
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
Labels: [Store] Woo: Product

#1228 Remove Objective-C section from project configuration file
  .idea/codeStyles/Project.xml
Labels: Core

#1226 Woo: Add and Delete Order Shipment Tracking
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCOrdersTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCOrderExtTest.kt
  example/src/androidTest/resources/wc-delete-order-shipment-tracking-success.json
  example/src/androidTest/resources/wc-post-order-shipment-tracking-custom-success.json
  example/src/androidTest/resources/wc-post-order-shipment-tracking-success.json
  example/src/main/java/org/wordpress/android/fluxc/example/WCAddOrderShipmentTrackingDialog.kt
  example/src/main/java/org/wordpress/android/fluxc/example/WooCommerceFragment.kt
  example/src/main/res/layout/dialog_wc_add_order_shipment_tracking.xml
  example/src/main/res/layout/fragment_woocommerce.xml
  fluxc-processor/src/main/java/org/wordpress/android/fluxc/processor/EndpointProcessor.java
  plugins/woocommerce/src/main/java/org/wordpress/android/fluxc/action/WCOrderAction.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCOrderStore.kt
  plugins/woocommerce/src/main/tools/wc-wp-api-endpoints.txt
Labels: [Store] Woo: Order

#1231 issue/reset-tables
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.java
Labels: Core

#1232 Merge master-post-filters into develop
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_PostListTestWpCom.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_PostListTestXMLRPC.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WPComBase.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/utils/ListStoreConnectedTestHelper.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/utils/TestPostListDataSource.kt
  example/src/main/java/org/wordpress/android/fluxc/example/PostsFragment.kt
  example/src/test/java/org/wordpress/android/fluxc/CoroutinesTestUtils.kt
  example/src/test/java/org/wordpress/android/fluxc/list/InternalPagedListDataSourceRangeTest.kt
  example/src/test/java/org/wordpress/android/fluxc/list/InternalPagedListDataSourceTest.kt
  example/src/test/java/org/wordpress/android/fluxc/list/PagedListFactoryTest.kt
  example/src/test/java/org/wordpress/android/fluxc/list/PagedListWrapperTest.kt
  example/src/test/java/org/wordpress/android/fluxc/list/TestListDescriptor.kt
  example/src/test/java/org/wordpress/android/fluxc/list/post/PostListDescriptorTest.kt
  example/src/test/java/org/wordpress/android/fluxc/page/PageStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/post/PostStoreUnitTest.java
  fluxc/src/main/java/org/wordpress/android/fluxc/action/ListAction.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/action/PostAction.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/CauseOfOnPostChanged.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/LocalOrRemoteId.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/AuthorFilter.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/PagedListFactory.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/PagedListItemType.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/PagedListWrapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/PostListDescriptor.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/datasource/InternalPagedListDataSource.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/datasource/ListItemDataSourceInterface.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/datastore/ListDataStoreInterface.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/datastore/PostListDataStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/post/PostRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/post/PostXMLRPCClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/PostSqlUtils.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ListStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PageStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PostStore.java
Labels: [Store] List, [Store] Post

#1234 Fixes trash remote post connected tests
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_PostTestWPCom.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_PostTestXMLRPC.java
Labels: Tests, [Store] Post

#1241 Temporarily disable post list tests as they keep failing
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_PostListTestWpCom.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_PostListTestXMLRPC.kt
Labels: Tests

#1236 CircleCI: More helpful Slack notifications for connected tests
  .circleci/config.yml
Labels: Core, Tests
