Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2020-10, with the labels that each got.

#1708 issue/1707-wc-trashed-product-status
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/CoreProductStatus.kt
Labels: [Store] Woo: Product

#1693 Move stock media store and rest client to kotlin
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_StockMediaTest.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_StockMediaTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stockmedia/StockMediaRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stockmedia/StockMediaRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/StockMediaStore.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/StockMediaStore.kt
Labels: Media Picker Consolidation, [Type] enhancement

#1694 Introduce cache to stock media store
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_StockMediaTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/StockMediaStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/action/StockMediaAction.java
  fluxc/src/main/java/org/wordpress/android/fluxc/module/ReleaseNetworkModule.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stockmedia/StockMediaRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/StockMediaSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/StockMediaItem.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/StockMediaStore.kt
Labels: Media Picker Consolidation, [Type] enhancement

#1697 Add stock media upload methods to media store
  example/src/androidTest/java/org/wordpress/android/fluxc/module/MockedNetworkModule.java
  example/src/test/java/org/wordpress/android/fluxc/store/StockMediaStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/module/ReleaseNetworkModule.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/media/MediaResponseUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/media/MediaRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stockmedia/StockMediaRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/MediaStore.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/StockMediaStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/StockMediaUploadItem.kt
Labels: Media Picker Consolidation, [Type] enhancement

#1714 Use fixed referrer URL instead of fetched from unstable API
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_TimeStatsTestJetpack.kt
Labels: Tests, [Type] bug

#1720 issue/1719-detect-deleted-products
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCProductsTest.kt
  example/src/androidTest/resources/wc-fetch-invalid-product-id.json
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
Labels: [Store] Woo: Product

#1715 Parcelizes FETCH_BLOCK_LAYOUTS response
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/BlockLayoutsResponse.kt
Labels: [Type] enhancement

#1718 Implements FETCH_BLOCK_LAYOUTS response CACHING
  example/src/test/java/org/wordpress/android/fluxc/site/SiteStoreUnitTest.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/layouts/GutenbergLayoutCategoriesModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/layouts/GutenbergLayoutCategoryModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/layouts/GutenbergLayoutModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/SiteSqlUtils.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/SiteStore.java
Labels: [Type] enhancement

#1721 Shipping labels: Address verification
  example/src/main/java/org/wordpress/android/fluxc/example/di/FragmentsModule.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/shippinglabels/WooShippingLabelFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/shippinglabels/WooVerifyAddressFragment.kt
  example/src/main/res/layout/fragment_woo_shippinglabels.xml
  example/src/main/res/layout/fragment_woo_verify_address.xml
  example/src/test/java/org/wordpress/android/fluxc/wc/shippinglabels/WCShippingLabelStoreTest.kt
  fluxc-processor/src/main/resources/wc-wp-api-endpoints.txt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/utils/JsonExt.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/shippinglabels/WCAddressVerificationResult.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/shippinglabels/WCShippingLabelModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/shippinglabels/ShippingLabelRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCShippingLabelStore.kt
Labels: [Store] WooCommerce

#1724 Issue/1723 woo linked products
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCProductsTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCProductTest.kt
  example/src/androidTest/resources/wc-fetch-product-response-success.json
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooUpdateProductFragment.kt
  example/src/main/res/layout/fragment_woo_update_product.xml
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
Labels: [Store] Woo: Product

#1727 Fix visibility of created sites
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClient.java
Labels: Site Creation, [Store] Site

#1731 Encode filename when uploading media
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/media/RestUploadRequestBody.java
Labels: [Type] Crash

#1733 Merge Release/1.6.22.1 into develop
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/media/RestUploadRequestBody.java
Labels: Releases

#1734 Woo: Shipping label packages endpoint
  example/src/main/java/org/wordpress/android/fluxc/example/ui/shippinglabels/WooShippingLabelFragment.kt
  example/src/main/res/layout/fragment_woo_shippinglabels.xml
  example/src/test/java/org/wordpress/android/fluxc/wc/shippinglabels/WCShippingLabelStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/shippinglabels/WCShippingLabelTestUtils.kt
  example/src/test/resources/wc/shipping-labels-packages.json
  fluxc-processor/src/main/resources/wc-wp-api-endpoints.txt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/shippinglabels/WCPackagesResult.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/shippinglabels/ShippingLabelRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCShippingLabelStore.kt
Labels: [Store] Woo: Order

#1728 Add unparsed referrers object to lower db load
  example/src/test/java/org/wordpress/android/fluxc/model/stats/TimeStatsMapperTest.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/time/ReferrersRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/time/ReferrersStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/time/TimeStatsFixtures.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/time/ReferrersModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/time/TimeStatsMapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/time/ReferrersRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/time/ReferrersStore.kt
Labels: [Type] Crash

#1736 Issue/1735 wc search product tags
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooProductsFragment.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
Labels: [Store] Woo: Product

#1741 Woo/product image nullpointer fix
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCProductsTest.kt
  example/src/androidTest/resources/wc-fetch-products-response-success.json
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductModel.kt
Labels: [Store] Woo: Product, [Type] Crash

#1742 Woo: Woo Services plugin availability check
  example/src/androidTest/java/org/wordpress/android/fluxc/module/MockedWCNetworkModule.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/shippinglabels/WooShippingLabelFragment.kt
  example/src/main/res/layout/fragment_woo_shippinglabels.xml
  example/src/test/java/org/wordpress/android/fluxc/wc/WCPluginSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/WooCommerceStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/module/ReleaseWCNetworkModule.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/plugins/WooPluginRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/WCPluginSqlUtils.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WooCommerceStore.kt
Labels: [Store] WooCommerce
