Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2020-12, with the labels that each got.

#1787 Woo: Parse fees in order details
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCOrdersTest.kt
  example/src/androidTest/resources/wc-orders-response-success.json
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCOrderModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
Labels: [Store] Woo: Order, [Type] enhancement

#1790 Fixed migration script to use woocommerce
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
Labels: [Store] Woo: Order

#1793 Add instructions on how to create response models
  README.md
Labels: Documentation

#1789 ThreatStore: Introduce ThreatMapper and custom deserialisers
  example/src/test/java/org/wordpress/android/fluxc/model/scan/threat/ThreatsMapperTest.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/scan/ScanRestClientTest.kt
  example/src/test/resources/wp/jetpack/scan/threat/threat-fixable.json
  example/src/test/resources/wp/jetpack/scan/threat/threat-not-fixable.json
  example/src/test/resources/wp/jetpack/scan/threat/threat.json
  example/src/test/resources/wp/jetpack/scan/threat/threat_context_as_json_object.json
  example/src/test/resources/wp/jetpack/scan/threat/threat_context_as_string.json
  fluxc/src/main/java/org/wordpress/android/fluxc/model/scan/ScanStateModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/scan/ThreatModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/scan/threat/ThreatMapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/scan/threat/ThreatModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/module/ReleaseNetworkModule.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/scan/ScanRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/scan/ScanStateResponse.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/scan/threat/FixableDeserializer.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/scan/threat/Threat.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/scan/threat/ThreatContextDeserializer.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/scan/threat/ThreatResponse.kt
Labels: [Store] Threat

#1795 Woo/shipping label product ids fix
  example/src/test/java/org/wordpress/android/fluxc/wc/shippinglabels/WCShippingLabelSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/shippinglabels/WCShippingLabelStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/shippinglabels/WCShippingLabelTestUtils.kt
  example/src/test/resources/wc/shipping-labels.json
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/shippinglabels/WCShippingLabelMapper.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/shippinglabels/WCShippingLabelModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/shippinglabels/ShippingLabelApiResponse.kt
Labels: [Store] Woo: Order, [Store] Woo: Shipping Label

#1791 ThreatStore: Map ThreatModels based on types
  example/src/test/java/org/wordpress/android/fluxc/model/scan/threat/ThreatsMapperTest.kt
  example/src/test/resources/wp/jetpack/scan/threat/threat-core-file-modification.json
  example/src/test/resources/wp/jetpack/scan/threat/threat-database.json
  example/src/test/resources/wp/jetpack/scan/threat/threat-file-with-context-as-json-object.json
  example/src/test/resources/wp/jetpack/scan/threat/threat-file-with-context-as-string.json
  example/src/test/resources/wp/jetpack/scan/threat/threat-generic.json
  example/src/test/resources/wp/jetpack/scan/threat/threat-vulnerable-extension.json
  example/src/test/resources/wp/jetpack/scan/threat/threat.json
  example/src/test/resources/wp/jetpack/scan/threat/threat_context_as_json_object.json
  example/src/test/resources/wp/jetpack/scan/threat/threat_context_as_string.json
  fluxc/src/main/java/org/wordpress/android/fluxc/model/scan/threat/ThreatMapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/scan/threat/ThreatModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/scan/threat/RowsDeserializer.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/scan/threat/Threat.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/scan/threat/ThreatContextDeserializer.kt
Labels: [Store] Threat

#1796 Woo: Countries and states
  example/src/main/java/org/wordpress/android/fluxc/example/ui/WooCommerceFragment.kt
  example/src/main/res/layout/fragment_woocommerce.xml
  example/src/test/java/org/wordpress/android/fluxc/wc/data/CountryTestUtils.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/data/WCDataStoreTest.kt
  fluxc-processor/src/main/resources/wc-wp-api-endpoints.txt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/data/WCCountryMapper.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/data/WCLocationModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/module/ReleaseWCNetworkModule.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/data/WCDataRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/WCCountriesSqlUtils.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCDataStore.kt
Labels: [Store] WooCommerce

#1794 Adds optional title, content and status in PostModel instantiation
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PostStore.java
Labels: [Type] enhancement

#1797 ScanStore: Fix ScanState table fields
  fluxc/src/main/java/org/wordpress/android/fluxc/model/scan/ScanStateModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/scan/ScanRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/scan/ScanStartResponse.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/scan/ScanStateResponse.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/ScanSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
Labels: [Store] Scan

#1798 Fix the broken migration script
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
Labels: [Store] WooCommerce

#1792 ThreatStore: Fetch threat details
  .circleci/tests.properties.enc
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_ScanTestJetpack.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/scan/ScanRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/scan/threat/ThreatRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/ThreatStoreTest.kt
  example/src/test/resources/wp/jetpack/scan/threat/threat-success-response.json
  fluxc-processor/src/main/resources/wp-com-v2-endpoints.txt
  fluxc/src/main/java/org/wordpress/android/fluxc/action/ThreatAction.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/module/ReleaseNetworkModule.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/scan/ScanRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/scan/threat/ThreatRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ScanStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ThreatStore.kt
Labels: [Store] Threat

#1802 Temporarily disable a failing test - testRedeemingCardWithWrongCountryCode
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_TransactionsTest.kt
Labels: Tests

#1805 Reenabled failing test.
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_TransactionsTest.kt
Labels: Tests

#1806 ScanStore: Store threats data in db
  example/src/test/java/org/wordpress/android/fluxc/model/scan/threat/ThreatsMapperTest.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/scan/threat/ThreatRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/persistence/ThreatSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/ScanStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/ThreatStoreTest.kt
  example/src/test/resources/wp/jetpack/scan/threat/threat-success-response.json
  fluxc/src/main/java/org/wordpress/android/fluxc/action/ThreatAction.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/scan/threat/ThreatMapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/scan/threat/ThreatModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/module/ReleaseNetworkModule.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/scan/threat/ThreatResponse.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/scan/threat/ThreatRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/ThreatSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ScanStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ThreatStore.kt
Labels: [Store] Scan

#1810 Merge hotfix/1.6.27.2 into develop
  example/src/test/resources/wc/lineitems.json
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCOrderModel.kt
Labels: Releases

#1807 Issue/13268 add activity type endpoint
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_ActivityLogTestJetpack.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/activity/ActivityLogRestClientTest.kt
  fluxc-processor/src/main/resources/wp-com-v2-endpoints.txt
  fluxc/src/main/java/org/wordpress/android/fluxc/action/ActivityLogAction.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/activity/ActivityTypeModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/activity/ActivityLogRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/activity/ActivityTypesDeserializer.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ActivityLogStore.kt
Labels: Jetpack

#1815 Issue/13268 add clear cache method
  example/src/test/java/org/wordpress/android/fluxc/store/ActivityLogStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/ActivityLogSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ActivityLogStore.kt
Labels: [Type] bug, [Type] enhancement

#1816 Fix date range timezones
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/activity/ActivityLogRestClientTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/module/ReleaseNetworkModule.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/activity/ActivityLogRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/utils/TimeZoneProvider.kt
Labels: [Store] Activity Log, [Type] bug

#1817 Add BackupDownloadStatus table to wellsqlutils
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
Labels: Jetpack

#1803 Create Store Attribute base endpoints handling
  example/src/main/java/org/wordpress/android/fluxc/example/di/FragmentsModule.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/WooCommerceFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooProductAttributeFragment.kt
  example/src/main/res/layout/fragment_woo_product_attribute.xml
  example/src/main/res/layout/fragment_woocommerce.xml
  fluxc-processor/src/main/resources/wc-wp-api-endpoints.txt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/jetpacktunnel/JetpackTunnelGsonRequestBuilder.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/product/attributes/WCProductAttributeModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/module/ReleaseWCNetworkModule.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/leaderboards/LeaderboardsRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/attributes/AttributeApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/attributes/ProductAttributeRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductAttributesStore.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/utils/JetpackResponseExt.kt
Labels: [Store] Woo: Product
