Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2020-07, with the labels that each got.

#1628 Issue/add app ver targets to whats new db
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
Labels: [Store] What's New

#1623 Multiple pages call bug
  example/src/test/java/org/wordpress/android/fluxc/page/PageStoreLocalChangesTest.kt
  example/src/test/java/org/wordpress/android/fluxc/page/PageStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/utils/CurrentDateUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PageStore.kt
Labels: [Type] bug

#1622 Feature/add site title quick start task
  example/src/test/java/org/wordpress/android/fluxc/quickstart/QuickStartStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/QuickStartStore.kt
Labels: [Store] Quick Start

#1630 Catch assertion error in Visits and Views store
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/time/VisitsAndViewsStore.kt
Labels: [Type] Crash

#1626 Woo/update virtual product
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCProductsTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_AccountTest.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCProductTest.kt
  example/src/androidTest/resources/wc-fetch-product-response-success.json
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooUpdateProductFragment.kt
  example/src/main/res/layout/fragment_woo_update_product.xml
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
Labels: [Store] Woo: Product

#1631 Fix the failing API unit test
  tests/api/src/test/java/APITesting_WCOrder.java
Labels: Tests

#1633 Woo/batch add tags
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCProductsTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCProductTest.kt
  example/src/androidTest/resources/wc-add-product-tags-response-success.json
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooProductsFragment.kt
  example/src/main/res/layout/fragment_woo_products.xml
  example/src/test/java/org/wordpress/android/fluxc/wc/product/ProductSqlUtilsTest.kt
  plugins/woocommerce/src/main/java/org/wordpress/android/fluxc/action/WCProductAction.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/BatchAddProductTagApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductTagApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/ProductSqlUtils.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
  plugins/woocommerce/src/main/tools/wc-wp-api-endpoints.txt
Labels: [Store] Woo: Product

#1636 Uncomment Payload configuration from some Account tests
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_AccountTest.java
Labels: Tests

#1635 Modified the width/length/height of the shipping label product item to BigDecimal
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/shippinglabels/WCShippingLabelModel.kt
Labels: [Store] Woo: Order

#1638 Create Leaderboards endpoint requests
  example/src/main/java/org/wordpress/android/fluxc/example/di/FragmentsModule.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/WooCommerceFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/leaderboards/WooLeaderboardsFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooProductsFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/shippinglabels/WooShippingLabelFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/stats/WooRevenueStatsFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/taxes/WooTaxFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/utils/ViewGroupExt.kt
  example/src/main/res/layout/fragment_woo_leaderboards.xml
  example/src/main/res/layout/fragment_woocommerce.xml
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/module/ReleaseWCNetworkModule.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/leaderboards/LeaderboardsApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/leaderboards/LeaderboardsRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCLeaderboardsStore.kt
  plugins/woocommerce/src/main/tools/wc-wp-api-endpoints.txt
Labels: [Store] Woo: Leaderboards

#1639 Woo/shipping labels fetch label by remoteShippingId
  example/src/test/java/org/wordpress/android/fluxc/wc/shippinglabels/WCShippingLabelSqlUtilsTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/shippinglabels/WCShippingLabelMapper.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/shippinglabels/WCShippingLabelModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/shippinglabels/ShippingLabelApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/WCShippingLabelSqlUtils.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCShippingLabelStore.kt
Labels: [Store] Woo: Order

#1640 Single variation actions
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCProductTest.kt
  example/src/main/java/org/wordpress/android/fluxc/example/di/FragmentsModule.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooProductsFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooUpdateVariationFragment.kt
  example/src/main/res/layout/fragment_woo_products.xml
  example/src/main/res/layout/fragment_woo_update_variation.xml
  example/src/test/java/org/wordpress/android/fluxc/wc/product/ProductTestUtils.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/product/WCProductStoreTest.kt
  plugins/woocommerce/src/main/java/org/wordpress/android/fluxc/action/WCProductAction.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/ProductSqlUtils.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
  plugins/woocommerce/src/main/tools/wc-wp-api-endpoints.txt
Labels: [Store] Woo: Product

#1641 Revert "Fix the failing API unit test"
  tests/api/src/test/java/APITesting_WCOrder.java
Labels: Tests

#1642 Fix auth-options test failing on the release stack
  .circleci/tests.properties.enc
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_AccountTest.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_AccountTest.java
  example/src/androidTest/resources/fetch-auth-options-response-failure-email-login-not-allowed.json
  example/src/androidTest/resources/fetch-auth-options-response-success-unverified-email.json
  example/tests.properties-example
  fluxc/src/main/java/org/wordpress/android/fluxc/store/AccountStore.java
Labels: Tests, [Type] enhancement

#1648 Fixed migration logic for shipping labels only for WooCommerce
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
Labels: [Type] Crash

#1646 [Feature] Add Search Filter for XML RPC Requests
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_PostListTestXMLRPC.kt
  example/src/test/java/org/wordpress/android/fluxc/list/post/PostListDescriptorTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/PostListDescriptor.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/post/PostXMLRPCClient.java
Labels: [Store] Post, [Type] enhancement

#1634 Support correct mime types
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_MediaTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_UploadStoreTest.java
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_UploadTest.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_MediaTestJetpack.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_MediaTestWPCom.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_MediaTestXMLRPC.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_UploadTest.java
  example/src/test/java/org/wordpress/android/fluxc/media/MediaSqlUtilsTest.java
  example/src/test/java/org/wordpress/android/fluxc/utils/MediaUtilsTest.java
  example/src/test/java/org/wordpress/android/fluxc/utils/MimeTypesTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/media/MediaRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/media/MediaXMLRPCClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/MediaSqlUtils.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/MediaStore.java
  fluxc/src/main/java/org/wordpress/android/fluxc/utils/MediaUtils.java
  fluxc/src/main/java/org/wordpress/android/fluxc/utils/MimeType.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/utils/MimeTypes.kt
Labels: Media Picker Consolidation, [Store] Media, [Type] enhancement
