Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2020-11, with the labels that each got.

#1746 Release/1.6.25
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCProductsTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/module/MockedWCNetworkModule.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCProductTest.kt
  example/src/androidTest/resources/wc-fetch-product-response-success.json
  example/src/androidTest/resources/wc-fetch-products-response-success.json
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooProductsFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooUpdateProductFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/shippinglabels/WooShippingLabelFragment.kt
  example/src/main/res/layout/fragment_woo_shippinglabels.xml
  example/src/main/res/layout/fragment_woo_update_product.xml
  example/src/test/java/org/wordpress/android/fluxc/model/stats/TimeStatsMapperTest.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/time/ReferrersRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/time/ReferrersStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/time/TimeStatsFixtures.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/WCPluginSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/WooCommerceStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/order/WCOrderModelTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/shippinglabels/WCShippingLabelStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/shippinglabels/WCShippingLabelTestUtils.kt
  example/src/test/resources/wc/lineitems.json
  example/src/test/resources/wc/shipping-labels-packages.json
  fluxc-processor/src/main/resources/wc-wp-api-endpoints.txt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/time/ReferrersModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/time/TimeStatsMapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/time/ReferrersRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/time/ReferrersStore.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCOrderModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/shippinglabels/WCPackagesResult.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/module/ReleaseWCNetworkModule.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/plugins/WooPluginRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/shippinglabels/ShippingLabelRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/WCPluginSqlUtils.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCShippingLabelStore.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WooCommerceStore.kt
Labels: Releases

#1743 Implements FETCH_STARTER_DESIGNS call
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_ThemeTestWPCom.java
  fluxc-processor/src/main/resources/wp-com-endpoints.txt
  fluxc/src/main/java/org/wordpress/android/fluxc/action/ThemeAction.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/StarterDesignModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/theme/ThemeRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ThemeStore.java
Labels: [Type] enhancement

#1737 Add attachment ViewsType
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/time/PostAndPageViewsModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/time/TimeStatsMapper.kt
Labels: Stats Refresh

#1747 Update dagger library to v2.29.1
  build.gradle
  example/src/main/java/org/wordpress/android/fluxc/example/ExampleApp.kt
  example/src/main/java/org/wordpress/android/fluxc/example/MainExampleActivity.kt
Labels: [Type] enhancement

#1751 Update example test properties documentation
  example/tests.properties-example
Labels: Tests, [Type] enhancement

#1750 issue/1749-wc-empty-list-crash
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/ProductSqlUtils.kt
Labels: [Store] Woo: Product, [Type] Crash

#1752 Adds "template" in CREATE_NEW_SITE and "language in FETCH_STARTER_DESIGNS
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/theme/ThemeRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/SiteStore.java
Labels: [Type] enhancement

#1758 Restores the old NewSitePayload constructor as a secondary constructor
  fluxc/src/main/java/org/wordpress/android/fluxc/store/SiteStore.java
Labels: [Type] bug

#1748 Update okhttp version
  example/build.gradle
  example/src/androidTest/java/org/wordpress/android/fluxc/module/ResponseMockingInterceptor.kt
  fluxc/build.gradle
  fluxc/src/main/java/org/wordpress/android/fluxc/module/DebugOkHttpClientModule.java
  fluxc/src/main/java/org/wordpress/android/fluxc/module/ReleaseNetworkModule.java
  fluxc/src/main/java/org/wordpress/android/fluxc/module/ReleaseOkHttpClientModule.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/MemorizingTrustManager.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/OkHttpStack.java
Labels: Core, [Type] enhancement

#1706 [WooCommerce] Handling downloadable files
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCProductsTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCProductTest.kt
  example/src/androidTest/resources/wc-fetch-product-response-success.json
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooProductDownloadsAdapter.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooProductDownloadsFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooUpdateProductFragment.kt
  example/src/main/res/layout/fragment_woo_product_downloads.xml
  example/src/main/res/layout/fragment_woo_update_product.xml
  example/src/main/res/layout/product_downloadable_file_list_item.xml
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductFileModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
Labels: [PR] Not Ready For Merge, [Store] Woo: Product

#1755 Add more logs to media errors
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/media/MediaRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/media/MediaXMLRPCClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/MediaStore.java
Labels: Media Picker Consolidation, [Type] enhancement

#1745 Add support for filters to FetchActivityLog request
  .circleci/tests.properties.enc
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_ActivityLogTestJetpack.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/activity/ActivityLogRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/ActivityLogStoreTest.kt
  example/tests.properties-example
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/activity/ActivityLogRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ActivityLogStore.kt
Labels: [Type] enhancement

#1760 ScanStore: Introduce skeleton classes
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_AppComponent.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_ScanTestJetpack.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/action/ScanAction.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/module/ReleaseNetworkModule.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/scan/ScanRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/ScanSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ScanStore.kt
Labels: [Store] Scan

#1754 Adds "segment_id" in FETCH_STARTER_DESIGNS return model
  fluxc/src/main/java/org/wordpress/android/fluxc/model/StarterDesignModel.kt
Labels: [Type] enhancement

#1765 NPE in okhttpstack
  fluxc/src/main/java/org/wordpress/android/fluxc/network/OkHttpStack.java
Labels: Core

#1768 Woo: Order Product Attribute fixes
  example/src/test/java/org/wordpress/android/fluxc/wc/order/WCOrderModelTest.kt
  example/src/test/resources/wc/lineitems.json
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCOrderModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/order/OrderProductAttributeListDeserializer.kt
Labels: [Store] Woo: Order

#1770 release/1.6.26 -> trunk
  .circleci/tests.properties.enc
  README.md
  build.gradle
  example/build.gradle
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCProductsTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/module/ResponseMockingInterceptor.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_ActivityLogTestJetpack.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_AppComponent.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_ScanTestJetpack.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_SiteTestWPCom.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_ThemeTestWPCom.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCProductTest.kt
  example/src/androidTest/resources/wc-fetch-product-response-success.json
  example/src/main/java/org/wordpress/android/fluxc/example/ExampleApp.kt
  example/src/main/java/org/wordpress/android/fluxc/example/MainExampleActivity.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooProductDownloadsAdapter.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooProductDownloadsFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooUpdateProductFragment.kt
  example/src/main/res/layout/fragment_woo_product_downloads.xml
  example/src/main/res/layout/fragment_woo_update_product.xml
  example/src/main/res/layout/product_downloadable_file_list_item.xml
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/activity/ActivityLogRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/ActivityLogStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/order/WCOrderModelTest.kt
  example/src/test/resources/wc/lineitems.json
  example/tests.properties-example
  fluxc-processor/src/main/resources/wp-com-endpoints.txt
  fluxc/build.gradle
  fluxc/src/main/java/org/wordpress/android/fluxc/action/ScanAction.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/action/ThemeAction.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/SiteModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/StarterDesignModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/time/PostAndPageViewsModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/time/TimeStatsMapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/module/DebugOkHttpClientModule.java
  fluxc/src/main/java/org/wordpress/android/fluxc/module/ReleaseNetworkModule.java
  fluxc/src/main/java/org/wordpress/android/fluxc/module/ReleaseOkHttpClientModule.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/MemorizingTrustManager.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/OkHttpStack.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/activity/ActivityLogRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/media/MediaRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/scan/ScanRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteWPComRestResponse.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/theme/ThemeRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/media/MediaXMLRPCClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/ScanSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ActivityLogStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/MediaStore.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ScanStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/SiteStore.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ThemeStore.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCOrderModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductFileModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/order/OrderProductAttributeListDeserializer.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/ProductSqlUtils.kt
Labels: Releases

#1766 Add support for rewind downloads endpoint
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/activity/ActivityLogRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/ActivityLogStoreTest.kt
  fluxc-processor/src/main/resources/wp-com-v2-endpoints.txt
  fluxc/src/main/java/org/wordpress/android/fluxc/action/ActivityLogAction.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/activity/ActivityLogRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ActivityLogStore.kt
Labels: [Type] enhancement

#1772 Issue/1767 download status
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/activity/ActivityFixtures.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/activity/ActivityLogRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/ActivityLogStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/action/ActivityLogAction.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/activity/DownloadStatusModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/activity/ActivityLogRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/ActivityLogSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ActivityLogStore.kt
Labels: [Type] enhancement

#1773 Rename download to backupDownload
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/activity/ActivityFixtures.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/activity/ActivityLogRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/ActivityLogStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/action/ActivityLogAction.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/activity/BackupDownloadStatusModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/activity/ActivityLogRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/ActivityLogSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ActivityLogStore.kt
Labels: [PR] Not Ready For Merge, [Type] enhancement

#1774 Persist the fetched products
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
Labels: [Store] Woo: Product

#1763 ScanStore: Fetch Scan State
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_ScanTestJetpack.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/activity/ActivityLogRestClientTest.kt
  fluxc-processor/src/main/resources/wp-com-v2-endpoints.txt
  fluxc/src/main/java/org/wordpress/android/fluxc/action/ScanAction.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/scan/ScanStateModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/scan/ThreatModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/module/ReleaseNetworkModule.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/activity/ActivityLogRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/scan/ScanRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/scan/ScanStateResponse.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/ScanSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ScanStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/utils/NetworkErrorMapper.kt
Labels: [Store] Scan

#1771 Adds a RequestQueue provider that performs retries on redirect
  .circleci/tests.properties.enc
  example/src/androidTest/java/org/wordpress/android/fluxc/module/MockedNetworkModule.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_AppComponent.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_NoRedirectsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/network/RetryOnRedirectBasicNetworkTest.kt
  example/tests.properties-example
  fluxc/src/main/java/org/wordpress/android/fluxc/module/DebugOkHttpClientModule.java
  fluxc/src/main/java/org/wordpress/android/fluxc/module/ReleaseNetworkModule.java
  fluxc/src/main/java/org/wordpress/android/fluxc/module/ReleaseOkHttpClientModule.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/RetryOnRedirectBasicNetwork.java
Labels: Site Creation, [Type] enhancement

#1777 Issue/1776 wc cached order count
  example/src/test/java/org/wordpress/android/fluxc/wc/order/OrderSqlUtilsTest.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/OrderSqlUtils.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCOrderStore.kt
Labels: [Store] Woo: Order

#1756 Add initial support for experimentation platform
  example/src/main/java/org/wordpress/android/fluxc/example/ExampleApp.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ExperimentsFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/MainFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/di/FragmentsModule.kt
  example/src/main/res/layout/fragment_experiments.xml
  example/src/main/res/layout/fragment_main.xml
  example/src/test/java/org/wordpress/android/fluxc/experiments/AssignmentsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/experiments/ExperimentStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/experiments/ExperimentRestClientTest.kt
  fluxc-processor/src/main/resources/wp-com-v2-endpoints.txt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/experiments/AssignmentsModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/module/ReleaseNetworkModule.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/experiments/ExperimentRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ExperimentStore.kt
Labels: [Type] enhancement

#1779 ScanStore: ScanRestClient unit tests
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/scan/ScanRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/ScanStoreTest.kt
  example/src/test/resources/wp/jetpack/scan/jp-backup-daily-scan-unavailable.json
  example/src/test/resources/wp/jetpack/scan/jp-complete-scan-idle.json
  example/src/test/resources/wp/jetpack/scan/jp-complete-scan-scanning.json
  example/src/test/resources/wp/jetpack/scan/jp-scan-daily-scan-idle-with-threat-without-server-creds.json
  example/src/test/resources/wp/jetpack/scan/jp-scan-daily-scan-idle-with-threat.json
  fluxc/src/main/java/org/wordpress/android/fluxc/action/ScanAction.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/scan/ScanStateModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/scan/ThreatModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/scan/ScanRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/scan/ScanStateResponse.kt
Labels: [Store] Scan

#1780 ScanStore: Store scan state into DB
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_ScanTestJetpack.kt
  example/src/test/java/org/wordpress/android/fluxc/store/ScanStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/scan/ScanStateModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/ScanSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ScanStore.kt
Labels: [Store] Scan

#1785 ScanStore: Start new scan
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_ScanTestJetpack.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/scan/ScanRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/ScanStoreTest.kt
  example/src/test/resources/wp/jetpack/scan/jp-backup-daily-start-scan-error.json
  fluxc-processor/src/main/resources/wp-com-v2-endpoints.txt
  fluxc/src/main/java/org/wordpress/android/fluxc/action/ScanAction.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/scan/ScanRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/scan/ScanStartResponse.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ScanStore.kt
Labels: [Store] Scan

#1786 [Bug] Change product variations order by logic to fix UI scrolling issue
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCProductsTest.kt
  example/src/androidTest/resources/wc-fetch-product-variations-response-success.json
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/ProductSqlUtils.kt
Labels: [Store] Woo: Product, [Type] bug

#1784 Changed download limit from Int to Long
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCProductsTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCProductTest.kt
  example/src/androidTest/resources/wc-fetch-product-response-success.json
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooUpdateProductFragment.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductVariationModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductVariationApiResponse.kt
Labels: [Store] Woo: Product, [Type] Crash
