Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2020-06, with the labels that each got.

#1595 Product variation details fields
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCProductsTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductVariationModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductVariationApiResponse.kt
Labels: [Store] Woo: Product

#1599 Woo/get product category by id
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooProductsFragment.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/ProductSqlUtils.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
Labels: [Store] Woo: Product

#1601 Woo: Add all the missing variation properties
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductVariationModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductVariationApiResponse.kt
Labels: [Store] Woo: Product

#1604 Log progress of fetchVisits call to investigate stale data issue
  example/src/test/java/org/wordpress/android/fluxc/store/stats/time/VisitsAndViewsStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/time/VisitsAndViewsStore.kt
Labels: [Type] bug

#1593 [Gutenberg] Editor Theme Color support.
  .idea/codeStyles/Project.xml
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedNetworkAppComponent.java
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_EditorThemeStoreTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/module/MockedNetworkModule.java
  example/src/androidTest/resources/editor-theme-custom-elements-success-response.json
  example/src/androidTest/resources/editor-theme-unsupported-response.json
  example/src/main/java/org/wordpress/android/fluxc/example/EditorThemeFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/MainFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/di/FragmentsModule.kt
  example/src/main/res/layout/fragment_editor_theme.xml
  example/src/main/res/layout/fragment_main.xml
  fluxc/src/main/java/org/wordpress/android/fluxc/action/EditorThemeAction.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/EditorTheme.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/reactnative/ReactNativeWPAPIRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/reactnative/ReactNativeWPComRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/EditorThemeSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/EditorThemeStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ReactNativeStore.kt
Labels: [Type] enhancement

#1606 Correct version conflict from merge
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
Labels: [Pri] High

#1605 Feature/what new endpoint
  example/src/main/java/org/wordpress/android/fluxc/example/SignedOutActionsFragment.java
  example/src/main/res/layout/fragment_signed_out_actions.xml
  example/src/test/java/org/wordpress/android/fluxc/utils/WhatsNewAppVersionUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/whatsnew/WhatsNewSqlUtilsTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/action/WhatsNewAction.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/whatsnew/WhatsNewAnnouncementModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/module/ReleaseNetworkModule.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/whatsnew/WhatsNewRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WhatsNewSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/WhatsNewStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/utils/WhatsNewAppVersionUtils.kt
  fluxc/src/main/tools/wp-com-v2-endpoints.txt
Labels: [Store] What's New

#1609 Fixed json exception when parsing product names in shipping labels
  example/src/test/java/org/wordpress/android/fluxc/wc/shippinglabels/WCShippingLabelSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/shippinglabels/WCShippingLabelTestUtils.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/shippinglabels/WCShippingLabelModel.kt
Labels: [Store] Woo: Order

#1614 Woo/fetch product tags
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCProductsTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCProductTest.kt
  example/src/androidTest/resources/wc-fetch-product-tags-response-success.json
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooProductsFragment.kt
  example/src/main/res/layout/fragment_woo_products.xml
  example/src/test/java/org/wordpress/android/fluxc/wc/product/ProductSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/product/ProductTestUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  plugins/woocommerce/src/main/java/org/wordpress/android/fluxc/action/WCProductAction.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductTagModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductTagApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/ProductSqlUtils.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
  plugins/woocommerce/src/main/tools/wc-wp-api-endpoints.txt
Labels: [Store] Woo: Product

#1610 Update Gradle version
  .circleci/config.yml
  build.gradle
  gradle.properties-example
  gradle/wrapper/gradle-wrapper.properties
Labels: Tech debt

#1617 Woo/update product tags
  example/src/main/java/org/wordpress/android/fluxc/example/di/FragmentsModule.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooProductTagsAdapter.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooProductTagsFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooUpdateProductFragment.kt
  example/src/main/res/layout/fragment_woo_update_product.xml
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
Labels: [Store] Woo: Product

#1620 [Gutenberg] Adjust the fetching of custom colors
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_EditorThemeStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/EditorThemeSqlUtils.kt
Labels: [Type] bug
