Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2020-01, with the labels that each got.

#1464 Pass the last day of the week as end date when fetching revenue stats api
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCStatsStore.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/utils/DateUtils.kt
Labels: [Store] Woo: Stats

#1465 Issue/1457 shipping class pagination
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooProductsFragment.kt
  example/src/main/res/layout/fragment_woo_products.xml
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
Labels: [Store] Woo: Product

#1470 Pass the last day of the month and year as end date when fetching revenue stats
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCStatsStore.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/utils/DateUtils.kt
Labels: [Store] Woo: Stats

#1467 Don't remove "p" and "br" tags when uploading local drafts on self hosted sites
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_PostTestXMLRPC.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/post/PostXMLRPCClient.java
Labels: [Type] bug

#1471 Fixes SiteRestClient.checkDomainAvailability comment to refer to the correct API version
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClient.java
Labels: [Store] Site

#1468 Removes unnecessary LIST_ITEMS_CHANGED action
  example/src/test/java/org/wordpress/android/fluxc/list/PagedListWrapperTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/action/ListAction.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/PagedListWrapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ListStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PostStore.java
Labels: [Store] List

#1475 Fixes incorrect canLoadMore value for fetching post list
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/post/PostRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/post/PostWPComRestResponse.kt
Labels: [Store] Post

#1473 Woo/update product stock status fix
  example/src/main/java/org/wordpress/android/fluxc/example/ui/ListSelectorDialog.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooUpdateProductFragment.kt
  example/src/main/res/layout/fragment_woo_update_product.xml
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
Labels: [Store] Woo: Product

#1478 Woo: Batch query to prevent SQLiteException crash
  example/src/test/java/org/wordpress/android/fluxc/wc/order/OrderSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/order/OrderTestUtils.kt
  example/src/test/resources/wc/order-summaries-extended.json
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/OrderSqlUtils.kt
Labels: [Store] Woo: Order

#1476 Issue/1474 verify sku exists
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCProductsTest.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooProductsFragment.kt
  example/src/main/res/layout/fragment_woo_products.xml
  plugins/woocommerce/src/main/java/org/wordpress/android/fluxc/action/WCProductAction.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
Labels: [Store] Woo: Product

#1461 Clear Account & Token on Invalid Token
  fluxc/src/main/java/org/wordpress/android/fluxc/store/AccountStore.java
Labels: Error Management, [Type] bug

#1479 Introduces PostSummary for post list sectioning
  example/src/test/java/org/wordpress/android/fluxc/post/PostStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/PostSummaryModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/post/PostStatus.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/post/PostRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/post/PostXMLRPCClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/PostSqlUtils.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PostStore.java
Labels: [Store] List, [Store] Post

#1483 Fix slug not set on self hosted sites
  fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/post/PostXMLRPCClient.java
Labels: [Store] Post

#1484 Woo: Only include the `search` query param when fetching orders if it's being used
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
Labels: [Store] Woo: Order

#1485 Add defences for bad APIs
  example/src/test/java/org/wordpress/android/fluxc/wc/gateways/GatewayFixtures.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/gateways/GatewayMapper.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/gateways/GatewayRestClient.kt
Labels: [Store] Woo: Order

#1488 Issue/1487 product sku verification optimize
  example/src/test/java/org/wordpress/android/fluxc/wc/product/WCProductStoreTest.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/ProductSqlUtils.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
Labels: [Store] Woo: Product

#1489 Use Site directly instead of Site Store in test
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_ReactNativeWPComRequestTest.kt
Labels: Tests
