Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2020-02, with the labels that each got.

#1491 issue/1490-woo-product-sale-dates-gmt
  .idea/codeStyles/Project.xml
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
Labels: [Store] Woo: Product

#1492 Adds FETCH_POST_STATUS action
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_PostTestWPCom.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_PostTestXMLRPC.java
  fluxc/src/main/java/org/wordpress/android/fluxc/action/PostAction.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/post/PostRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/post/PostXMLRPCClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PostStore.java
Labels: [Store] Post

#1495 Added logic to use dateOnSaleFromGmt instead of using dateOnSaleFrom
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooUpdateProductFragment.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
Labels: [Store] Woo: Product

#1462 Migrate multiple media upload and cancellation tests to mocked network
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedNetworkAppComponent.java
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_MediaTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_UploadTest.java
  example/src/androidTest/java/org/wordpress/android/fluxc/module/ResponseMockingInterceptor.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_MediaTestWPCom.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_MediaTestXMLRPC.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_UploadTest.java
Labels: Tests

#1499 Modified method name when fetching tax class list from db
  example/src/test/java/org/wordpress/android/fluxc/wc/taxes/WCTaxStoreTest.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCTaxStore.kt
Labels: [Store] Woo: Product

#1502 Woo: Lower max orders to fetch in batch from 25 to 15
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCOrderStore.kt
Labels: [Store] Woo: Order

#1482 Fetching an empty list of posts should mark canLoadMore posts as false
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/post/PostRestClient.java
Labels: [Store] Post

#1460 Change default selected insights
  fluxc/src/main/java/org/wordpress/android/fluxc/store/StatsStore.kt
Labels: Stats Refresh, [Type] enhancement

#1500 Reduce artificial network delay to .5s for mocked tests
  example/src/androidTest/java/org/wordpress/android/fluxc/module/ResponseMockingInterceptor.kt
Labels: Tests

#1506 Fixing CI related to PR #1460.
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_ManageInsightsTestJetpack.kt
Labels: Stats Refresh, Tests, [Type] bug
