Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2020-03, with the labels that each got.

#1509 [DO NOT MERGE][Site Creation] Step 1: Remove VerticalModel
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_VerticalTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/action/VerticalAction.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/vertical/VerticalModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/vertical/VerticalRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/VerticalStore.kt
  fluxc/src/main/tools/wp-com-v2-endpoints.txt
Labels: Site Creation

#1511 [Site Creation] Step 1: Remove vertical id in site creation
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/SiteStore.java
Labels: Site Creation

#1514 [Site Creation] Step 2: Remove site title and tagline in site creation
  example/src/main/java/org/wordpress/android/fluxc/example/SitesFragment.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/SiteStore.java
Labels: Site Creation

#1510 [Site Creation] Step 1: Remove SegmentPromptModel
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_VerticalTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/action/VerticalAction.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/vertical/SegmentPromptModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/vertical/VerticalRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/VerticalStore.kt
  fluxc/src/main/tools/wp-com-v2-endpoints.txt
Labels: Site Creation

#1520 Add remotePostId to RemoteAutoSavePayload
  fluxc/src/main/java/org/wordpress/android/fluxc/model/CauseOfOnPostChanged.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/post/PostRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PostStore.java
Labels: [Store] Post

#1519 Site Creation: verticals, site info removal
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_VerticalTest.kt
  example/src/main/java/org/wordpress/android/fluxc/example/SitesFragment.java
  fluxc/src/main/java/org/wordpress/android/fluxc/action/VerticalAction.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/vertical/SegmentPromptModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/vertical/VerticalModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/vertical/VerticalRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/SiteStore.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/VerticalStore.kt
  fluxc/src/main/tools/wp-com-v2-endpoints.txt
Labels: Site Creation, [PR] Not Ready For Merge

#1515 Use cancellable coroutines for REST requests
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/WPAPIGsonRequestBuilder.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/WPComGsonRequestBuilder.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/jetpacktunnel/JetpackTunnelGsonRequestBuilder.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/JetpackStore.kt
Labels: [Type] enhancement

#1523 issue/1522-woo-update-product-images
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCProductsTest.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductImageModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
Labels: [Store] Woo: Product

#1496 Add post to PageModel
  example/src/test/java/org/wordpress/android/fluxc/page/PageStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/page/PageModel.kt
Labels: [Store] Page, [Type] enhancement

#1521 Persist changesConfirmed flag when we load a page on the page list
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PageStore.kt
Labels: Offline Support, [Store] Page

#1507 Remove PostSummaryModel
  example/src/test/java/org/wordpress/android/fluxc/post/PostStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/PostSummaryModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/post/PostStatus.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/post/PostRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/post/PostXMLRPCClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/PostSqlUtils.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PostStore.java
Labels: [Store] Post

#1517 Add logging to Store calls
  build.gradle
  example/build.gradle
  example/src/test/java/org/wordpress/android/fluxc/page/PageStoreLocalChangesTest.kt
  example/src/test/java/org/wordpress/android/fluxc/page/PageStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/JetpackStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/ReactNativeStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/StatsStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/InsightsStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/PostDetailStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/insights/MostPopularInsightsStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/insights/PostingActivityStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/time/AuthorsStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/time/ClicksStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/time/CountryViewsStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/time/FileDownloadsStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/time/PostAndPageViewsStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/time/ReferrersStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/time/SearchTermsStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/time/VideoPlaysStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/time/VisitsAndViewsStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/tools/CoroutineEngineUtils.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/gateways/WCGatewayStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/refunds/RefundStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/taxes/WCTaxStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/JetpackStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PageStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ReactNativeStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/StatsStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/PostDetailStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/insights/AllTimeInsightsStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/insights/CommentsStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/insights/FollowersStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/insights/LatestPostInsightsStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/insights/MostPopularInsightsStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/insights/PostingActivityStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/insights/PublicizeStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/insights/TagsStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/insights/TodayInsightsStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/time/AuthorsStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/time/ClicksStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/time/CountryViewsStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/time/FileDownloadsStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/time/PostAndPageViewsStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/time/ReferrersStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/time/SearchTermsStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/time/VideoPlaysStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/time/VisitsAndViewsStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/tools/CoroutineEngine.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/utils/AppLogWrapper.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCGatewayStore.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCRefundStore.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCTaxStore.kt
Labels: [Type] enhancement

#1527 Add the missing field initialization in a test product
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCProductTest.kt
Labels: Tests
