Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2021-04, with the labels that each got.

#1939 Introduce WCPayStore
  .configure
  .configure-files/firebase.secrets.json.enc
  .configure-files/gradle.properties.enc
  .configure-files/tests.properties-extra.enc
  .configure-files/tests.properties.enc
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedNetworkAppComponent.java
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCPayTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_AppComponent.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCPayTest.kt
  example/src/androidTest/resources/wc-pay-fetch-connection-token-response-success.json
  example/src/test/java/org/wordpress/android/fluxc/wc/pay/WCPayStoreTest.kt
  example/tests.properties-example
  fluxc-processor/src/main/resources/wc-wp-api-endpoints.txt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/pay/WCConnectionTokenResult.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/module/ReleaseWCNetworkModule.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/pay/ConnectionTokenApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/pay/PayRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCPayStore.kt
Labels: [Store] Woo: Pay

#1931 [Woo] Support decimal value in stock quantity property for Simple and Variation Products.
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooUpdateProductFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooUpdateVariationFragment.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/product/ProductSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/product/ProductTestUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductVariationModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductVariationApiResponse.kt
Labels: [PR] Not Ready For Merge, [Store] Woo: Product

#1935 Adding fetch and store capability for likes in post and comment endpoints.
  example/src/androidTest/java/org/wordpress/android/fluxc/module/MockedNetworkModule.java
  fluxc-processor/src/main/resources/wp-com-endpoints.txt
  fluxc/src/main/java/org/wordpress/android/fluxc/action/CommentAction.java
  fluxc/src/main/java/org/wordpress/android/fluxc/action/PostAction.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/CauseOfOnPostChanged.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/LikeModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/module/ReleaseNetworkModule.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/comment/CommentRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/common/LikeWPComRestResponse.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/common/LikesResponseUtilsProvider.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/post/PostRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/CommentSqlUtils.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/PostSqlUtils.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/CommentStore.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PostStore.java
  fluxc/src/main/java/org/wordpress/android/fluxc/utils/CommentErrorUtils.java
Labels: [Store] Comment, [Store] Post, [Type] enhancement

#1937 Feature/add parent information to comment
  fluxc/src/main/java/org/wordpress/android/fluxc/model/CommentModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/CommentStatus.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/comment/CommentRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/comment/CommentXMLRPCClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
Labels: [Store] Comment

#1936 Filter Jetpack sites for Jetpack app
  .configure-files/tests.properties.enc
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_SiteTest.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_ActivityLogTestJetpack.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_InsightsTestJetpack.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_ManageInsightsTestJetpack.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_MediaTestJetpack.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_PluginTestJetpack.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_PostSchedulingTestJetpack.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_ScanTestJetpack.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_SiteTestJetpack.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_SiteTestWPCom.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_ThemeTestJetpack.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_TimeStatsTestJetpack.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WPComBase.java
  example/src/main/java/org/wordpress/android/fluxc/example/MainFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/SiteSelectorDialog.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/action/SiteAction.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/SiteStore.java
  instaflux/src/main/java/org/wordpress/android/fluxc/instaflux/MainInstafluxActivity.java
Labels: Jetpack App, [PR] Not Ready For Merge

#1945 Adds method to get cached page layout content
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/SiteSqlUtils.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/SiteStore.java
Labels: [Type] Crash, [Type] bug

#1943 Add System status endpoint client
  example/src/androidTest/java/org/wordpress/android/fluxc/module/MockedWCNetworkModule.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/WooCommerceStoreTest.kt
  fluxc-processor/src/main/resources/wc-wp-api-endpoints.txt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/module/ReleaseWCNetworkModule.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/system/WooSystemRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/WCPluginSqlUtils.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WooCommerceStore.kt
Labels: [Store] Woo: Order

#1944 Shipping label creation eligibility
  example/src/main/java/org/wordpress/android/fluxc/example/ui/shippinglabels/WooShippingLabelFragment.kt
  example/src/main/res/layout/fragment_woo_shippinglabels.xml
  example/src/test/java/org/wordpress/android/fluxc/wc/shippinglabels/WCShippingLabelSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/shippinglabels/WCShippingLabelStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/shippinglabels/WCShippingLabelTestUtils.kt
  fluxc-processor/src/main/resources/wc-wp-api-endpoints.txt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/shippinglabels/WCShippingLabelCreationEligibility.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/shippinglabels/WCShippingLabelMapper.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/shippinglabels/WCShippingLabelModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/shippinglabels/SLCreationEligibilityApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/shippinglabels/ShippingLabelRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/WCShippingLabelSqlUtils.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCShippingLabelStore.kt
Labels: [Store] Woo: Shipping Label

#1952 Woo Shipping Labels: expose box_weight in the package data model
  example/src/test/java/org/wordpress/android/fluxc/wc/shippinglabels/WCShippingLabelStoreTest.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/shippinglabels/WCPackagesResult.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCShippingLabelStore.kt
Labels: [Store] Woo: Shipping Label

#1955 Merge Release/1.14.1 into develop
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/SiteSqlUtils.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/SiteStore.java
Labels: Releases

#1951 Scan State: Get credentials availability
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/scan/ScanRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/persistence/ScanStateSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/ScanStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/scan/ScanStateModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/scan/ScanRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/ScanSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ScanStore.kt
Labels: [Store] Scan

#1959 Update `tests.properties-example` with missing fields
  example/tests.properties-example
Labels: Tests, [Type] bug

#1957 issue/1953-woo-update-product-attributes
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
Labels: [Store] Woo: Product

#1963 Woo: Expose Shipping Label expiry date
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/shippinglabels/WCShippingLabelMapper.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/shippinglabels/WCShippingLabelModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/shippinglabels/LabelItem.kt
Labels: [PR] Not Ready For Merge, [Store] Woo: Shipping Label

#1966 Fix/attribute list null value
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductModel.kt
Labels: Tests, [Type] bug

#1954 Add some delay between installing and configuring plugin
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PluginStore.java
Labels: [Store] Plugin

#1956 Create and delete variation Endpoints
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooUpdateProductFragment.kt
  example/src/main/res/layout/fragment_woo_update_product.xml
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
Labels: [Store] Woo: Product

#1962 Share single instance of `OkHttpClient`
  build.gradle
  example/build.gradle
  example/src/androidTest/java/org/wordpress/android/fluxc/ditests/OkHttpReleaseInjectionTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/ditests/OkHttpReleaseTestComponent.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/module/MockedNetworkModule.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_NoRedirectsTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/module/DebugOkHttpClientModule.java
  fluxc/src/main/java/org/wordpress/android/fluxc/module/ReleaseNetworkModule.java
  fluxc/src/main/java/org/wordpress/android/fluxc/module/ReleaseOkHttpClientModule.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/OkHttpStack.java
Labels: [Type] enhancement

#1969 ExPlat: Add name property to all Variations and remove unnecessary payload
  example/src/main/java/org/wordpress/android/fluxc/example/ExperimentsFragment.kt
  example/src/test/java/org/wordpress/android/fluxc/experiments/ExperimentStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/experiments/AssignmentsModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ExperimentStore.kt
Labels: [Type] enhancement

#1947 Parse preferred blog info and bio from like endpoints
  fluxc/src/main/java/org/wordpress/android/fluxc/model/LikeModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/common/LikeWPComRestResponse.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/common/LikesResponseUtilsProvider.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
Labels: [Store] Comment, [Store] Post, [Type] enhancement

#1970 ExPlat: Add support to experiment_names parameter
  example/src/main/java/org/wordpress/android/fluxc/example/ExperimentsFragment.kt
  example/src/main/res/layout/fragment_experiments.xml
  example/src/test/java/org/wordpress/android/fluxc/experiments/ExperimentStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/experiments/ExperimentRestClientTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/experiments/ExperimentRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ExperimentStore.kt
Labels: [Type] enhancement

#1972 ExPlat: Fix request parameter separator to prevent adding spaces
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/experiments/ExperimentRestClientTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/experiments/ExperimentRestClient.kt
Labels: [Type] bug

#1964 Improve how gradle properties are handled
  .circleci/config.yml
  .configure
  .configure-files/api.properties.enc
  .configure-files/firebase.secrets.json.enc
  .configure-files/tests.properties-extra.enc
  .configure-files/tests.properties.enc
  .gitignore
  README.md
  build.gradle
  example/build.gradle
  example/properties-example/README.md
  example/properties-example/api.properties
  example/properties-example/tests.properties
  tools/merge_properties.sh
Labels: Tooling

#1965 Support pagination for post and comment likes.
  fluxc/src/main/java/org/wordpress/android/fluxc/model/LikeModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/comment/CommentRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/common/LikeWPComRestResponse.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/common/LikesResponseUtilsProvider.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/common/LikesUtilsProvider.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/post/PostRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/CommentSqlUtils.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/PostSqlUtils.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/CommentStore.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PostStore.java
  fluxc/src/main/java/org/wordpress/android/fluxc/utils/CommentErrorUtils.java
Labels: [Store] Comment, [Store] Post, [Type] enhancement

#1948 Take into account shipping lines in API responses related to refund.
  example/src/test/java/org/wordpress/android/fluxc/wc/refunds/RefundFixtures.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/refunds/RefundMapper.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/refunds/WCRefundModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/refunds/RefundRestClient.kt
Labels: [Store] Woo: Refunds

#1974 Generate Variations only with Valid Attributes
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
Labels: [Store] Woo: Product

#1975 Added method to fetch the currency symbol for a store + unit test
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCBaseStoreTest.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WooCommerceStore.kt
Labels: [Store] WooCommerce

#1977 Improve Jetpack tunnel query parameters syntax
  example/src/test/java/org/wordpress/android/fluxc/jetpacktunnel/JetpackTunnelGsonRequestTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/jetpacktunnel/JetpackTunnelGsonRequest.kt
Labels: [Store] WooCommerce

#1979 Delete clutter likes data
  example/src/test/java/org/wordpress/android/fluxc/comment/CommentSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/common/LikesUtilsProviderTest.kt
  example/src/test/java/org/wordpress/android/fluxc/persistence/PostSqlUtilsTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/LikeModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/common/LikesUtilsProvider.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/CommentSqlUtils.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/PostSqlUtils.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/CommentStore.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PostStore.java
Labels: [Store] Comment, [Store] Post, [Type] enhancement

#1981 Fix a rare crash when fetching the system status endpoint
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/system/WooSystemRestClient.kt
Labels: [Store] Woo: Shipping Label
