Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2021-11, with the labels that each got.

#2168 Emit `empty billing email` order error
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/OrderUpdateStore.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCOrderStore.kt
  plugins/woocommerce/src/test/java/org/wordpress/android/fluxc/store/OrderUpdateStoreTest.kt
Labels: [Store] Woo: Order

#2167 Add support for fetching orders inside a date range
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCOrderListDescriptor.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
Labels: [Type] enhancement, [Store] Woo: Order

#2169 Woo: fetch site's metadata from the remote site for Jetpack CP sites
  example/src/test/java/org/wordpress/android/fluxc/wc/WooCommerceStoreTest.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/system/WooSystemRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WooCommerceStore.kt
Labels: [Type] enhancement, [Store] WooCommerce

#2177 Issue 5174. Handling of postal_code_invalid error
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCPayTest.kt
  example/src/androidTest/resources/wc-pay-store-location-for-site-invalid-postal-code-error.json
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/pay/WCTerminalStoreLocationResult.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/pay/PayRestClient.kt
Labels: [Store] Woo: Pay

#2176 Refactor fetch order shipment providers
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCOrdersTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCOrderExtTest.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/orders/WooOrdersFragment.kt
  plugins/woocommerce/src/main/java/org/wordpress/android/fluxc/action/WCOrderAction.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCOrderStore.kt
Labels: [Store] WooCommerce

#2184 Woo/2183 create quick order
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCOrdersTest.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/orders/WooOrdersFragment.kt
  example/src/main/res/layout/fragment_woo_orders.xml
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCOrderStore.kt
Labels: [Store] Woo: Order

#2185 Add support for `WCTracker`
  fluxc-annotations/src/main/java/org/wordpress/android/fluxc/annotations/endpoint/WCWPAPIEndpoint.java
  fluxc-processor/src/main/resources/wc-wp-api-endpoints.txt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/tracker/TrackerRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/tracker/TrackerStore.kt
Labels: [Type] enhancement

#2188 Convert FetchProductReviews into suspendable method
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCProductsTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCProductTest.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooProductsFragment.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/product/WCProductStoreTest.kt
  plugins/woocommerce/src/main/java/org/wordpress/android/fluxc/action/WCProductAction.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
Labels: [Type] enhancement, [Store] Product Reviews

#2189 Refactor StatsRepository into stateless repository. Mark I: fetchHasOrders
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCOrdersTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCOrderTest.kt
  example/src/androidTest/resources/wc-has-orders-response-success-missing-data-key.json
  example/src/androidTest/resources/wc-has-orders-response-success-no-orders.json
  example/src/main/java/org/wordpress/android/fluxc/example/ui/orders/WooOrdersFragment.kt
  plugins/woocommerce/src/main/java/org/wordpress/android/fluxc/action/WCOrderAction.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCOrderStore.kt
Labels: [Store] Woo: Order

#2187 Dashboard Cards: Introduce Skeleton Classes
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_AppComponent.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_CardsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/dashboard/CardsRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/dashboard/CardsStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/dashboard/CardsMapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/dashboard/CardsModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/dashboard/CardsRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/dashboard/CardsSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/dashboard/CardsStore.kt
Labels: [Store] Dashboard Cards

#2181 Issue/2173 fetch order shipment providers
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCOrdersTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCOrderExtTest.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/orders/WooOrdersFragment.kt
  plugins/woocommerce/src/main/java/org/wordpress/android/fluxc/action/WCOrderAction.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCOrderStore.kt
Labels: [Type] enhancement, [Store] Woo: Order

#2190 Dashboard Cards: Fetch Dashboard Cards
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/dashboard/CardsRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/dashboard/CardsStoreTest.kt
  example/src/test/resources/wp/dashboard/cards.json
  fluxc-processor/src/main/resources/wp-com-v2-endpoints.txt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/dashboard/CardsMapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/dashboard/CardsModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/dashboard/CardsRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/dashboard/CardsStore.kt
Labels: [Store] Dashboard Cards

#2192 Migrate fetchSingleProductReview to suspendable function
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCProductsTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCProductTest.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooProductsFragment.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/product/ProductTestUtils.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/product/WCProductStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/utils/SiteTestUtils.kt
  plugins/woocommerce/src/main/java/org/wordpress/android/fluxc/action/WCProductAction.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
Labels: [Store] Product Reviews

#2166 [2/3] Sync tests and example app with `Orders` to `Room` migration
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCOrdersTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCOrderExtTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCOrderTest.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/orders/WooOrdersFragment.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/order/OrderSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/order/OrderTestUtils.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/order/WCOrderModelTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/order/WCOrderStoreTest.kt
  plugins/woocommerce/build.gradle
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/OrderUpdateStore.kt
  plugins/woocommerce/src/test/java/org/wordpress/android/fluxc/persistence/dao/OrdersDaoTest.kt
  plugins/woocommerce/src/test/java/org/wordpress/android/fluxc/store/OrderUpdateStoreTest.kt
Labels: [Type] enhancement, [Store] Woo: Order

#2180 Add a column to expose active Jetpack connection plugins in the SiteModel table
  fluxc/src/main/java/org/wordpress/android/fluxc/model/SiteModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteWPComRestResponse.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
Labels: [Store] Site

#2193 Jetpack CP: use /wp/v2 endpoint for fetching media
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/media/wpv2/MediaWPRestResponse.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/media/wpv2/WPV2MediaRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/MediaStore.java
Labels: [Store] WooCommerce

#2194 Refactor StatsRepository into stateless repository. Mark II: fetchVisitorStats
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCStatsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/stats/WCStatsStoreTest.kt
  plugins/woocommerce/src/main/java/org/wordpress/android/fluxc/action/WCStatsAction.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/orderstats/OrderStatsRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCStatsStore.kt
Labels: [Store] Woo: Stats

#2195 Convert markReviewAsRead into suspendable function
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_NotificationTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_NotificationTest.kt
  example/src/main/java/org/wordpress/android/fluxc/example/NotificationsFragment.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/action/NotificationAction.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/notifications/NotificationRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/NotificationStore.kt
Labels: [Store] Woo: Notifications

#2196 Refactor StatsRepository into stateless repository. Mark III: fetchRevenueStats
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCStatsTest.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/stats/WooRevenueStatsFragment.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/stats/WCStatsStoreTest.kt
  plugins/woocommerce/src/main/java/org/wordpress/android/fluxc/action/WCStatsAction.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/orderstats/OrderStatsRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCStatsStore.kt
Labels: [Store] Woo: Stats

#2200 Merge 1.31.0 into trunk
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_NotificationTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCProductsTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCStatsTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_NotificationTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCProductTest.kt
  example/src/main/java/org/wordpress/android/fluxc/example/NotificationsFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooProductsFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/stats/WooRevenueStatsFragment.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/dashboard/CardsRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/dashboard/CardsStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/product/ProductTestUtils.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/product/WCProductStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/stats/WCStatsStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/utils/SiteTestUtils.kt
  example/src/test/resources/wp/dashboard/cards.json
  fluxc-processor/src/main/resources/wp-com-v2-endpoints.txt
  fluxc/src/main/java/org/wordpress/android/fluxc/action/NotificationAction.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/SiteModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/dashboard/CardsMapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/dashboard/CardsModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/dashboard/CardsRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/media/wpv2/MediaWPRestResponse.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/media/wpv2/WPV2MediaRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/notifications/NotificationRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteWPComRestResponse.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/MediaStore.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/NotificationStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/dashboard/CardsStore.kt
  plugins/woocommerce/src/main/java/org/wordpress/android/fluxc/action/WCProductAction.java
  plugins/woocommerce/src/main/java/org/wordpress/android/fluxc/action/WCStatsAction.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/orderstats/OrderStatsRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCStatsStore.kt
Labels: Releases

#2199 Rename in person payments classes
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedNetworkAppComponent.java
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCInPersonPaymentsTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_AppComponent.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_InPersonPaymentsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/pay/WCInPersonPaymentsStoreTest.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/payments/inperson/WCCapturePaymentResponsePayload.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/payments/inperson/WCConnectionTokenResult.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/payments/inperson/WCCreateCustomerByOrderIdResult.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/payments/inperson/WCPaymentAccountResult.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/payments/inperson/WCTerminalStoreLocationResult.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/payments/inperson/CapturePaymentApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/payments/inperson/ConnectionTokenApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/payments/inperson/InPersonPaymentsRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/payments/inperson/StoreLocationApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCInPersonPaymentsStore.kt
Labels: [Store] Woo: Pay

#2174 [3/4] Identify Order by (`localSiteId` x `remoteOrderId`) tuple
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCOrdersTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCOrderExtTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCOrderTest.kt
  example/src/main/java/org/wordpress/android/fluxc/example/WCOrderListActivity.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/orders/AddressEditDialogFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/orders/WooOrdersFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/shippinglabels/WooShippingLabelFragment.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/order/OrderSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/order/OrderTestUtils.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/order/WCOrderStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/SiteModel.java
  plugins/woocommerce/schemas/org.wordpress.android.fluxc.persistence.WCAndroidDatabase/4.json
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCOrderModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/order/OrderIdentifier.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/WCAndroidDatabase.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/converters/LocalIdConverter.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/converters/RemoteIdConverter.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/dao/OrdersDao.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/OrderUpdateStore.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCOrderStore.kt
  plugins/woocommerce/src/test/java/org/wordpress/android/fluxc/persistence/dao/OrdersDaoTest.kt
  plugins/woocommerce/src/test/java/org/wordpress/android/fluxc/store/OrderUpdateStoreTest.kt
Labels: [PR] Not Ready for Review
