Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2021-08, with the labels that each got.

#2083 Publish to s3
  .buildkite/pipeline.yml
  .buildkite/publish-fluxc-annotations.sh
  .buildkite/publish-fluxc-processor.sh
  .buildkite/publish-fluxc.sh
  .buildkite/publish-plugins-woocommerce.sh
  build.gradle
  fluxc-annotations/build.gradle
  fluxc-processor/build.gradle
  fluxc/build.gradle
  plugins/woocommerce/build.gradle
  settings.gradle
Labels: Tooling

#2081 uc v1 feature branch
  example/build.gradle
  example/src/androidTest/java/org/wordpress/android/fluxc/persistence/room/CommentsDaoTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/persistence/room/WPAndroidDatabaseMigrationTest.kt
  example/src/test/java/org/wordpress/android/fluxc/comments/CommentsStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/comments/CommentsXMLRPCClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/common/CommentsMapperTest.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/comments/CommentsRestClientTest.kt
  fluxc/schemas/org.wordpress.android.fluxc.persistence.WPAndroidDatabase/3.json
  fluxc/src/main/java/org/wordpress/android/fluxc/action/CommentsAction.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/comments/CommentsMapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/module/DatabaseModule.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/common/comments/CommentsApiPayload.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/comment/CommentsRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/comment/CommentsXMLRPCClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WPAndroidDatabase.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/comments/CommentsDao.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/CommentsStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/utils/CommentErrorUtils.java
  fluxc/src/main/java/org/wordpress/android/fluxc/utils/CommentErrorUtilsWrapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/utils/DateTimeUtilsWrapper.kt
Labels: [Type] enhancement, [Store] Comment

#2088 Fetch Global Add-on Groups
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooProductsFragment.kt
  example/src/main/res/layout/fragment_woo_products.xml
  fluxc-annotations/src/main/java/org/wordpress/android/fluxc/annotations/endpoint/WCWPAPIEndpoint.java
  fluxc-processor/src/main/resources/wc-wp-api-endpoints.txt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/addons/WCProductAddonModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/addons/AddOnsRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/addons/dto/AddOnGroupDto.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCAddonsStore.kt
Labels: [Store] Woo: Product

#2086 Issue/4558 payments/orders/order_id/create_customer endpoint for payments
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCPayTest.kt
  fluxc-processor/src/main/resources/wc-wp-api-endpoints.txt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/pay/WCPaymentCreateCustomerByOrderIdResult.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/pay/PayRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCPayStore.kt
Labels: [Store] Woo: Pay

#2090 Move `getAttributesAsString` logic to Woo app
  example/src/test/java/org/wordpress/android/fluxc/wc/order/WCOrderModelTest.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCOrderModel.kt
Labels: [Store] Woo: Order

#2089 Expose and set `CookieManager` instance as the system default `CookieHandler`
  fluxc/src/main/java/org/wordpress/android/fluxc/module/ReleaseNetworkModule.java
Labels: [Type] enhancement

#2092 Allow `ReleaseStack_WCBase` tests to specify test site
  .configure
  .configure-files/api.properties.enc
  .configure-files/firebase.secrets.json.enc
  .configure-files/tests.properties-extra.enc
  .configure-files/tests.properties.enc
  example/properties-example/tests.properties
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCBase.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCPayTest.kt
Labels: [Type] enhancement, Tests

#2093 Support fetching and getting products filtered by category
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooProductFiltersFragment.kt
  example/src/main/res/layout/fragment_woo_product_filters.xml
  example/src/test/java/org/wordpress/android/fluxc/wc/product/ProductTestUtils.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/product/WCProductStoreTest.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/ProductSqlUtils.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
Labels: [Type] enhancement, [Store] Woo: Product

#2085 Update for Blogging Reminders time selection
  example/src/androidTest/java/org/wordpress/android/fluxc/persistence/room/WPAndroidDatabaseMigrationTest.kt
  example/src/test/java/org/wordpress/android/fluxc/model/BloggingRemindersMapperTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/BloggingRemindersStoreTest.kt
  fluxc/schemas/org.wordpress.android.fluxc.persistence.WPAndroidDatabase/4.json
  fluxc/src/main/java/org/wordpress/android/fluxc/model/BloggingRemindersMapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/BloggingRemindersModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/BloggingRemindersDao.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WPAndroidDatabase.kt
Labels: [Type] enhancement

#2096 Add support for test_mode parameter on payments/accounts endpoint
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/pay/WCPaymentAccountResult.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/pay/PayRestClient.kt
Labels: [Store] Woo: Pay

#2097 Add entities for storing Global Add-on Groups locally
  plugins/woocommerce/build.gradle
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/entity/AddonEntity.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/entity/AddonOptionEntity.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/entity/GlobalAddonGroupEntity.kt
Labels: [Store] Woo: Product

#2098 Cache `Global Add-on Groups` in local database
  .circleci/config.yml
  plugins/woocommerce/build.gradle
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/addons/dto/AddOnGroupDto.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/WCAndroidDatabase.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/converters/LongListConverter.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/dao/AddonsDao.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/mappers/AddonEntityMapper.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/mappers/AddonOptionEntityMapper.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/mappers/GlobalAddonGroupEntityMapper.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/usecase/CacheGlobalAddonsGroups.kt
  plugins/woocommerce/src/test/java/org/wordpress/android/fluxc/usecase/CacheGlobalAddonsGroupsTest.kt
Labels: [Store] Woo: Product

#2099 Fetch addons in sample app
  example/src/debug/java/org/wordpress/android/fluxc/example/di/AppComponentDebug.kt
  example/src/main/java/org/wordpress/android/fluxc/example/di/AppComponent.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooProductsFragment.kt
  example/src/main/res/layout/fragment_woo_products.xml
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/di/WCDatabaseModule.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/dao/AddonsDao.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCAddonsStore.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/usecase/CacheGlobalAddonsGroups.kt
  plugins/woocommerce/src/test/java/org/wordpress/android/fluxc/persistence/dao/AddonsDaoTest.kt
Labels: [Store] Woo: Product

#2101 Introduce domain models for Add-ons feature
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/domain/Addon.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/domain/AddonOption.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/domain/GlobalAddonGroup.kt
Labels: [Store] Woo: Product

#2100 Update Product Addon remote and local models
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/addons/WCProductAddonModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/entity/AddonEntity.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/mappers/AddonEntityMapper.kt
  plugins/woocommerce/src/test/java/org/wordpress/android/fluxc/persistence/dao/AddonsDaoTest.kt
Labels: [Store] Woo: Product

#2104 Update like status on success.
  fluxc/src/main/java/org/wordpress/android/fluxc/store/CommentsStore.kt
Labels: [Type] bug, [Store] Comment

#2105 This commit adds order_key column into WCOrderModel table and maps order_key into the order model.
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCOrdersTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCOrderModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
Labels: [Store] Woo: Order
