Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2021-07, with the labels that each got.

#2031 Plan offers store refactor
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_AppComponent.java
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/planoffers/PlanOffersFixtures.kt
  example/src/test/java/org/wordpress/android/fluxc/persistence/PlanOffersDaoTest.kt
  example/src/test/java/org/wordpress/android/fluxc/planoffers/PlanOffersMapperTest.kt
  example/src/test/java/org/wordpress/android/fluxc/utils/PlanOffersSqlUtilsTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/plans/PlanOffersMapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/module/DatabaseModule.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/PlanOffersDao.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/PlanOffersSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WPAndroidDatabase.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  instaflux/src/main/java/org/wordpress/android/fluxc/instaflux/AppComponent.java
Labels: Tech debt, [Type] enhancement

#2045 Fix for payments/accounts endpoint
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCPayTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCPayTest.kt
  example/src/androidTest/resources/wc-pay-load-account-response-empty-status.json
  example/src/androidTest/resources/wc-pay-load-account-response-new-status.json
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/pay/WCPaymentAccountResult.kt
Labels: [Store] Woo: Pay

#2047 Check if site supports sharing
  example/src/test/java/org/wordpress/android/fluxc/model/site/SiteModelTest.kt
  example/src/test/java/org/wordpress/android/fluxc/site/SiteStoreUnitTest.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/SiteModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteWPComRestResponse.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
Labels: [Store] Site

#2044 Jetpack: Enhance Rewind Status Model with Reason Enum
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_ActivityLogTestJetpack.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/activity/ActivityLogRestClientTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/activity/RewindStatusModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/activity/ActivityLogRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/ActivityLogSqlUtils.kt
Labels: Jetpack, [Store] Activity Log, [Type] enhancement

#2034 Zendesk: Add fields for site plans and addons
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/site/SiteStoreUnitTest.java
  example/src/test/java/org/wordpress/android/fluxc/site/SiteUtils.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/SiteModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteWPComRestResponse.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
Labels: [PR] Not Ready For Merge

#2048 [Gutenberg] Add /oembed/1.0 endpoint support for wpcom API
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ReactNativeStore.kt
Labels: [Type] enhancement

#2043 Add plugin support to wp org
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_AppComponent.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WPApiPluginTest.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpapi/NonceRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpapi/plugin/PluginWPApiRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpapi/reactnative/ReactNativeWPAPIRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/PluginCoroutineStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/ReactNativeStoreWPAPITest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/ReactNativeStoreWpComTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/Nonce.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/NonceRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/WPAPIGsonRequest.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/WPAPIGsonRequestBuilder.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/plugin/PluginResponseModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/plugin/PluginWPAPIRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/reactnative/ReactNativeWPAPIRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/PluginSqlUtilsWrapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PluginCoroutineStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PluginStore.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ReactNativeStore.kt
Labels: [Type] enhancement

#2053 Release 1.21.0
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_EditorThemeStoreTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCPayTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_ActivityLogTestJetpack.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_AppComponent.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCPayTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WPApiPluginTest.kt
  example/src/androidTest/resources/global-styles-full-success.json
  example/src/androidTest/resources/global-styles-off-success.json
  example/src/androidTest/resources/wc-pay-load-account-response-empty-status.json
  example/src/androidTest/resources/wc-pay-load-account-response-new-status.json
  example/src/main/java/org/wordpress/android/fluxc/example/ui/shippinglabels/WooShippingLabelFragment.kt
  example/src/test/java/org/wordpress/android/fluxc/model/site/SiteModelTest.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpapi/NonceRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpapi/plugin/PluginWPApiRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpapi/reactnative/ReactNativeWPAPIRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/activity/ActivityLogRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/planoffers/PlanOffersFixtures.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/persistence/PlanOffersDaoTest.kt
  example/src/test/java/org/wordpress/android/fluxc/planoffers/PlanOffersMapperTest.kt
  example/src/test/java/org/wordpress/android/fluxc/site/SiteStoreUnitTest.java
  example/src/test/java/org/wordpress/android/fluxc/site/SiteUtils.java
  example/src/test/java/org/wordpress/android/fluxc/store/PluginCoroutineStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/ReactNativeStoreWPAPITest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/ReactNativeStoreWpComTest.kt
  example/src/test/java/org/wordpress/android/fluxc/utils/PlanOffersSqlUtilsTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/EditorTheme.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/SiteModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/activity/RewindStatusModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/plans/PlanOffersMapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/module/DatabaseModule.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/Nonce.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/NonceRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/WPAPIGsonRequest.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/WPAPIGsonRequestBuilder.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/plugin/PluginResponseModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/plugin/PluginWPAPIRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/reactnative/ReactNativeWPAPIRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/activity/ActivityLogRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteWPComRestResponse.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/ActivityLogSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/EditorThemeSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/PlanOffersDao.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/PlanOffersSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/PluginSqlUtilsWrapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WPAndroidDatabase.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/EditorThemeStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PluginCoroutineStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PluginStore.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ReactNativeStore.kt
  instaflux/src/main/java/org/wordpress/android/fluxc/instaflux/AppComponent.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/pay/WCPaymentAccountResult.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/shippinglabels/WCShippingPackageCustoms.kt
Labels: Releases

#2057 Move combineTestsPropertiesWithExtraTestsProperties execution to doLast
  example/build.gradle
Labels: Tooling

#2055 Map `Product`'s `total_sales` safely.
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductApiResponse.kt
Labels: [Store] Woo: Product, [Type] bug

#2056 Add missing Room database migration path
  fluxc/schemas/org.wordpress.android.fluxc.persistence.WPAndroidDatabase/2.json
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WPAndroidDatabase.kt
Labels: [Type] bug

#2049 Block editor settings endpoint - Removes experimental namespace
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_EditorThemeStoreTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/module/ResponseMockingInterceptor.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/EditorThemeStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ReactNativeStore.kt
Labels: [Type] enhancement

#2051 Block Editor Settings: Adds endpoint information to the editor theme change event
  fluxc/src/main/java/org/wordpress/android/fluxc/model/EditorTheme.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/EditorThemeSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/EditorThemeStore.kt
Labels: [Type] enhancement

#2058 Merge `release/1.21.1` into `develop`
  fluxc/schemas/org.wordpress.android.fluxc.persistence.WPAndroidDatabase/2.json
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WPAndroidDatabase.kt
Labels: Releases

#2059 Merge `release/1.21.1` into `trunk`
  fluxc/schemas/org.wordpress.android.fluxc.persistence.WPAndroidDatabase/2.json
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WPAndroidDatabase.kt
Labels: Releases

#2062 WP-Android 14942 - Jetpack enable stats module
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/jetpacktunnel/JetpackRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/JetpackStoreTest.kt
  fluxc-annotations/src/main/java/org/wordpress/android/fluxc/annotations/endpoint/JPAPIEndpoint.java
  fluxc-processor/src/main/java/org/wordpress/android/fluxc/processor/EndpointProcessor.java
  fluxc-processor/src/main/resources/jp-api-endpoints.txt
  fluxc/src/main/java/org/wordpress/android/fluxc/action/JetpackAction.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/jetpacktunnel/JetpackRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/JetpackStore.kt
Labels: Jetpack

#2064 Refactor fetch plugin action
  example/src/main/java/org/wordpress/android/fluxc/example/ui/shippinglabels/WooShippingLabelFragment.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/WooCommerceStoreTest.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WooCommerceStore.kt
Labels: [Store] WooCommerce

#2052 Order status optimistic update
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCOrdersTest.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/orders/WooOrdersFragment.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/order/WCOrderStoreTest.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/OrderSqlUtils.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCOrderStore.kt
Labels: [Store] Woo: Order, [Type] enhancement

#2067 Removes GSS configuration parameter
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_EditorThemeStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/EditorThemeStore.kt
Labels: [Type] enhancement

#2068 Adds back GSS configuration parameter
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_EditorThemeStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/EditorThemeStore.kt
Labels: [Type] bug

#2061 Fix double handling of a configure site plugin call
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_PluginTestJetpack.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PluginStore.java
Labels: [Store] Plugin, [Type] bug

#2069 Jetpack Scan: Support multisite not supported reason
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_ScanTestJetpack.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/scan/ScanRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/persistence/ScanStateSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/ScanStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/scan/ScanStateModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/scan/ScanRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/ScanSqlUtils.kt
Labels: [Store] Scan

#2071 Release 1.22.0 -> Trunk
  example/build.gradle
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_EditorThemeStoreTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCOrdersTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/module/ResponseMockingInterceptor.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_PluginTestJetpack.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_ScanTestJetpack.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/orders/WooOrdersFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/shippinglabels/WooShippingLabelFragment.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/jetpacktunnel/JetpackRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/scan/ScanRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/persistence/ScanStateSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/JetpackStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/ScanStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/utils/MimeTypesTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/WooCommerceStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/order/WCOrderStoreTest.kt
  fluxc-annotations/src/main/java/org/wordpress/android/fluxc/annotations/endpoint/JPAPIEndpoint.java
  fluxc-processor/src/main/java/org/wordpress/android/fluxc/processor/EndpointProcessor.java
  fluxc-processor/src/main/resources/jp-api-endpoints.txt
  fluxc/src/main/java/org/wordpress/android/fluxc/action/JetpackAction.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/EditorTheme.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/scan/ScanStateModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/jetpacktunnel/JetpackRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/scan/ScanRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/EditorThemeSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/ScanSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/EditorThemeStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/JetpackStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PluginStore.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ReactNativeStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/utils/MimeType.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/utils/MimeTypes.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/OrderSqlUtils.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCOrderStore.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WooCommerceStore.kt
Labels: Releases

#2066 Add Product metadata and addon support to WCProductModel
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooProductsFragment.kt
  example/src/main/res/layout/fragment_woo_products.xml
  example/src/test/java/org/wordpress/android/fluxc/JsonLoaderUtils.kt
  example/src/test/java/org/wordpress/android/fluxc/model/WCProductModelTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/attributes/WCProductAttributesTestFixtures.kt
  example/src/test/resources/wc/product-with-addons.json
  example/src/test/resources/wc/product-with-incorrect-addons-key.json
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/addons/WCProductAddonModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductApiResponse.kt
Labels: [Store] Woo: Product

#2063 Woo Shipping Labels: add support for printing multiple labels
  example/src/main/java/org/wordpress/android/fluxc/example/ui/shippinglabels/WooShippingLabelFragment.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/shippinglabels/WCShippingLabelStoreTest.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/shippinglabels/ShippingLabelRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCShippingLabelStore.kt
Labels: [Store] Woo: Shipping Label, [Type] enhancement

#2073 Add dont_change_homepage to activate theme API call
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_ThemeTestJetpack.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_ThemeTestWPCom.java
  example/src/main/java/org/wordpress/android/fluxc/example/ThemeFragment.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/action/ThemeAction.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/theme/ThemeRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ThemeStore.java
Labels: [Store] Theme, [Type] enhancement

#2078 Adding DAO for Comments in WPAndroid room database.
  example/build.gradle
  example/src/androidTest/java/org/wordpress/android/fluxc/persistence/room/CommentsDaoTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/persistence/room/WPAndroidDatabaseMigrationTest.kt
  fluxc/schemas/org.wordpress.android.fluxc.persistence.WPAndroidDatabase/3.json
  fluxc/src/main/java/org/wordpress/android/fluxc/module/DatabaseModule.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WPAndroidDatabase.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/comments/CommentsDao.kt
Labels: [Store] Comment, [Type] enhancement

#2079 Porting network clients for comments to kotlin.
  example/src/test/java/org/wordpress/android/fluxc/comments/CommentsXMLRPCClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/common/CommentsMapperTest.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/comments/CommentsRestClientTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/comments/CommentsMapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/common/comments/CommentsApiPayload.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/comment/CommentsRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/comment/CommentsXMLRPCClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/utils/CommentErrorUtils.java
  fluxc/src/main/java/org/wordpress/android/fluxc/utils/CommentErrorUtilsWrapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/utils/DateTimeUtilsWrapper.kt
Labels: [Store] Comment, [Type] enhancement

#2080 Porting comments store to kotlin with coroutines and backward compatible eventbus support
  example/src/test/java/org/wordpress/android/fluxc/comments/CommentsStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/action/CommentsAction.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/CommentsStore.kt
Labels: [Store] Comment, [Type] enhancement
