Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2021-10, with the labels that each got.

#2130 Fetch site domains
  example/src/test/java/org/wordpress/android/fluxc/store/SiteStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/DomainsResponse.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/SiteStore.kt
Labels: [Type] enhancement

#2137 Merge release 1.27.0 into trunk
  example/build.gradle
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCOrdersTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCOrderExtTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCOrderTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCPayTest.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ExampleApp.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/orders/WooOrdersFragment.kt
  example/src/test/java/org/wordpress/android/fluxc/comments/CommentsStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/comments/CommentsXMLRPCClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/comments/CommentsRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/SiteStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/order/WCOrderStoreTest.kt
  fluxc-processor/src/main/resources/wc-wp-api-endpoints.txt
  fluxc/build.gradle
  fluxc/src/main/java/org/wordpress/android/fluxc/model/PostImmutableModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/PostModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/SiteModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/comment/CommentsRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/post/PostRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/DomainsResponse.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteWPComRestResponse.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/comment/CommentsXMLRPCClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/CommentsStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/SiteStore.kt
  instaflux/build.gradle
  plugins/woocommerce/build.gradle
  plugins/woocommerce/src/main/java/org/wordpress/android/fluxc/action/WCOrderAction.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/pay/WCTerminalStoreLocationResult.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/pay/PayRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/pay/StoreLocationApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCOrderStore.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCPayStore.kt
Labels: Releases

#2117 Upgrade FluxC to Android 11
  example/build.gradle
  example/src/main/java/org/wordpress/android/fluxc/example/CustomStatsDialog.kt
  example/src/main/java/org/wordpress/android/fluxc/example/NotificationTypeSubtypeDialog.kt
  example/src/main/java/org/wordpress/android/fluxc/example/SiteSelectorDialog.kt
  example/src/main/java/org/wordpress/android/fluxc/example/WCAddOrderShipmentTrackingDialog.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/StoreSelectorDialog.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/customer/search/WooCustomersSearchFragment.kt
  fluxc/build.gradle
  instaflux/build.gradle
  plugins/woocommerce/build.gradle
Labels: Tech debt

#2134 Woo: identify Jetpack CP sites, and check WooCommerce's availability
  example/src/main/java/org/wordpress/android/fluxc/example/ui/WooCommerceFragment.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/site/SiteUtils.java
  example/src/test/java/org/wordpress/android/fluxc/wc/WooCommerceStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/SiteModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteWPComRestResponse.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/SiteStore.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/system/WooSystemRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WooCommerceStore.kt
Labels: [Store] WooCommerce
