Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2022-06, with the labels that each got.

#2434 Stats Revamp v2: Add action types
  fluxc/src/main/java/org/wordpress/android/fluxc/store/StatsStore.kt
Labels: Stats Revamp

#2436 Fetch order summaries after adding a new order
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/OrderUpdateStore.kt
  plugins/woocommerce/src/test/java/org/wordpress/android/fluxc/store/OrderUpdateStoreTest.kt
Labels: [Type] enhancement, [Store] Woo: Order

#2435 Add is editable api field
  plugins/woocommerce/schemas/org.wordpress.android.fluxc.persistence.WCAndroidDatabase/16.json
  plugins/woocommerce/src/androidTest/java/org/wordpress/android/fluxc/persistence/MigrationTests.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/OrderEntity.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderDto.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderDtoMapper.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/WCAndroidDatabase.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/migrations/Migrations.kt
  plugins/woocommerce/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderDtoMapperTest.kt
Labels: [Store] WooCommerce, [Store] Woo: Order

#2437 [Woo] add support for searching product categories
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/ProductSqlUtils.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
Labels: [Store] Woo: Coupons

#2438 [Coupons] Fix product search empty result
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
Labels: [Store] Woo: Coupons

#2439 [Woo] Fix crash when parsing variable products that include details of variations
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCProductsTest.kt
  example/src/androidTest/resources/wc-fetch-products-response-success.json
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductModel.kt
Labels: [Store] Woo: Product, [Type] Crash

#2446 Quick start for existing users v2: delete edit your homepage tour
  example/src/test/java/org/wordpress/android/fluxc/quickstart/QuickStartStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/QuickStartStore.kt
Labels: [Store] Quick Start

#2447 Stats Revamp v2: Update for Views and Visitors card on details screen
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/time/VisitsAndViewsStore.kt
Labels: Stats Revamp

#2453 Stats Revamp v2: Update insights to new set of defaults
  fluxc/src/main/java/org/wordpress/android/fluxc/store/StatsStore.kt
Labels: Stats Revamp

#2445 [Woo] Coupons: Save `woocommerce_enable_coupons` value from the response of `/settings/general` API call.
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCBaseStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/WCSettingsSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/settings/WCSettingsMapperTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/utils/WCCurrencyUtilsTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCSettingsModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/settings/WCSettingsMapper.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/WCSettingsSqlUtils.kt
Labels: [Store] Woo: Coupons

#2455 Fix stats cache buster
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCStatsStore.kt
Labels: [Store] Woo: Stats
