Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2022-04, with the labels that each got.

#2340 Stats Revamp v2: Insights Views And Visitors
  fluxc/src/main/java/org/wordpress/android/fluxc/store/StatsStore.kt
Labels: [PR] Not Ready For Merge, Stats Revamp

#2345 Bump Kotlin to `1.5.32`
  fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/XMLRPCRequestBuilder.kt
  settings.gradle
Labels: Tooling

#2347 Fix Woo 11 to 12 database migration
  plugins/woocommerce/src/androidTest/java/org/wordpress/android/fluxc/persistence/MigrationTests.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/migrations/Migrations.kt
Labels: [Type] bug

#2343 Fixed failing testInstantiateAndCreateReplyComment test
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_CommentTestXMLRPC.java
Labels: Tests

#2287 Bump Kotlin to `1.6.10` and Room to `2.4.2`
  build.gradle
  fluxc/build.gradle
  plugins/woocommerce/build.gradle
  settings.gradle
Labels: Tooling

#2352 woo/2351-add-searched-products-to-db
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
Labels: [Store] Woo: Product

#2344 Updates the sites/new call to use the username and site title
  example/src/main/java/org/wordpress/android/fluxc/example/SitesFragment.java
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/SiteStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/SiteStore.kt
Labels: [Type] enhancement, [PR] Not Ready For Merge, Site Creation

#2356 Updates the sites/new call to validate the site title
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClientTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClient.kt
Labels: [Type] enhancement, Site Creation

#2349 [Gutenberg] EditorTheme - Add Quote block V2 flag
  fluxc/src/main/java/org/wordpress/android/fluxc/model/EditorTheme.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/EditorThemeSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
Labels: [Type] enhancement

#2348 Coupons - Paging support
  example/src/main/java/org/wordpress/android/fluxc/example/ui/coupons/WooCouponsFragment.kt
  example/src/test/java/org/wordpress/android/fluxc/store/CouponStoreTest.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/di/WCDatabaseModule.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/TransactionExecutor.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/WCAndroidDatabase.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/dao/CouponsDao.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/CouponStore.kt
Labels: [Store] Woo: Coupons

#2357 Issue/handle non numerical ID in notification range
  example/src/test/java/org/wordpress/android/fluxc/tools/FormattableContentMapperTest.kt
  example/src/test/resources/notifications/comment-response.json
  fluxc/src/main/java/org/wordpress/android/fluxc/tools/FormattableContentMapper.kt
Labels: [Type] enhancement, [Type] Crash

#2360 Removes the unneeded validation from sites/new call
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClientTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClient.kt
Labels: [Type] enhancement, Site Creation

#2363 Removes username from the sites/new call parameters
  example/src/main/java/org/wordpress/android/fluxc/example/SitesFragment.java
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/SiteStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/SiteStore.kt
Labels: [Type] enhancement, Site Creation

#2361 Coupons: Fix coupons ordering
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/dao/CouponsDao.kt
Labels: [Store] Woo: Coupons

#2331 Refactored fetch supported woo action into suspendable
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCBaseStoreTest.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/WooCommerceFragment.kt
  example/src/main/res/layout/fragment_woocommerce.xml
  example/src/test/java/org/wordpress/android/fluxc/wc/WooCommerceStoreTest.kt
  plugins/woocommerce/src/main/java/org/wordpress/android/fluxc/action/WCCoreAction.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/WooCommerceRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/system/WCApiVersionResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WooCommerceStore.kt
Labels: [Store] WooCommerce, [PR] Not Ready For Merge

#2332 Refactored fetch site settings & site product settings into suspendable
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCBaseStoreTest.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/WooCommerceFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/shippinglabels/WooShippingLabelFragment.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/WooCommerceStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/settings/WCSettingsMapperTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/settings/WCSettingsTestUtils.kt
  example/src/test/resources/wc/product-settings-response.json
  example/src/test/resources/wc/site-settings-general-response.json
  plugins/woocommerce/src/main/java/org/wordpress/android/fluxc/action/WCCoreAction.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/settings/WCSettingsMapper.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/WooCommerceRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WooCommerceStore.kt
Labels: [Store] WooCommerce, [PR] Not Ready For Merge

#2366 [Coupons] some fixes
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/dao/CouponsDao.kt
  plugins/woocommerce/src/test/java/org/wordpress/android/fluxc/persistence/dao/CouponsDaoTest.kt
Labels: [Store] Woo: Coupons

#2364 Issue/woo 6119 fetch variations list
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCProductsTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCProductTest.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooProductsFragment.kt
  plugins/woocommerce/src/main/java/org/wordpress/android/fluxc/action/WCProductAction.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
Labels: [PR] Not Ready For Merge, [Store] Woo: Product

#2368 Adds: Vault press active on site reason
  fluxc/src/main/java/org/wordpress/android/fluxc/model/scan/ScanStateModel.kt
Labels: Jetpack

#2370 Fixes XML RPC non-latin filename upload issue
  fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/media/XmlrpcUploadRequestBody.java
Labels: [Type] bug

#2373 Stats revamp v2 latest post summary feature image
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/InsightsRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/InsightsFixtures.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/InsightsStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/InsightsLatestPostModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/InsightsMapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/insights/LatestPostInsightsRestClient.kt
Labels: Stats Revamp
