Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2022-12, with the labels that each got.

#2585 Woo: Remove hardcoded eCommerce plan purchase
  example/src/main/java/org/wordpress/android/fluxc/example/ui/storecreation/WooStoreCreationFragment.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/plans/full/Plan.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/storecreation/ShoppingCartStore.kt
Labels: [Store] WooCommerce

#2590 Call to the API only when needed
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClientTest.kt
Labels: [Type] enhancement, [Store] Woo: Product

#2596 Fix connected tests of Jetpack sites
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_ActivityLogTestJetpack.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_ScanTestJetpack.kt
Labels: Tests

#2594 Application passwords unit and connected tests
  .buildkite/unit-tests.sh
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_AppComponent.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_ApplicationPasswordNetwork.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ApplicationPasswordsLogger.kt
  fluxc/build.gradle
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/applicationpasswords/ApplicationPasswordManager.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/applicationpasswords/ApplicationPasswordNetwork.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/applicationpasswords/ApplicationPasswordsStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/utils/AppLogWrapper.kt
  fluxc/src/test/java/org/wordpress/android/fluxc/network/rest/wpapi/applicationpasswords/ApplicationPasswordManagerTests.kt
  fluxc/src/test/java/org/wordpress/android/fluxc/network/rest/wpapi/applicationpasswords/ApplicationPasswordNetworkTests.kt
Labels: Tests

#2601 [Woo] Migrate Reviews to use WooNetwork.
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClientTest.kt
Labels: [Store] Woo: Product

#2593 Adds: Support for fetching and Storing the Remote field config
  example/src/test/java/org/wordpress/android/fluxc/store/mobile/FeatureFlagsStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/mobile/RemoteConfigStoreTest.kt
  fluxc/schemas/org.wordpress.android.fluxc.persistence.WPAndroidDatabase/10.json
  fluxc/src/main/java/org/wordpress/android/fluxc/module/DatabaseModule.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/RemoteConfigDao.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WPAndroidDatabase.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/mobile/RemoteConfigStore.kt
Labels: Tech Debt

#2602 Woo REST API: Migrate Products endpoints to use WooNetwork
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/utils/WPAPIResponseExt.kt
  plugins/woocommerce/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClientTest.kt
  plugins/woocommerce/src/test/java/org/wordpress/android/fluxc/utils/CoroutineEngineUtils.kt
Labels: [Store] Woo: Product

#2604 Fix Mocked Tests
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedNetworkAppComponent.java
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCProductsTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/module/MockedNetworkModule.java
Labels: Tests

#2605 Enhance the mapper function from WPAPIResponse to WooPayload
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/WooError.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/utils/WPAPIResponseExt.kt
  plugins/woocommerce/src/test/java/org/wordpress/android/fluxc/utils/WPAPIResponseExtTests.kt
Labels: Woo: REST API

#2603 Woo REST API: Finish migration of ProductRestClient
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/WPComNetwork.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClientTest.kt
Labels: [Store] Woo: Product, Woo: REST API

#2606 Woo REST API: migrate OrderStatsRestClient
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCStatsTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/applicationpasswords/ApplicationPasswordsNetwork.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/JetpackTunnelWPAPINetwork.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/WPComNetwork.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/WooNetwork.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/orderstats/OrderStatsRestClient.kt
Labels: [Store] Woo: Stats, Woo: REST API

#2612 Woo: Refactor logic of providing the JITM endpoint path
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/jitm/JitmRestClientTest.kt
  fluxc-annotations/src/main/java/org/wordpress/android/fluxc/annotations/endpoint/WPComEndpoint.java
  fluxc-processor/src/main/resources/jp-api-endpoints.txt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/jitm/JitmRestClient.kt
Labels: Jetpack, [Store] Woo: Pay

#2611 Woo REST API: Migrate WooCommerceStore REST clients
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCBaseStoreTest.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/WooCommerceFragment.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/BaseRequest.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/applicationpasswords/ApplicationPasswordsNetwork.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/JetpackTunnelWPAPINetwork.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/jetpacktunnel/JetpackTunnelGsonRequestBuilder.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/WooCommerceRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/WooNetwork.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/system/WooSystemRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/user/WCUserRestClient.kt
Labels: [Store] WooCommerce, Woo: REST API

#2614 Woo REST API: detect WooCommerce installation status
  example/src/main/java/org/wordpress/android/fluxc/example/ui/WooCommerceFragment.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/WooCommerceStoreTest.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WooCommerceStore.kt
Labels: [Store] WooCommerce, Woo: REST API

#2616 Application Passwords: Fix NPE errors
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/applicationpasswords/JetpackApplicationPasswordsRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/applicationpasswords/WPApiApplicationPasswordsRestClient.kt
Labels: Woo: REST API

#2608 Woo REST API: migrate RefundRestClient
  example/src/main/java/org/wordpress/android/fluxc/example/ui/refunds/WooRefundsFragment.kt
  example/src/main/res/layout/fragment_woo_refunds.xml
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/refunds/RefundRestClient.kt
Labels: [Store] Woo: Refunds, Woo: REST API
