Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2022-05, with the labels that each got.

#2375 Stats revamp v2 summary url
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/insights/SummaryRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/InsightsFixtures.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/insights/SummaryStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/InsightsMapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/SummaryModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/insights/SummaryRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/InsightsSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/StatsSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/StatsStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/insights/SummaryStore.kt
Labels: Stats Revamp, [Store] Summary

#2377 Add TOTAL_FOLLOWERS InsightType
  fluxc/src/main/java/org/wordpress/android/fluxc/store/StatsStore.kt
Labels: Stats Revamp

#2374 [Issue-2320] Variations batch update: example app
  example/src/main/java/org/wordpress/android/fluxc/example/di/FragmentsModule.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooBatchUpdateVariationsFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooProductsFragment.kt
  example/src/main/res/layout/fragment_woo_batch_update_variations.xml
  example/src/main/res/layout/fragment_woo_products.xml
  example/src/test/java/org/wordpress/android/fluxc/wc/product/WCProductStoreTest.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
Labels: [Store] Woo: Product

#2371 [Coupons] Update coupons
  example/src/main/java/org/wordpress/android/fluxc/example/di/FragmentsModule.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/ListSelectorDialog.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/StoreSelectingFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/WooCommerceFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/coupons/WooCouponsFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/coupons/WooUpdateCouponFragment.kt
  example/src/main/res/layout/fragment_woo_coupons.xml
  example/src/main/res/layout/fragment_woo_update_coupon.xml
  example/src/test/java/org/wordpress/android/fluxc/store/CouponStoreTest.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/coupon/UpdateCouponRequest.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/coupons/CouponDto.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/coupons/CouponRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/converters/DiscountTypeConverter.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/dao/CouponsDao.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/dao/ProductCategoriesDao.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/dao/ProductsDao.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/entity/CouponEntity.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/CouponStore.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/ProductCategoryStore.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/ProductStore.kt
  plugins/woocommerce/src/test/java/org/wordpress/android/fluxc/persistence/dao/CouponsDaoTest.kt
Labels: [Store] Woo: Coupons

#2379 [Issue/2320] Product variations batch update
  example/src/main/java/org/wordpress/android/fluxc/example/di/FragmentsModule.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooBatchUpdateVariationsFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooProductsFragment.kt
  example/src/main/res/layout/fragment_woo_batch_update_variations.xml
  example/src/main/res/layout/fragment_woo_products.xml
  example/src/test/java/org/wordpress/android/fluxc/wc/product/ProductTestUtils.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/product/WCProductStoreTest.kt
  fluxc-processor/src/main/resources/wc-wp-api-endpoints.txt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/BatchProductVariationsUpdateApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
Labels: [Store] Woo: Product

#2378 Issue/blogging prompts dao
  example/src/test/java/org/wordpress/android/fluxc/converters/BloggingPromptDateConverterTest.kt
  example/src/test/java/org/wordpress/android/fluxc/converters/StringListConverterTest.kt
  example/src/test/java/org/wordpress/android/fluxc/persistence/BloggingPromptsDaoTest.kt
  example/src/test/java/org/wordpress/android/fluxc/utils/BloggingPromptUtilsTest.kt
  fluxc/schemas/org.wordpress.android.fluxc.persistence.WPAndroidDatabase/7.json
  fluxc/src/main/java/org/wordpress/android/fluxc/model/bloggingprompts/BloggingPromptModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/module/DatabaseModule.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/bloggingprompts/BloggingPromptsUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WPAndroidDatabase.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/bloggingprompts/BloggingPromptsDao.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/coverters/BloggingPromptDateConverter.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/coverters/StringListConverter.kt
Labels: [PR] Not Ready For Merge

#2313 [Coupons] Create coupons
  example/src/main/java/org/wordpress/android/fluxc/example/ui/coupons/WooCouponsFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/coupons/WooUpdateCouponFragment.kt
  example/src/main/res/layout/fragment_woo_coupons.xml
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/coupons/CouponRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/CouponStore.kt
Labels: [Store] WooCommerce

#2385 Adds group field in the starter designs response
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/theme/StarterDesignsResponse.kt
Labels: [Type] enhancement, Site Creation

#2386 Stats Revamp v2: New Insight Types for Comments Details Screen
  fluxc/src/main/java/org/wordpress/android/fluxc/store/StatsStore.kt
Labels: Stats Revamp

#2394 woo/wcdatastore-state-fix
  example/src/test/java/org/wordpress/android/fluxc/wc/data/WCDataStoreTest.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/WCCountriesSqlUtils.kt
Labels: [Store] WooCommerce

#2400 Add FOLLOWER_TYPES to InsightType
  fluxc/src/main/java/org/wordpress/android/fluxc/store/StatsStore.kt
Labels: [Type] enhancement, Stats Revamp

#2396 Quick start for Existing Users V2 - Media Upload Tour
  fluxc/src/main/java/org/wordpress/android/fluxc/store/QuickStartStore.kt
Labels: [Store] Quick Start

#2397 Remove Coupons Cross-ref tables
  example/src/main/java/org/wordpress/android/fluxc/example/ui/coupons/WooUpdateCouponFragment.kt
  example/src/test/java/org/wordpress/android/fluxc/store/CouponStoreTest.kt
  plugins/woocommerce/schemas/org.wordpress.android.fluxc.persistence.WCAndroidDatabase/14.json
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/coupons/CouponDto.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/WCAndroidDatabase.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/converters/LongListConverter.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/dao/CouponsDao.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/dao/ProductCategoriesDao.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/dao/ProductsDao.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/entity/CouponAndProductCategoryEntity.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/entity/CouponAndProductEntity.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/entity/CouponEntity.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/migrations/Migrations.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/CouponStore.kt
  plugins/woocommerce/src/test/java/org/wordpress/android/fluxc/persistence/dao/ProductCategoriesDaoTest.kt
  plugins/woocommerce/src/test/java/org/wordpress/android/fluxc/persistence/dao/ProductsDaoTest.kt
Labels: [Store] Woo: Coupons

#2409 Removes: Explore Plans from the quick start store
  example/src/test/java/org/wordpress/android/fluxc/quickstart/QuickStartStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/QuickStartStore.kt
Labels: [Store] Quick Start

#2407 [Coupons] Temporarily remove Products and ProductCategories Room tables
  example/src/main/java/org/wordpress/android/fluxc/example/ui/coupons/WooUpdateCouponFragment.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/product/WCProductStoreTest.kt
  plugins/woocommerce/schemas/org.wordpress.android.fluxc.persistence.WCAndroidDatabase/15.json
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/di/WCDatabaseModule.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/WCAndroidDatabase.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/dao/ProductCategoriesDao.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/dao/ProductsDao.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/entity/ProductCategoryEntity.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/entity/ProductEntity.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/migrations/Migrations.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/ProductCategoryStore.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/ProductStore.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/utils/ProductCategoriesDbHelper.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/utils/ProductsDbHelper.kt
  plugins/woocommerce/src/test/java/org/wordpress/android/fluxc/persistence/dao/ProductCategoriesDaoTest.kt
  plugins/woocommerce/src/test/java/org/wordpress/android/fluxc/persistence/dao/ProductsDaoTest.kt
Labels: [Store] Woo: Product

#2388 [Coupons] Add suspended functions and observed DB for products, variations and categories
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooProductsFragment.kt
  example/src/main/res/layout/fragment_woo_products.xml
  example/src/test/java/org/wordpress/android/fluxc/wc/product/ProductSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/product/ProductTestUtils.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/product/WCProductStoreTest.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/ProductSqlUtils.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
Labels: [Store] Woo: Product

#2411 Wc/2410 simple payment status
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/OrderUpdateStore.kt
  plugins/woocommerce/src/test/java/org/wordpress/android/fluxc/store/OrderUpdateStoreTest.kt
Labels: [Store] Woo: Order

#2414 Issue/fix product parent id exceeds int range
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCProductsTest.kt
  example/src/androidTest/resources/wc-fetch-parent-product-id-exceeding-integer.json
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductApiResponse.kt
Labels: [Store] Woo: Product

#2420 Merge 1.42.1, 1.42.2 into trunk
  example/src/test/java/org/wordpress/android/fluxc/quickstart/QuickStartStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/QuickStartStore.kt
Labels: Releases

#2419 Add the variation ID list deserialization to WCProductModel
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCProductsTest.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooProductsFragment.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductModel.kt
Labels: [Store] Woo: Coupons

#2423 [Coupons] Set the missing remote product ID to WCProductVariation table
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCProductsTest.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
Labels: [Store] Woo: Product

#2413 Stats Revamp v2: Add action types
  fluxc/src/main/java/org/wordpress/android/fluxc/store/StatsStore.kt
Labels: Stats Revamp

#2424 [Woo] Some fixes for product categories fetching
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/ProductSqlUtils.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
Labels: [Store] Woo: Coupons

#2399 Convert register device into suspendable. Allow to check for FCM registration success.
  example/src/test/java/org/wordpress/android/fluxc/store/GetDeviceRegistrationStatusTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/InvalidateDeviceRegistrationTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/action/NotificationAction.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/notifications/NotificationRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/GetDeviceRegistrationStatus.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/InvalidateDeviceRegistration.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/NotificationStore.kt
Labels: [PR] Not Ready For Merge, [Store] Woo: Notifications

#2429 Observe orders count
  example/src/test/java/org/wordpress/android/fluxc/wc/order/WCOrderStoreTest.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/dao/OrdersDao.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCOrderStore.kt
Labels: [Type] enhancement, [Store] Woo: Order
