Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2022-01, with the labels that each got.

#2239 Dashboard Cards: Handle Authorization Required
  example/src/test/java/org/wordpress/android/fluxc/store/dashboard/CardsStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/dashboard/CardsDao.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/dashboard/CardsStore.kt
Labels: [Store] Dashboard Cards

#2236 Convert fetchSingleProduct action into suspendable function
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCProductsTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCProductTest.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooAddonsTestFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooProductsFragment.kt
  plugins/woocommerce/src/main/java/org/wordpress/android/fluxc/action/WCProductAction.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
Labels: Tech debt

#2234 Issue/5381 Removes main thread Order room DAO usage
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCOrderTest.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/orders/WooOrdersFragment.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/order/WCOrderStoreTest.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/dao/OrdersDao.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/OrderUpdateStore.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCOrderStore.kt
  plugins/woocommerce/src/test/java/org/wordpress/android/fluxc/persistence/dao/OrdersDaoTest.kt
  plugins/woocommerce/src/test/java/org/wordpress/android/fluxc/store/OrderUpdateStoreTest.kt
Labels: [Store] Woo: Order

#2240 Fix precision of total refunds calculation
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCOrdersTest.kt
  plugins/woocommerce/schemas/org.wordpress.android.fluxc.persistence.WCAndroidDatabase/6.json
  plugins/woocommerce/src/androidTest/java/org/wordpress/android/fluxc/persistence/MigrationTests.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCOrderModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderDto.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/WCAndroidDatabase.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/converters/BigDecimalConverter.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/migrations/Migrations.kt
Labels: [PR] Not Ready For Merge, [Store] Woo: Order, [Store] Woo: Refunds

#2243 Update default branch to trunk
  .circleci/config.yml
  README.md
Labels: [PR] Not Ready For Merge, Tooling

#2245 [Woo] Add ability to observe order changes for a given site
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/dao/OrdersDao.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCOrderStore.kt
Labels: [Store] Woo: Order

#2248 Woo/add product purchasable field
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductApiResponse.kt
Labels: [Store] Woo: Product

#2249 Update wellsql to 1.7.0
  build.gradle
  fluxc/build.gradle
  plugins/woocommerce/build.gradle
Labels: Tooling

#2246 [Order Update] ability to update more fields
  example/src/main/java/org/wordpress/android/fluxc/example/ui/orders/WooOrdersFragment.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/order/CreateOrderRequest.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/order/FeeLine.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/order/UpdateOrderRequest.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/OrderUpdateStore.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCOrderStore.kt
Labels: [PR] Not Ready For Merge, [Store] Woo: Order

#2253 Issue/2252 wcordermodel taxlines
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCOrdersTest.kt
  example/src/androidTest/resources/wc-orders-response-success.json
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCOrderModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/order/TaxLine.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderDto.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/WCAndroidDatabase.kt
Labels: [Store] Woo: Order
