Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2022-09, with the labels that each got.

#2522 Fetch Jetpack connection URL
  example/src/test/java/org/wordpress/android/fluxc/store/JetpackStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/PluginCoroutineStoreTest.kt
  fluxc-processor/src/main/resources/jp-api-endpoints.txt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/WPAPIAuthenticator.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/WPAPIEncodedBodyRequestBuilder.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/jetpack/JetpackWPAPIRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/JetpackStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PluginCoroutineStore.kt
Labels: [Store] WooCommerce, Jetpack

#2524 Jetpack: add support for fetching current user
  fluxc-processor/src/main/resources/jp-api-endpoints.txt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/jetpack/JetpackUser.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/jetpack/JetpackConnectionDataResponse.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/jetpack/JetpackWPAPIRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/JetpackStore.kt
Labels: [Store] WooCommerce, Jetpack

#2523 Add author param to posts endpoint request
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/post/PostRestClient.java
Labels: [Type] enhancement, [Store] Post

#2527 Fix 0 author id issue on postModelToParams
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/post/PostRestClient.java
Labels: [Type] bug

#2528 Merge release/1.54.1 to trunk
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/post/PostRestClient.java
Labels: Releases

#2531 Jetpack Focus: Add Jetpack app id for feature announcements
  fluxc/src/main/java/org/wordpress/android/fluxc/store/WhatsNewStore.kt
Labels: [Type] enhancement, [Store] What's New
