Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2023-12, with the labels that each got.

#2910 Feature/10265 fetch theme demo pages
  example/src/main/java/org/wordpress/android/fluxc/example/ThemeFragment.kt
  example/src/main/res/layout/fragment_themes.xml
  fluxc/src/main/java/org/wordpress/android/fluxc/model/SiteModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/theme/ThemeCoroutineRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/theme/ThemeDemoPageResponse.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ThemeCoroutineStore.kt
Labels: [Store] Theme

#2919 Fix a crash that occurs when parsing the result of encrypted-logging endpoint
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/encryptedlog/EncryptedLogRestClient.kt
Labels: Error Management, [Type] Crash

#2908 Avoid NPE when source_url is missing from `/wp/v2/media` response
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/media/MediaWPRestResponse.kt
Labels: [Store] Media, [Type] Crash

#2922 Removes unused/deprecated CardsModel
  fluxc/src/main/java/org/wordpress/android/fluxc/model/dashboard/CardsModel.kt
Labels: Tech Debt

#2923 Adds Dynamic Cards support in the dashboard/cards-data Endpoint Response
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/dashboard/CardsRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/dashboard/CardsStoreTest.kt
  example/src/test/resources/wp/dashboard/cards.json
  fluxc/src/main/java/org/wordpress/android/fluxc/model/dashboard/CardModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/dashboard/CardsRestClient.kt
Labels: [Type] enhancement, [Store] Dashboard Cards

#2925 Fix: site.username NullPointerException
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/Nonce.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/NonceRestClient.kt
Labels: [Type] Crash

#2921 Fix race condition when inserting/updating products and related classes
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/ProductSqlUtils.kt
Labels: [Store] Woo: Product, [Type] Crash

#2927 Merge release/2.59.0 onto trunk
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/ProductSqlUtils.kt
Labels: Releases

#2928 Renames dynamic cards list property for consistency
  example/src/test/java/org/wordpress/android/fluxc/store/dashboard/CardsStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/dashboard/CardModel.kt
Labels: [Type] enhancement, [Store] Dashboard Cards

#2905 Woo: Support gift card in orders
  plugins/woocommerce/schemas/org.wordpress.android.fluxc.persistence.WCAndroidDatabase/32.json
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/OrderEntity.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/order/UpdateOrderRequest.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/WCAndroidDatabase.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/migrations/Migrations.kt
Labels: [Store] Woo: Order

#2931 Add exception catch block to Gson BundledProduct parsing operation
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductModel.kt
  plugins/woocommerce/src/test/java/org/wordpress/android/fluxc/model/WCProductModelTest.kt
Labels: [Type] bug
