Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2023-08, with the labels that each got.

#2791 [JPAndroid] Update Blaze campaign entity
  example/src/test/java/org/wordpress/android/fluxc/persistence/BlazeCampaignsDaoTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/blaze/BlazeCampaignsStoreTest.kt
  fluxc/schemas/org.wordpress.android.fluxc.persistence.WPAndroidDatabase/20.json
  fluxc/src/main/java/org/wordpress/android/fluxc/model/blaze/BlazeCampaignsModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/blaze/BlazeCampaignsResponse.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WPAndroidDatabase.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/blaze/BlazeCampaignsDao.kt
Labels: Blaze

#2788 Parse skip publicize connections metadata in PostModel
  fluxc/src/main/java/org/wordpress/android/fluxc/model/PostImmutableModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/PostModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/PublicizeSkipConnection.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/post/PostRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
Labels: [Type] enhancement, Jetpack

#2793 Disable caching in fetchPlugins() call
  example/src/test/java/org/wordpress/android/fluxc/store/PluginCoroutineStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/plugin/PluginWPAPIRestClient.kt
Labels: [Type] bug, [Store] Plugin

#2796 [JP Social/New Post] Add the for=mobile query param on post creation
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/post/PostRestClient.java
Labels: [Type] bug, [Store] Post, Jetpack

#2804 [Nullability Annotations to Java Classes] Replace `org.jetbrains` with `androidx` annotations
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/GsonRequest.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/BaseWPComRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/post/PostXMLRPCClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PostStore.java
Labels: Core, Tech Debt

#2809 Removes: Quick start dynamic card feature
  example/src/test/java/org/wordpress/android/fluxc/store/DynamicCardStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/DynamicCardType.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/DynamicCardsModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/DynamicCardSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/DynamicCardStore.kt
Labels: Dynamic cards

#2808 Woo: Products count endpoint
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCOrdersTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCOrderTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCProductTest.kt
  fluxc-processor/src/main/resources/wc-wp-api-endpoints.txt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderCountApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductCountApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCOrderStore.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
Labels: [Store] Woo: Order, [Store] Woo: Product

#2810 Add subscription metadata to supported keys
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/StripProductMetaData.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductModel.kt
  plugins/woocommerce/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/StripProductMetaDataTest.kt
Labels: [Type] bug, [Store] Woo: Product

#2807 [Hazmat Shipping] Add hazmat category parameter support
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/shippinglabels/WCShippingLabelModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/shippinglabels/WCShippingLabelPackageData.kt
Labels: [Store] Woo: Shipping Label

#2816 Include bundle rules
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCBundledProduct.kt
Labels: [Store] Woo: Product

#2821 Handle nulls as empty string
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCBundledProduct.kt
Labels: [Type] bug

#2812 Fetching WooCommerce "Tax based on setting"
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_WCBaseStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/WooCommerceStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/settings/WCSettingsTestUtils.kt
  example/src/test/resources/wc/tax-based-on-settings-response.json
  plugins/woocommerce/schemas/org.wordpress.android.fluxc.persistence.WCAndroidDatabase/26.json
  plugins/woocommerce/src/androidTest/java/org/wordpress/android/fluxc/persistence/MigrationTests.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/di/WCDatabaseModule.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/settings/WCSettingsMapper.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/taxes/TaxBasedOnSettingEntity.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/WooCommerceRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/WCAndroidDatabase.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/dao/TaxBasedOnDao.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/migrations/Migrations.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WooCommerceStore.kt
Labels: Woo: REST API
