Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2023-06, with the labels that each got.

#2742 Update catalogVersion to 1.10.0
  settings.gradle
Labels: dependency update, Android 13

#2743 Send parse error info in orders
  fluxc/src/main/java/org/wordpress/android/fluxc/network/BaseRequest.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCOrderStore.kt
Labels: [Store] Woo: Order

#2745 Primitive boolean deserializer
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/utils/PrimitiveBooleanJsonDeserializer.kt
  plugins/woocommerce/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/PrimitiveBooleanJsonDeserializerTest.kt
Labels: [Store] Woo: Product, [Type] Crash

#2749 Non negative Double deserializer
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/utils/NonNegativeDoubleJsonDeserializer.kt
  plugins/woocommerce/src/test/java/org/wordpress/android/fluxc/utils/NonNegativeDoubleJsonDeserializerTest.kt
  plugins/woocommerce/src/test/java/org/wordpress/android/fluxc/utils/PrimitiveBooleanJsonDeserializerTest.kt
Labels: [Store] Woo: Product, [Type] Crash

#2750 Wrong id format
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/order/LineItem.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/utils/JsonElementToLongSerializerDeserializer.kt
  plugins/woocommerce/src/test/java/org/wordpress/android/fluxc/utils/JsonElementToLongSerializerDeserializerTest.kt
Labels: [Store] Woo: Order, [Type] Crash

#2756 Strip product metadata
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/StripProductMetaData.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/utils/JsonUtils.kt
  plugins/woocommerce/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClientTest.kt
  plugins/woocommerce/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/StripProductMetaDataTest.kt
Labels: [Type] enhancement, [Store] Woo: Product

#2758 Resilient strip product variation
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/StripProductVariationMetaData.kt
  plugins/woocommerce/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/StripProductVariationMetaDataTest.kt
Labels: [Store] Woo: Product

#2752 NPE empty attributes
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductModel.kt
  plugins/woocommerce/src/test/java/org/wordpress/android/fluxc/model/WCProductModelTest.kt
Labels: [Store] Woo: Product, [Type] Crash
