Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2023-11, with the labels that each got.

#2892 Makes site model optional in the cart creation
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/transactions/TransactionsFixtures.kt
  example/src/test/java/org/wordpress/android/fluxc/store/TransactionsStoreTest.kt
  fluxc-processor/src/main/resources/wp-com-endpoints.txt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/transactions/TransactionsRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/TransactionsStore.kt
Labels: [Type] enhancement, Jetpack

#2893 [Nullability Annotations to Java Classes] Add Missing Nullability Annotations to `Theme` Network Client Classes (`safe`)
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_ThemeTestJetpack.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_ThemeTestWPCom.java
  example/src/main/java/org/wordpress/android/fluxc/example/ThemeFragment.kt
  example/src/main/res/layout/fragment_themes.xml
  example/src/test/java/org/wordpress/android/fluxc/theme/ThemeStoreUnitTest.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/theme/JetpackThemeResponse.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/theme/ThemeRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/theme/WPComThemeResponse.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ThemeStore.java
Labels: Core, [PR] Not Ready for Merge, Tech Debt

#2721 [Prompts] Use Blogging Prompts v3 endpoint
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/bloggingprompts/BloggingPromptsRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/persistence/BloggingPromptsDaoTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/bloggingprompts/BloggingPromptsStoreTest.kt
  example/src/test/resources/wp/bloggingprompts/prompts.json
  fluxc/schemas/org.wordpress.android.fluxc.persistence.WPAndroidDatabase/22.json
  fluxc/src/main/java/org/wordpress/android/fluxc/model/bloggingprompts/BloggingPromptModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/WPComGsonRequestBuilder.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/bloggingprompts/BloggingPromptsRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/bloggingprompts/BloggingPromptsUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WPAndroidDatabase.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/bloggingprompts/BloggingPromptsDao.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/bloggingprompts/BloggingPromptsStore.kt
Labels: [Type] enhancement, [Store] Blogging Prompts

#2886 [Nullability Annotations to Java Classes] Add Missing Nullability Annotations to `Media` Model Classes (`breaking`)
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_MediaTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_UploadStoreTest.java
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_UploadTest.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_MediaTestJetpack.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_MediaTestWPCom.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_MediaTestXMLRPC.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_UploadTest.java
  example/src/main/java/org/wordpress/android/fluxc/example/MediaFragment.java
  example/src/main/java/org/wordpress/android/fluxc/example/UploadsFragment.java
  example/src/test/java/org/wordpress/android/fluxc/media/MediaErrorTest.kt
  example/src/test/java/org/wordpress/android/fluxc/media/MediaSqlUtilsTest.java
  example/src/test/java/org/wordpress/android/fluxc/media/MediaStoreTest.java
  example/src/test/java/org/wordpress/android/fluxc/media/MediaTestUtils.java
  example/src/test/java/org/wordpress/android/fluxc/upload/UploadTestUtils.java
  example/src/test/java/org/wordpress/android/fluxc/utils/MediaUtilsTest.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/MediaModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/media/BaseWPV2MediaRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/media/MediaWPRestResponse.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/media/WPRestUploadRequestBody.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/media/MediaResponseUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/media/RestUploadRequestBody.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/media/MediaXMLRPCClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/MediaSqlUtils.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/MediaStore.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/UploadStore.java
  fluxc/src/main/java/org/wordpress/android/fluxc/utils/MediaUtils.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductImageModel.kt
Labels: Core, Tech Debt

#2899 [Prompts] Add bloganuary_id Prompts V3 field
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/bloggingprompts/BloggingPromptsRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/persistence/BloggingPromptsDaoTest.kt
  example/src/test/resources/wp/bloggingprompts/prompts.json
  fluxc/schemas/org.wordpress.android.fluxc.persistence.WPAndroidDatabase/23.json
  fluxc/src/main/java/org/wordpress/android/fluxc/model/bloggingprompts/BloggingPromptModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/bloggingprompts/BloggingPromptsRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WPAndroidDatabase.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/bloggingprompts/BloggingPromptsDao.kt
Labels: [Type] enhancement, [Store] Blogging Prompts

#2880 Configurable field
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCBundledProduct.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductModel.kt
Labels: [Store] Woo: Order

#2882 Float deserializer
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/utils/JsonElementToFloatSerializerDeserializer.kt
  plugins/woocommerce/src/test/java/org/wordpress/android/fluxc/utils/JsonElementToFloatSerializerDeserializerTest.kt
Labels: [Store] Woo: Order

#2874 [Passkey] Support Webauthn login steps
  example/src/main/java/org/wordpress/android/fluxc/example/MainFragment.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/action/AuthenticationAction.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/auth/Authenticator.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/auth/webauthn/BaseWebauthnRequest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/auth/webauthn/VolleyWebauthnRequests.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/auth/webauthn/WebauthnModels.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/AccountStore.java
Labels: [Pri] High

#2889 Bundle variable support
  example/src/test/java/org/wordpress/android/fluxc/model/WCProductModelTest.kt
  example/src/test/resources/wc/product-bundle-with-max-quantity.json
  example/src/test/resources/wc/product-bundle-with-min-quantity.json
  example/src/test/resources/wc/product-bundle-with-quantity-rules.json
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCBundledProduct.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductApiResponse.kt
Labels: [Store] Woo: Order

#2876 Configuration key
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCBundledProduct.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCMetaData.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/order/LineItem.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/StripOrder.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/utils/JsonElementToFloatSerializerDeserializer.kt
  plugins/woocommerce/src/test/java/org/wordpress/android/fluxc/utils/JsonElementToFloatSerializerDeserializerTest.kt
Labels: [Store] Woo: Order

#2883 Bundle quantity rules support
  example/src/test/java/org/wordpress/android/fluxc/model/WCProductModelTest.kt
  example/src/test/resources/wc/product-bundle-with-max-quantity.json
  example/src/test/resources/wc/product-bundle-with-min-quantity.json
  example/src/test/resources/wc/product-bundle-with-quantity-rules.json
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/StripProductMetaData.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCBundledProduct.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCMetaData.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductApiResponse.kt
Labels: [Store] Woo: Order

#2902 Update Product rest client to sync metada values on product updates
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductVariationMapper.kt
Labels: [Store] Woo: Product

#2875 Update UpdateOrderRequest model
  example/src/main/java/org/wordpress/android/fluxc/example/ui/orders/WooOrdersFragment.kt
  example/src/test/java/org/wordpress/android/fluxc/model/WCProductModelTest.kt
  example/src/test/resources/wc/product-bundle-with-max-quantity.json
  example/src/test/resources/wc/product-bundle-with-min-quantity.json
  example/src/test/resources/wc/product-bundle-with-quantity-rules.json
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/StripProductMetaData.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCBundledProduct.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCMetaData.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/order/LineItem.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/order/UpdateOrderRequest.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/StripOrder.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/utils/JsonElementToFloatSerializerDeserializer.kt
  plugins/woocommerce/src/test/java/org/wordpress/android/fluxc/utils/JsonElementToFloatSerializerDeserializerTest.kt
Labels: [PR] Not Ready for Merge, [Store] Woo: Order

#2904 Removes font families from the stored block settings response
  fluxc/src/main/java/org/wordpress/android/fluxc/model/EditorTheme.kt
Labels: [Type] bug, [Store] Theme, [Type] Crash

#2887 Add theme_style data to ThemeModel
  fluxc/src/main/java/org/wordpress/android/fluxc/model/ThemeModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/theme/ThemeRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/theme/WPComThemeResponse.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
Labels: [Type] enhancement, [Store] Theme

#2906 Release/2.55.1
  fluxc/src/main/java/org/wordpress/android/fluxc/model/EditorTheme.kt
Labels: Releases

#2907 Improvements to the WPCom themes fetching endpoint
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_ThemeTestJetpack.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_ThemeTestWPCom.java
  example/src/main/java/org/wordpress/android/fluxc/example/ThemeFragment.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/action/ThemeAction.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/theme/ThemeRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/ThemeSqlUtils.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ThemeStore.java
Labels: [Store] Theme

#2909 Add plugins info
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WooCommerceStore.kt
Labels: [Store] Woo: Product

#2914 [Prompts] Crash Fix: Add ON CONFLICT to Prompts migration
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WPAndroidDatabase.kt
Labels: [Type] Crash, [Store] Blogging Prompts
