Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2023-07, with the labels that each got.

#2760 Parsing error fetching orders
  fluxc/src/main/java/org/wordpress/android/fluxc/action/ListAction.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/PagedListWrapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ListStore.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCOrderStore.kt
Labels: [Store] Woo: Order

#2765 [Jetpack Social] Parse features in SiteModel plan object
  fluxc/src/main/java/org/wordpress/android/fluxc/model/SiteModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteWPComRestResponse.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
Labels: [Type] enhancement

#2762 Removes: blaze status api implementation and data base classes
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/blaze/BlazeRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/persistence/BlazeStatusDaoTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/blaze/BlazeStoreTest.kt
  example/src/test/resources/wp/blaze/blaze-status.json
  fluxc-processor/src/main/resources/wp-com-v2-endpoints.txt
  fluxc/schemas/org.wordpress.android.fluxc.persistence.WPAndroidDatabase/15.json
  fluxc/src/main/java/org/wordpress/android/fluxc/model/blaze/BlazeStatusModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/module/DatabaseModule.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/blaze/BlazeRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WPAndroidDatabase.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/blaze/BlazeStatusDao.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/blaze/BlazeStore.kt
Labels: Blaze

#2769 Fixes: Database migration from 14 to 16
  fluxc/schemas/org.wordpress.android.fluxc.persistence.WPAndroidDatabase/16.json
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WPAndroidDatabase.kt
Labels: Blaze

#2766 [Build] Enable Non-Transitive Resources
  .configure-files/gradle.properties.enc
  gradle.properties-example
  settings.gradle
Labels: Tech Debt, Tooling

#2771 Remove unused method from SiteModel
  fluxc/src/main/java/org/wordpress/android/fluxc/model/SiteModel.java
Labels: [Type] enhancement, Jetpack

#2774 Integration with jetpack-social endpoint
  example/src/test/java/org/wordpress/android/fluxc/endpoints/WPComV2EndpointTest.java
  example/src/test/java/org/wordpress/android/fluxc/model/jetpacksocial/JetpackSocialMapperTest.kt
  example/src/test/java/org/wordpress/android/fluxc/site/SiteStoreUnitTest.java
  example/src/test/java/org/wordpress/android/fluxc/store/SiteStoreTest.kt
  fluxc-processor/src/main/resources/wp-com-v2-endpoints.txt
  fluxc/schemas/org.wordpress.android.fluxc.persistence.WPAndroidDatabase/18.json
  fluxc/src/main/java/org/wordpress/android/fluxc/model/jetpacksocial/JetpackSocial.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/jetpacksocial/JetpackSocialMapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/module/DatabaseModule.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/JetpackSocialResponse.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WPAndroidDatabase.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/jetpacksocial/JetpackSocialDao.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/SiteStore.kt
Labels: [Type] enhancement, Jetpack

#2776 Increase Cursor Window Size to load larger posts
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
Labels: [Type] Crash

#2767 Top performers new endpoint
  example/src/main/java/org/wordpress/android/fluxc/example/ui/leaderboards/WooLeaderboardsFragment.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/leaderboards/WCLeaderboardsStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/leaderboards/WCLeaderboardsTestFixtures.kt
  example/src/test/resources/wc/reports-product-response-example.json
  fluxc-processor/src/main/resources/wc-wp-api-endpoints.txt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/leaderboards/WCProductLeaderboardsMapper.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/reports/ReportsProductApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/reports/ReportsRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCLeaderboardsStore.kt
Labels: [Store] Woo: Product

#2778 Fix sold individually as number
  example/src/test/java/org/wordpress/android/fluxc/wc/product/ProductReliabilityTest.kt
  example/src/test/resources/wc/product_reliability_booleans.json
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductApiResponse.kt
Labels: [Store] Woo: Product

#2782 Fix too many sql variables crash in deleteItemsFromLists()
  example/src/test/java/org/wordpress/android/fluxc/list/ListItemSqlUtilsTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/ListItemSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/UploadSqlUtils.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
Labels: [Store] List, [Type] Crash

#2784 [JPAndroid] Update the Blaze Campaigns Response
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/blaze/BlazeCampaignsRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/persistence/BlazeCampaignsDaoTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/blaze/BlazeCampaignsStoreTest.kt
  example/src/test/resources/wp/blaze/blaze-campaigns.json
  fluxc/schemas/org.wordpress.android.fluxc.persistence.WPAndroidDatabase/19.json
  fluxc/src/main/java/org/wordpress/android/fluxc/model/blaze/BlazeCampaignsModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/blaze/BlazeCampaignsResponse.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WPAndroidDatabase.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/blaze/BlazeCampaignsDao.kt
Labels: Blaze

#2777 Parse auto-share message and ID in PostModel metadata
  fluxc/src/main/java/org/wordpress/android/fluxc/model/PostImmutableModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/PostModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/post/PostRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/SiteStore.kt
Labels: [Type] enhancement, Jetpack

#2787 Fix too many variables crash in PluginSqlUtils.getWPOrgPluginsForDirectory()
  example/src/test/java/org/wordpress/android/fluxc/plugin/PluginDirectorySqlUtilsTest.java
  example/src/test/java/org/wordpress/android/fluxc/plugin/PluginDirectorySqlUtilsTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/PluginSqlUtils.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/PluginSqlUtils.kt
Labels: [Store] Plugin, [Type] Crash

#2786 Check for orders enhancement
  example/src/test/java/org/wordpress/android/fluxc/wc/order/WCOrderStoreTest.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCOrderStore.kt
Labels: [Type] enhancement, [Store] Woo: Order

#2789 Issue/wc 9372 local SKU product search
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/ProductSqlUtils.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
Labels: [Type] enhancement

#2785 Analytics Performance: Add access to revenue stats from range ID queries
  example/src/test/java/org/wordpress/android/fluxc/wc/stats/WCStatsStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCRevenueStatsModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/orderstats/OrderStatsRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/WCStatsSqlUtils.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCStatsStore.kt
Labels: [Store] Woo: Stats

#2772 [Build] Upgrade Gradle to 8.2.1 and AGP to 8.1.0
  .java-version
  example/build.gradle
  example/src/androidTest/AndroidManifest.xml
  example/src/debug/AndroidManifest.xml
  example/src/main/AndroidManifest.xml
  fluxc/build.gradle
  fluxc/src/main/AndroidManifest.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  plugins/woocommerce/build.gradle
  plugins/woocommerce/src/main/AndroidManifest.xml
  settings.gradle
Labels: Tech Debt, Tooling
