Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2023-05, with the labels that each got.

#2719 Allow updating specific fields when updating media details
  fluxc/src/main/java/org/wordpress/android/fluxc/model/MediaModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/media/MediaRestClient.java
Labels: [Store] Media

#2725 Support core stock statuses
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/CoreProductStockStatus.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductApiResponse.kt
Labels: [Type] enhancement, [Store] Woo: Product

#2729 Add bundledBy field to LineItem
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/order/LineItem.kt
Labels: [Type] enhancement, [Store] Woo: Order

#2733 [EditorTheme] Detect block-based themes (fixed)
  fluxc/src/main/java/org/wordpress/android/fluxc/model/EditorTheme.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/EditorThemeSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/EditorThemeStore.kt
Labels: [Type] enhancement, [Store] Theme

#2727 Enable account closure
  fluxc-processor/src/main/resources/wp-com-endpoints.txt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/account/AccountClosure.kt
Labels: [Type] enhancement

#2731 add compositeParent field to LineItem
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/order/LineItem.kt
Labels: [Type] enhancement, [Store] Woo: Order

#2740 Declare gallery v2 field as optional
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_EditorThemeStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/EditorTheme.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/EditorThemeSqlUtils.kt
Labels: [Type] bug

#2741 Keep parse error information
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
Labels: [Store] Woo: Product
