Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2023-04, with the labels that each got.

#2696 Add gift cards to plugins enum
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WooCommerceStore.kt
Labels: [Store] Plugin

#2701 Execute WCProductVariationModel migration only for WooCommerce AddOn
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
Labels: [Type] Crash

#2702 Merge 2.23.1 release to trunk
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
Labels: Releases

#2697 Product quantity rules data
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WooCommerceStore.kt
Labels: [Store] Plugin, [Store] Woo: Product

#2699 Variation quantity rules data
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/StripProductVariationMetaData.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductVariationModel.kt
Labels: [Store] Plugin, [Store] Woo: Product

#2705 Add allow combinations metadata key
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductModel.kt
Labels: [Store] Plugin, [Store] Woo: Product

#2706 Add runtime media permissions to the example app
  example/src/main/AndroidManifest.xml
  example/src/main/java/org/wordpress/android/fluxc/example/MediaFragment.java
  example/src/main/java/org/wordpress/android/fluxc/example/UploadsFragment.java
Labels: [Type] bug, Android 13

#2712 [JPAndroid] Dashboard cards: Add activity to endpoint handling
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/dashboard/CardsRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/dashboard/CardsStoreTest.kt
  example/src/test/resources/wp/dashboard/cards.json
  example/src/test/resources/wp/dashboard/cards_with_errors.json
  fluxc/src/main/java/org/wordpress/android/fluxc/model/dashboard/CardModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/activity/ActivityLogRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/dashboard/CardsRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/dashboard/CardsStore.kt
Labels: [Store] Dashboard Cards

#2715 Update catalogVersion to 1.9.0
  settings.gradle
Labels: dependency update, Android 13

#2713 Process bundled products product table
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCBundledProduct.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/CoreProductType.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/ProductSqlUtils.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
Labels: [Store] Plugin, [Store] Woo: Product

#2714 Process composite products
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductComponent.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/ProductSqlUtils.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
Labels: [Store] Woo: Product

#2718 Store domains endpoint
  example/src/test/java/org/wordpress/android/fluxc/site/SiteStoreUnitTest.java
  example/src/test/java/org/wordpress/android/fluxc/store/SiteStoreTest.kt
  fluxc/schemas/org.wordpress.android.fluxc.persistence.WPAndroidDatabase/14.json
  fluxc/src/main/java/org/wordpress/android/fluxc/model/DomainModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/module/DatabaseModule.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WPAndroidDatabase.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/domains/DomainDao.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/SiteStore.kt
Labels: [Store] Site

#2720 [Room] Fix the DB schema for version 14
  fluxc/schemas/org.wordpress.android.fluxc.persistence.WPAndroidDatabase/14.json
Labels: [Type] bug, Core
