Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2023-02, with the labels that each got.

#2645 [Blogging Prompts] Add isPromptsCardOptedIn field to BloggingReminders entity
  example/src/androidTest/java/org/wordpress/android/fluxc/persistence/room/WPAndroidDatabaseMigrationTest.kt
  fluxc/schemas/org.wordpress.android.fluxc.persistence.WPAndroidDatabase/11.json
  fluxc/src/main/java/org/wordpress/android/fluxc/model/BloggingRemindersMapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/BloggingRemindersModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/BloggingRemindersDao.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WPAndroidDatabase.kt
Labels: [Type] enhancement, [PR] Not Ready for Merge, [Store] Blogging Reminders

#2643 Add support for connecting to self-hosted sites without XMLRPC
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_AppComponent.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_SiteTestWPAPI.kt
  example/src/main/java/org/wordpress/android/fluxc/example/MainFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/SigninDialog.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ThreeEditTextDialog.kt
  example/src/main/res/layout/signing_dialog.xml
  example/src/main/res/layout/three_edit_text_dialog.xml
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpapi/NonceRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpapi/plugin/PluginWPApiRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/site/SiteStoreUnitTest.java
  example/src/test/java/org/wordpress/android/fluxc/store/PluginCoroutineStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/ReactNativeStoreWPAPITest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/SiteStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/settings/WCSettingsTestUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/action/SiteAction.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/SiteModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/module/OkHttpClientModule.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/discovery/DiscoveryWPAPIRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/discovery/RootWPAPIRestResponse.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/discovery/RootWPAPIRestResponse.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/Nonce.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/NonceRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/WPAPIAuthenticator.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/WPAPIEncodedBodyRequest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/WPAPIGsonRequest.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/site/SiteWPAPIRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/SiteStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/utils/SiteErrorUtils.java
Labels: Woo: REST API

#2650 Woo REST API: validate Application Passwords username before using it
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/applicationpasswords/ApplicationPasswordsManager.kt
  fluxc/src/test/java/org/wordpress/android/fluxc/network/rest/wpapi/applicationpasswords/ApplicationPasswordManagerTests.kt
Labels: [Type] bug, Woo: REST API

#2649 Application Passwords support without XMLRPC
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_AppComponent.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_ApplicationPasswordNetwork.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/MediaStore.java
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/WooNetwork.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WooCommerceStore.kt
Labels: Woo: REST API

#2651 Woo REST API: validate username on password deletion
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/applicationpasswords/ApplicationPasswordsManager.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/applicationpasswords/ApplicationPasswordsStore.kt
  fluxc/src/test/java/org/wordpress/android/fluxc/network/rest/wpapi/applicationpasswords/ApplicationPasswordManagerTests.kt
Labels: [Type] bug, Woo: REST API

#2656 [Blogging Prompts] Set default prompts setting to site isPotentialBloggingSite
  example/src/test/java/org/wordpress/android/fluxc/store/BloggingRemindersStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/BloggingRemindersStore.kt
Labels: [Type] enhancement, [Store] Blogging Reminders

#2652 Woo: Domain price
  example/src/main/java/org/wordpress/android/fluxc/example/DomainsFragment.kt
  example/src/main/res/layout/fragment_domains.xml
  fluxc-processor/src/main/resources/wp-com-endpoints.txt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/products/ProductsRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/DomainPriceResponse.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ProductsStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/SiteStore.kt
Labels: [Store] Woo: Product, Woo: REST API

#2660 Adding functions for JP plugin install endpoint
  fluxc/src/main/java/org/wordpress/android/fluxc/action/PluginAction.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/plugin/PluginJetpackTunnelRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PluginStore.java
Labels: Jetpack Remote Install

#2659 [wpandroid] Blaze use Flow when getting blaze status
  example/src/test/java/org/wordpress/android/fluxc/persistence/BlazeStatusDaoTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/blaze/BlazeStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/blaze/BlazeStatusModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/blaze/BlazeStatusDao.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/blaze/BlazeStore.kt
Labels: Blaze

#2658 Support Vendor String in Domain Suggestions Payload
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_SiteTestWPCom.java
  example/src/main/java/org/wordpress/android/fluxc/example/SignedOutActionsFragment.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/DomainSuggestionResponse.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/SiteStore.kt
Labels: [Store] Site

#2663 Fix an unhandled exception
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/DomainsResponse.kt
Labels: [Type] bug, [Type] Crash
