Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2023-01, with the labels that each got.

#2621 Woo REST API: Migrate InPersonPaymentsRestClient and JitmRestClient
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_JitmTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCInPersonPaymentsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/jitm/JitmRestClientTest.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/jitm/JitmRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/payments/inperson/InPersonPaymentsRestClient.kt
Labels: Woo: REST API

#2622 Woo REST API: fix logic of detecting Woo installation status
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WooCommerceStore.kt
Labels: Woo: REST API

#2610 Woo REST API: Migrate GatewayRestClient and WCTaxRestClient
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCGatewayTest.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/gateways/WooGatewaysFragment.kt
  example/src/main/res/layout/fragment_woo_gateways.xml
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/wc/GatewayRestClientTest.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/gateways/GatewayRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/taxes/WCTaxRestClient.kt
Labels: [Store] Woo: Order, Woo: REST API

#2619 Woo REST API: remove dependency on WPCom siteId in DB tables
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCOrdersTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/CouponStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/WCInboxStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/leaderboards/WCLeaderboardsStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/order/OrderTestUtils.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/order/WCOrderStoreTest.kt
  plugins/woocommerce/schemas/org.wordpress.android.fluxc.persistence.WCAndroidDatabase/22.json
  plugins/woocommerce/src/androidTest/java/org/wordpress/android/fluxc/persistence/MigrationTests.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/leaderboards/WCProductLeaderboardsMapper.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/coupons/CouponDto.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/inbox/InboxNoteDto.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderNoteApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/WCAndroidDatabase.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/converters/LocalIdConverter.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/converters/RemoteIdConverter.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/dao/AddonsDao.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/dao/CouponsDao.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/dao/InboxNotesDao.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/dao/OrderNotesDao.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/dao/TopPerformerProductsDao.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/entity/AddonEntity.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/entity/AddonOptionEntity.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/entity/CouponEmailEntity.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/entity/CouponEntity.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/entity/GlobalAddonGroupEntity.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/entity/InboxNoteActionEntity.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/entity/InboxNoteEntity.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/entity/OrderNoteEntity.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/entity/ProductBasedIdentification.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/entity/TopPerformerProductEntity.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/mappers/ToDatabaseAddonGroupMapper.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/mappers/ToDatabaseAddonsMapper.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/migrations/Migrations.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/CouponStore.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCAddonsStore.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCInboxStore.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCLeaderboardsStore.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCOrderStore.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
  plugins/woocommerce/src/test/java/org/wordpress/android/fluxc/persistence/dao/AddonsDaoTest.kt
  plugins/woocommerce/src/test/java/org/wordpress/android/fluxc/persistence/dao/CouponsDaoTest.kt
  plugins/woocommerce/src/test/java/org/wordpress/android/fluxc/store/ProvideAddonsIntegrationTests.kt
Labels: [PR] Not Ready for Merge, Woo: REST API

#2617 Woo REST API: Migrate AddOnsRestClient and InboxRestClient
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_WCOrdersTest.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooAddonsTestFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooProductsFragment.kt
  example/src/test/java/org/wordpress/android/fluxc/store/CouponStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/WCInboxStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/leaderboards/WCLeaderboardsStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/order/OrderTestUtils.kt
  example/src/test/java/org/wordpress/android/fluxc/wc/order/WCOrderStoreTest.kt
  plugins/woocommerce/schemas/org.wordpress.android.fluxc.persistence.WCAndroidDatabase/22.json
  plugins/woocommerce/src/androidTest/java/org/wordpress/android/fluxc/persistence/MigrationTests.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/leaderboards/WCProductLeaderboardsMapper.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/addons/AddOnsRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/coupons/CouponDto.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/inbox/InboxNoteDto.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/inbox/InboxRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderNoteApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/WCAndroidDatabase.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/converters/LocalIdConverter.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/converters/RemoteIdConverter.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/dao/AddonsDao.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/dao/CouponsDao.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/dao/InboxNotesDao.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/dao/OrderNotesDao.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/dao/TopPerformerProductsDao.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/entity/AddonEntity.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/entity/AddonOptionEntity.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/entity/CouponEmailEntity.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/entity/CouponEntity.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/entity/GlobalAddonGroupEntity.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/entity/InboxNoteActionEntity.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/entity/InboxNoteEntity.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/entity/OrderNoteEntity.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/entity/ProductBasedIdentification.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/entity/TopPerformerProductEntity.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/mappers/ToDatabaseAddonGroupMapper.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/mappers/ToDatabaseAddonsMapper.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/migrations/Migrations.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/CouponStore.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCAddonsStore.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCInboxStore.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCLeaderboardsStore.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCOrderStore.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
  plugins/woocommerce/src/test/java/org/wordpress/android/fluxc/persistence/dao/AddonsDaoTest.kt
  plugins/woocommerce/src/test/java/org/wordpress/android/fluxc/persistence/dao/CouponsDaoTest.kt
  plugins/woocommerce/src/test/java/org/wordpress/android/fluxc/store/ProvideAddonsIntegrationTests.kt
Labels: [Store] Woo: Order, [Store] Woo: Product, Woo: REST API

#2628 Woo REST API: fix Woo detection for non-eligible users
  fluxc/src/main/java/org/wordpress/android/fluxc/store/SiteStore.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/system/WooSystemRestClient.kt
Labels: Woo: REST API

#2633 [REST API] Take into account UUID when deleting application password
  fluxc-processor/src/main/resources/wp-api-endpoints.txt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/applicationpasswords/ApplicationPasswordCredentials.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/applicationpasswords/ApplicationPasswordsManager.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/applicationpasswords/ApplicationPasswordsPayloads.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/applicationpasswords/ApplicationPasswordsStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/applicationpasswords/JetpackApplicationPasswordsRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/applicationpasswords/WPApiApplicationPasswordsRestClient.kt
  fluxc/src/test/java/org/wordpress/android/fluxc/network/rest/wpapi/applicationpasswords/ApplicationPasswordManagerTests.kt
  fluxc/src/test/java/org/wordpress/android/fluxc/network/rest/wpapi/applicationpasswords/ApplicationPasswordsNetworkTests.kt
Labels: Woo: REST API

#2629 feat: bulk create variations
  example/src/test/java/org/wordpress/android/fluxc/wc/product/WCProductStoreTest.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductVariationMapper.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
Labels: [Store] Woo: Product

#2634 Woo REST API: media upload using application passwords
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_AppComponent.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_ApplicationPasswordNetwork.kt
  example/src/test/java/org/wordpress/android/fluxc/media/MediaStoreTest.java
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/media/wpv2/WPComV2MediaRestClientTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/applicationpasswords/ApplicationPasswordsConfiguration.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/applicationpasswords/ApplicationPasswordsManager.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/applicationpasswords/ApplicationPasswordsStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/media/ApplicationPasswordsMediaRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/media/BaseWPV2MediaRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/media/MediaWPRestResponse.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/media/WPRestUploadRequestBody.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/media/wpv2/WPComV2MediaRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/MediaStore.java
  fluxc/src/test/java/org/wordpress/android/fluxc/network/rest/wpapi/applicationpasswords/ApplicationPasswordManagerTests.kt
Labels: [Store] Media, Woo: REST API

#2630 Woo: Adopt start and end date parameters inside payload when valid
  example/src/test/java/org/wordpress/android/fluxc/wc/stats/WCStatsStoreTest.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCStatsStore.kt
Labels: [Store] Woo: Stats

#2638 Woo REST API: handle UUID fetching when deleting a password
  example/src/main/java/org/wordpress/android/fluxc/example/ApplicationPasswordsLogger.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/applicationpasswords/ApplicationPasswordCredentials.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/applicationpasswords/ApplicationPasswordUUID.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/applicationpasswords/ApplicationPasswordsApiResponses.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/applicationpasswords/ApplicationPasswordsListener.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/applicationpasswords/ApplicationPasswordsManager.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/applicationpasswords/ApplicationPasswordsNetwork.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/applicationpasswords/ApplicationPasswordsPayloads.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/applicationpasswords/ApplicationPasswordsStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/applicationpasswords/JetpackApplicationPasswordsRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/applicationpasswords/WPApiApplicationPasswordsRestClient.kt
  fluxc/src/test/java/org/wordpress/android/fluxc/network/rest/wpapi/applicationpasswords/ApplicationPasswordManagerTests.kt
  fluxc/src/test/java/org/wordpress/android/fluxc/network/rest/wpapi/applicationpasswords/ApplicationPasswordsNetworkTests.kt
Labels: [Type] enhancement, Woo: REST API

#2639 Woo REST API: some fixes
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/applicationpasswords/ApplicationPasswordsStore.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WooCommerceStore.kt
Labels: [Type] bug, Woo: REST API

#2641 [Test] Re-Enable Release Stack Encrypted Log Connected Test
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_EncryptedLogTest.kt
Labels: Tests

#2642 WPAPI: Handle invalid nonce and cookies errors
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/WPAPIAuthenticator.kt
Labels: Woo: REST API
