Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2023-10, with the labels that each got.

#2859 Customer list cache usage changes
  example/src/test/java/org/wordpress/android/fluxc/store/WCCustomerStoreTest.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/CustomerSqlUtils.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCCustomerStore.kt
Labels: [Store] Woo: Customers

#2851 [Nullability Annotations to Java Classes] Add Missing Nullability Annotations to All `Taxonomy` & `Term` SqlUtils & Model Classes (`breaking`)
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_TaxonomyTestWPCom.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_TaxonomyTestXMLRPC.java
  example/src/main/java/org/wordpress/android/fluxc/example/TaxonomiesFragment.java
  example/src/test/java/org/wordpress/android/fluxc/taxonomy/TaxonomyStoreUnitTest.java
  example/src/test/java/org/wordpress/android/fluxc/taxonomy/TaxonomyTestUtils.java
  example/src/test/java/org/wordpress/android/fluxc/taxonomy/TermModelTest.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/TaxonomyModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/TermModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/TermsModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/taxonomy/TaxonomyRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/taxonomy/TaxonomyXMLRPCClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/TaxonomySqlUtils.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/TaxonomyStore.java
Labels: Core, Tech Debt

#2862 Woo: ability to bulk add categories
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooProductCategoriesFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/products/WooUpdateProductFragment.kt
  example/src/main/res/layout/fragment_woo_product_categories.xml
  fluxc-processor/src/main/resources/wc-wp-api-endpoints.txt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductCategoryApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
Labels: [Type] enhancement, [Store] Woo: Product

#2863 Change range id type
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCRevenueStatsModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/orderstats/OrderStatsRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/WCStatsSqlUtils.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCStatsStore.kt
Labels: [Type] bug, [Store] Woo: Stats

#2865 Jetpack AI: improve caching logic of the JWT token
  example/src/androidTest/java/org/wordpress/android/fluxc/JWTTokenTests.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/JWTToken.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/jetpackai/JetpackAIRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/jetpackai/JetpackAIStore.kt
Labels: [Type] enhancement

#2866 [Nullability Annotations to Java Classes] Add Missing Nullability Annotations to `TaxonomyXMLRPCClient` (`safe`)
  fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/taxonomy/TaxonomyXMLRPCClient.java
Labels: Core, Tech Debt

#2867 Adds fetch all-domains api call
  example/src/main/java/org/wordpress/android/fluxc/example/DomainsFragment.kt
  example/src/main/res/layout/fragment_domains.xml
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/SiteStoreTest.kt
  example/src/test/resources/wp/all-domains/all-domains.json
  fluxc-processor/src/main/resources/wp-com-endpoints.txt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/AllDomainsResponse.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/BooleanTypeAdapter.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/DomainsResponse.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/SiteStore.kt
Labels: [Store] Site

#2869 Enhances the fetch all-domains api call to resolve domain status
  example/src/main/java/org/wordpress/android/fluxc/example/DomainsFragment.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClientTest.kt
  example/src/test/resources/wp/all-domains/all-domains.json
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/AllDomainsResponse.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/SiteStore.kt
Labels: [Store] Site

#2871 Observe blaze campaigns
  example/src/test/java/org/wordpress/android/fluxc/store/blaze/BlazeCampaignsStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/blaze/BlazeCampaignsDao.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/blaze/BlazeCampaignsStore.kt
Labels: Blaze

#2873 Update SiteModel: Add column isSingleUserSite
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClientTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/SiteModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteWPComRestResponse.java
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
Labels: [Store] Site

#2868 [Nullability Annotations to Java Classes] Add Missing Nullability Annotations to `Comment` Network Client Classes (`safe`)
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_CommentTestWPCom.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_CommentTestXMLRPC.java
  example/src/test/java/org/wordpress/android/fluxc/comment/CommentSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/comment/CommentStoreUnitTest.java
  example/src/test/java/org/wordpress/android/fluxc/comments/CommentsXMLRPCClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/common/CommentsMapperTest.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/comments/CommentsRestClientTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/CommentStatus.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/comments/CommentsMapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/comment/CommentRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/comment/CommentWPComRestResponse.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/comment/CommentsRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/comment/CommentXMLRPCClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/comment/CommentsXMLRPCClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/CommentSqlUtils.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/CommentStore.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/CommentsStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/utils/CommentErrorUtils.java
Labels: Core, Tech Debt

#2870 [Nullability Annotations to Java Classes] Add Missing Nullability Annotations to All `Comment` SqlUtils & Model Classes (`breaking`)
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_CommentTestWPCom.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_CommentTestXMLRPC.java
  example/src/test/java/org/wordpress/android/fluxc/common/CommentsMapperTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/CommentModel.java
  fluxc/src/main/java/org/wordpress/android/fluxc/model/comments/CommentsMapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/CommentSqlUtils.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/CommentStore.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/CommentsStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/utils/CommentErrorUtils.java
Labels: Core, Tech Debt

#2872 [Nullability Annotations to Java Classes] Add Missing Nullability Annotations to `Discovery` Network Client Classes (`safe`)
  fluxc/src/main/java/org/wordpress/android/fluxc/network/discovery/DiscoveryRequest.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/discovery/DiscoveryUtils.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/discovery/DiscoveryWPAPIRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/discovery/DiscoveryXMLRPCClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/discovery/DiscoveryXMLRPCRequest.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/discovery/SelfHostedEndpointFinder.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/discovery/WPAPIHeadRequest.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/XMLRPCRequest.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/AccountStore.java
Labels: Core, Tech Debt

#2878 [Nullability Annotations to Java Classes] Add Missing Nullability Annotations to `Media` Network Client Classes (`safe`)
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_MediaTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_UploadStoreTest.java
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_UploadTest.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_MediaTestJetpack.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_MediaTestWPCom.java
  example/src/androidTest/java/org/wordpress/android/fluxc/release/ReleaseStack_MediaTestXMLRPC.java
  example/src/main/java/org/wordpress/android/fluxc/example/MediaFragment.java
  example/src/test/java/org/wordpress/android/fluxc/media/MediaSqlUtilsTest.java
  example/src/test/java/org/wordpress/android/fluxc/media/MediaStoreTest.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/BaseUploadRequestBody.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/media/MediaResponseUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/media/MediaRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/media/MediaWPComRestResponse.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/media/RestUploadRequestBody.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stockmedia/StockMediaRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/media/MediaXMLRPCClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/media/XmlrpcUploadRequestBody.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/MediaStore.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/UploadStore.java
  fluxc/src/main/java/org/wordpress/android/fluxc/utils/MediaUtils.java
Labels: Core, Tech Debt

#2881 Avoid possibility to create BaseNetworkError with null message
  fluxc/src/main/java/org/wordpress/android/fluxc/network/BaseRequest.java
Labels: [Type] Crash

#2884 Removes: Redundant fields from Blaze Campaign Response
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/blaze/BlazeCampaignsRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/blaze/BlazeCampaignsStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/blaze/BlazeCampaignsResponse.kt
Labels: Blaze
