Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2024-04, with the labels that each got.

#2986 Blaze API response type change
  fluxc/src/main/java/org/wordpress/android/fluxc/model/blaze/BlazeAdForecast.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/blaze/BlazeCreationRestClient.kt
Labels: Woo: REST API

#2985 [Better Errors] Detect Invalid Credentials scenario
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/Nonce.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/NonceRestClient.kt
Labels: Woo: REST API

#2987 Gift card networking
  fluxc-processor/src/main/resources/wc-wp-api-endpoints.txt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCGiftCardStats.kt
Labels: [Store] Woo: Stats

#2988 New REST AI client parameters
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/jetpackai/JetpackAIRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/jetpackai/JetpackAIStore.kt
Labels: Woo: REST API

#2990 Post conflict resolution for self-hosted sites
  fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/post/PostXMLRPCClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PostStore.java
Labels: Offline Support

#2994 Offline mode: conflict on scheduled posts
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/post/PostRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/post/PostXMLRPCClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/store/PostStore.java
Labels: Offline Support

#2993 Add subscribers endpoint
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/subscribers/SubscribersRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/persistance/stats/SubscribersSqlUtilsTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/subscribers/SubscribersFixtures.kt
  example/src/test/java/org/wordpress/android/fluxc/store/stats/subscribers/SubscribersStoreTest.kt
  fluxc-processor/src/main/resources/wp-com-endpoints.txt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/subscribers/SubscribersMapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/subscribers/SubscribersModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/subscribers/SubscribersRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/StatsSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/TimeStatsSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/StatsStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/subscribers/SubscribersStore.kt
Labels: [Type] enhancement, [Store] Stats

#2995 Utilities to improve observing products
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/StripProductMetaData.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/ProductSqlUtils.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
Labels: [Store] Woo: Product

#2996 Add "stats/emails/summary" endpoint
  fluxc-processor/src/main/resources/wp-com-endpoints.txt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/InsightsMapper.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/stats/subscribers/PostsModel.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/stats/subscribers/EmailsRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/InsightsSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/StatsSqlUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/StatsStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/stats/subscribers/EmailsStore.kt
Labels: [Type] enhancement, [Store] Emails

#3000 [Crash Fix] Update Woo-specific migration to run only for WooCommerce
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
Labels: [Type] bug, [Store] Woo: Product, [Type] Crash

#3001 Merge Release/2.77.1 to trunk
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
Labels: [Store] Woo: Product, [Type] Crash

#2999 Add SUBSCRIBERS as SubscriberType
  fluxc/src/main/java/org/wordpress/android/fluxc/store/StatsStore.kt
Labels: [Store] Stats
