Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2024-11, with the labels that each got.

#3109 [Media] Migrate WPCom media upload to `/wp/v2` endpoints
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_MediaTest.kt
  example/src/androidTest/java/org/wordpress/android/fluxc/mocked/MockedStack_UploadTest.java
  example/src/androidTest/resources/media-upload-response-success.json
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/media/BaseWPV2MediaRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/MediaStore.java
Labels: [Store] Media

#3113 Order form is dropping second last names unexpectedly
  example/src/test/java/org/wordpress/android/fluxc/model/customer/WCCustomerMapperTest.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/customer/WCCustomerMapper.kt
Labels: [Type] bug

#3111 [Woo] Add the product global unique id property
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductVariationModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductDtoMapper.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductVariationApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductVariationMapper.kt
Labels: Woo: REST API

#3112 Fix issue of deserializing `/wp/v2/media` response when having an empty `media_details.sizes` property
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/media/MediaWPRestResponse.kt
Labels: [Store] Media

#3114 [Woo POS][non-simple products] Remove empty filters condition from deleting stale products from database
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
Labels: [Store] Woo: Product
