Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2024-02, with the labels that each got.

#2952 Blaze: network implementations for targeting and AI suggestion endpoints
  example/src/test/java/org/wordpress/android/fluxc/store/blaze/BlazeCampaignsStoreTest.kt
  fluxc-annotations/src/main/java/org/wordpress/android/fluxc/annotations/endpoint/EndpointNode.java
  fluxc-processor/src/main/resources/wp-com-v2-endpoints.txt
  fluxc/schemas/org.wordpress.android.fluxc.persistence.WPAndroidDatabase/26.json
  fluxc/src/main/java/org/wordpress/android/fluxc/model/blaze/BlazeAdForecast.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/blaze/BlazeAdSuggestion.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/blaze/BlazeTargetingParameters.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/blaze/BlazeCreationRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/blaze/FakeBlazeTargetingRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WPAndroidDatabase.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/blaze/BlazeCampaignsDao.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/blaze/BlazeTargetingDao.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/blaze/BlazeCampaignsStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/utils/extensions/MapExtensions.kt
Labels: [PR] Not Ready for Merge, Blaze

#2953 Blaze: Add stubbed implementation of the payments endpoint
  example/src/test/java/org/wordpress/android/fluxc/store/blaze/BlazeCampaignsStoreTest.kt
  fluxc-processor/src/main/resources/wp-com-v2-endpoints.txt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/blaze/BlazePaymentMethods.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/blaze/BlazeCreationRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/blaze/BlazeCampaignsStore.kt
Labels: Blaze

#2949 [Credential Manager] Add raw challenge JSON data
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/auth/Authenticator.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/auth/webauthn/VolleyWebauthnRequests.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/auth/webauthn/WebauthnModels.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/AccountStore.java
Labels: [PR] Not Ready for Merge, Android 14

#2954 Blaze: campaign creation endpoint
  example/src/test/java/org/wordpress/android/fluxc/store/blaze/BlazeCampaignsStoreTest.kt
  fluxc-processor/src/main/resources/wp-com-v2-endpoints.txt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/blaze/BlazeCampaignCreationRequest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/blaze/BlazeCampaignType.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/model/blaze/BlazeTargetingParameters.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/blaze/BlazeCreationRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/blaze/BlazeCampaignsStore.kt
Labels: Blaze

#2956 Added Shipping Tax property to Order Data Layer
  plugins/woocommerce/schemas/org.wordpress.android.fluxc.persistence.WCAndroidDatabase/34.json
  plugins/woocommerce/src/androidTest/java/org/wordpress/android/fluxc/persistence/MigrationTests.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/OrderEntity.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderDto.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderDtoMapper.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/WCAndroidDatabase.kt
  plugins/woocommerce/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderDtoMapperTest.kt
Labels: [Store] Woo: Order

#2958 Allow filtering orders by customer and product
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCOrderListDescriptor.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
Labels: [Store] Woo: Order

#2961 Handles Default User-Agent Failure
  fluxc/src/main/java/org/wordpress/android/fluxc/network/UserAgent.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/UserAgent.kt
  fluxc/src/test/java/org/wordpress/android/fluxc/network/UserAgentTest.kt
Labels: [Type] Crash

#2960 Issue/add timeout error to list store
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ListStore.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCOrderStore.kt
Labels: [Store] Woo: Order
