Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2024-06, with the labels that each got.

#3027 [Bug] Add null check if response is null.
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/post/PostRestClient.java
Labels: [Type] bug

#3030 Issue/20295 Location metadata in uploaded pictures
  example/src/main/AndroidManifest.xml
  example/src/main/java/org/wordpress/android/fluxc/example/MediaFragment.java
  example/src/main/java/org/wordpress/android/fluxc/example/UploadsFragment.java
  fluxc/src/main/java/org/wordpress/android/fluxc/utils/ExifUtils.kt
Labels: [Type] bug

#3028 Adds OS version parameter in feature flags and dashboard cards endpoints
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/dashboard/CardsRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/mobile/FeatureFlagsRestClientTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/dashboard/CardsStoreTest.kt
  example/src/test/java/org/wordpress/android/fluxc/store/mobile/FeatureFlagsStoreTest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/dashboard/CardsRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/mobile/FeatureFlagsRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/mobile/FeatureFlagsStore.kt
Labels: [Type] enhancement, Dynamic cards

#3031 [Voice to Content] Endpoint adjustments
  fluxc/src/main/java/org/wordpress/android/fluxc/model/jetpackai/JetpackAIAssistantFeature.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/jetpackai/JetpackAIAssistantFeatureDto.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/jetpackai/JetpackAIRestClient.kt
Labels: Jetpack

#3022 [Woo Min/Max Quantities] Add Support to New REST API
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/StripProductMetaData.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/StripProductVariationMetaData.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductVariationModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductVariationApiResponse.kt
  plugins/woocommerce/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/StripProductMetaDataTest.kt
Labels: Woo: REST API

#3034 [Woo Min/Max Quantities] Sync Values Remotely
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductVariationMapper.kt
Labels: Woo: REST API

#3035 [Voice to Content] Fix NPE in jetpack ai query call
  example/src/main/java/org/wordpress/android/fluxc/example/JetpackAIFragment.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/jetpackai/JetpackAIQueryResponse.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/jetpackai/JetpackAIRestClient.kt
  tests/api/src/test/java/APITesting_WCOrder.java
Labels: Jetpack

#3037 [Woo: Min-Max Quantities] Parse errors
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCProductStore.kt
Labels: Woo: REST API
