Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2024-09, with the labels that each got.

#3089 Fix order pagination break
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ListStore.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/InsertOrder.kt
Labels: [Type] bug, [Store] Woo: Order

#3090 Fix load more
  fluxc/src/main/java/org/wordpress/android/fluxc/model/list/ListState.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ListStore.kt
Labels: [Type] bug, [Store] Woo: Order

#3092 Adds new campaign_id field to map from push notification payload
  fluxc/src/main/java/org/wordpress/android/fluxc/tools/FormattableContentMapper.kt
Labels: Blaze

#3093 New dimensions field
  example/src/test/java/org/wordpress/android/fluxc/wc/shippinglabels/WCShippingLabelStoreTest.kt
  example/src/test/resources/wc/shipping-labels-packages.json
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/shippinglabels/ShippingLabelRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCShippingLabelStore.kt
Labels: [Store] Woo: Shipping Label

#3095 Add campaigns/objectives endpoint
  example/src/test/java/org/wordpress/android/fluxc/store/blaze/BlazeCampaignsStoreTest.kt
  fluxc-processor/src/main/resources/wp-com-v2-endpoints.txt
  fluxc/schemas/org.wordpress.android.fluxc.persistence.WPAndroidDatabase/29.json
  fluxc/src/main/java/org/wordpress/android/fluxc/model/blaze/BlazeCampaignObjective.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/blaze/BlazeCreationRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WPAndroidDatabase.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/blaze/BlazeObjectivesDao.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/blaze/BlazeCampaignsStore.kt
Labels: Blaze

#3097 Add support to fetch WP media using v2 endpoint
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/media/BaseWPV2MediaRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/MediaStore.java
Labels: Blaze

#3098 Adds missing provider method for new Objective DAO
  fluxc/src/main/java/org/wordpress/android/fluxc/module/DatabaseModule.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WPAndroidDatabase.kt
Labels: [Pri] High, Blaze

#3100 [Deps] Add Back EventBus Android Dependency
  fluxc/build.gradle
  settings.gradle
Labels: Core

#3096 Product Password using site credentials
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/WellSqlConfig.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/WCProductModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductApiResponse.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductDtoMapper.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/ProductRestClient.kt
Labels: [PR] Not Ready for Merge, [Store] Woo: Product

#3101 Revert "[ANR fix] Move UserAgent initialization to a background thread"
  example/src/main/java/org/wordpress/android/fluxc/example/di/AppConfigModule.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/UserAgent.kt
  fluxc/src/test/java/org/wordpress/android/fluxc/network/UserAgentTest.kt
Labels: [Type] bug

#3103 Add new objective parameter to create campaign request
  fluxc/src/main/java/org/wordpress/android/fluxc/model/blaze/BlazeCampaignCreationRequest.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/blaze/BlazeCreationRestClient.kt
Labels: Blaze
