Repository wordpress-mobile/WordPress-FluxC-Android, pull requests merged in 2024-07, with the labels that each got.

#3044 CI: Add yaml language server schema to allow ides to recognize yml files
  .buildkite/pipeline.yml
Labels: Tooling

#3040 Hackweek: Customer with analytics
  example/src/test/java/org/wordpress/android/fluxc/store/WCCustomerStoreTest.kt
  plugins/woocommerce/schemas/org.wordpress.android.fluxc.persistence.WCAndroidDatabase/37.json
  plugins/woocommerce/src/androidTest/java/org/wordpress/android/fluxc/persistence/MigrationSchemasUtils.kt
  plugins/woocommerce/src/androidTest/java/org/wordpress/android/fluxc/persistence/MigrationTests.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/di/WCDatabaseModule.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/customer/WCCustomerFromAnalytics.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/customer/WCCustomerFromAnalyticsMapper.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/customer/WCCustomerMapper.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/customer/WCCustomerModel.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/customer/CustomerRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/WCAndroidDatabase.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/dao/CustomerFromAnalyticsDao.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/entity/CustomerFromAnalyticsEntity.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCCustomerStore.kt
  tests/api/src/test/java/APITesting_WCGateway.java
Labels: [Store] Woo: Customers

#3045 fix: Update published post date
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/post/PostRestClient.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/post/PostXMLRPCClient.java
Labels: [Type] bug

#3041 [GLA Analytics] Add networking support for Google Listings & Ads analytics
  fluxc-processor/src/main/resources/wc-wp-api-endpoints.txt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/google/WCGoogleAdsCampaign.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/google/WCGoogleAdsCampaignMapper.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/google/WCGoogleAdsPrograms.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/google/WCGoogleAdsProgramsMapper.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/google/WCGoogleAdsProgramsDTO.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/google/WCGoogleRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCGoogleStore.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WooCommerceStore.kt
Labels: [Store] Woo: Stats

#3047 [FluxC] Catch NumberFormatException in PrivateAtomicCookie
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/PrivateAtomicCookie.kt
Labels: [Type] Crash

#3048 [Dependency Update] Update `a8c-ci-toolkit` to 3.4.2
  .buildkite/pipeline.yml
  .buildkite/shared-pipeline-vars
Labels: Tooling

#3051 Disable WooCommerce API tests
  .buildkite/pipeline.yml
Labels: Tests

#3053 [Woo] Fix Site Credentials login when site discovery fails and site has http to https redirection
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/CookieNonceAuthenticator.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/WPAPIDiscoveryUtils.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/site/SiteWPAPIRestClient.kt
Labels: Woo: REST API

#3050 Get cached visitor stats
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCStatsStore.kt
Labels: [Store] Stats

#3055 [REST API] Improve site discovery to work with multiple Link headers
  example/src/main/java/org/wordpress/android/fluxc/example/MainFragment.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/network/discovery/WPAPIHeadRequest.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/discovery/WPAPIHeadRequest.kt
Labels: Woo: REST API

#3061 Fetch orders first page
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ListStore.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCOrderStore.kt
Labels: [Store] Woo: Order

#3059 [Build] Update Kotlin to 1.9.25 (++)
  build.gradle
  config/detekt/detekt.yml
  example/src/androidTest/java/org/wordpress/android/fluxc/release/utils/ListStoreConnectedTestHelper.kt
  example/src/main/java/org/wordpress/android/fluxc/example/MainFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ReactNativeFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/stats/WooRevenueStatsFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/ui/wooadmin/WooAdminFragment.kt
  example/src/main/java/org/wordpress/android/fluxc/example/utils/ViewGroupExt.kt
  fluxc-annotations/build.gradle
  fluxc-processor/build.gradle
  fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/media/BaseWPV2MediaRestClient.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/persistence/PlanOffersDao.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/store/ListStore.kt
  fluxc/src/main/java/org/wordpress/android/fluxc/tools/CoroutineEngine.kt
  fluxc/src/test/java/org/wordpress/android/fluxc/network/CustomRedirectInterceptorTest.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/shippinglabels/WCShippingPackageCustoms.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/dao/OrderMetaDataDao.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/dao/OrderNotesDao.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/dao/OrdersDao.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/entity/AddonEntity.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/entity/AddonOptionEntity.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/persistence/entity/WooPaymentsDepositsOverviewEntity.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCShippingLabelStore.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCStatsStore.kt
  plugins/woocommerce/src/test/java/org/wordpress/android/fluxc/persistence/dao/CouponsDaoTest.kt
  plugins/woocommerce/src/test/java/org/wordpress/android/fluxc/store/OrderUpdateStoreTest.kt
  settings.gradle
Labels: Core, Tooling

#3063 [Dependency Analysis] Add Android Gradle Plugin
  .buildkite/schedules/dependency-analysis.yml
  build.gradle
  gradle.properties-example
  settings.gradle
Labels: Core, Tooling

#3058 [Woo: GLA Analytics] Extend Google Programs endpoint
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/google/WCGoogleAdsPrograms.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/model/google/WCGoogleAdsProgramsMapper.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/google/WCGoogleAdsProgramsDTO.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/google/WCGoogleRestClient.kt
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCGoogleStore.kt
  plugins/woocommerce/src/test/java/org/wordpress/android/fluxc/store/WCGoogleStoreTest.kt
Labels: [Store] Woo: Stats

#3067 [ANR fix] Move UserAgent initialization to a background thread
  example/src/main/java/org/wordpress/android/fluxc/example/di/AppConfigModule.java
  fluxc/src/main/java/org/wordpress/android/fluxc/network/UserAgent.kt
  fluxc/src/test/java/org/wordpress/android/fluxc/network/UserAgentTest.kt
Labels: [PR] Not Ready for Merge

#3064 Fetch single order sync
  plugins/woocommerce/src/main/kotlin/org/wordpress/android/fluxc/store/WCOrderStore.kt
Labels: [Store] Woo: Order
